[2014-01-21 16:29] ElDeveloper commented on #589
Seems like a way to reproduce the problem is to use OS X 10.6.8 and Safari 5.1.10.

![issue_589](https://f.cloud.github.com/assets/375307/1965350/2ed1e990-82b9-11e3-944a-c7096c99768d.png)

[2014-01-21 18:27] adamrp commented on #589
I think this _might_ be due to the fact that some forms (e.g., sample_overview_000000001) are defined in menu.psp and the same name is used on results_portal.psp.  I'm going to change the name of the forms on results_portal.psp.  @ElDeveloper, do you have system to test on?  How did you generate the screenshot above?

[2014-01-21 18:30] ElDeveloper commented on #589
I generated the screenshot using the tower in the Skype room, has both 10.6.8 and 5.1.10. Let me know if you need any help.

[2014-01-21 18:32] adamrp commented on #589
Okay, thanks -- I'm going to deploy a potential fix to webdev and test it
on the tower.  Hopefully I can get that javascript error to stop popping
up, and hopefully I fixing that will fix the problem!

On Tue, Jan 21, 2014 at 11:30 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-01-21 18:36] ElDeveloper commented on #589
Great, thanks!

On Jan 21, 2014, at 11:32 AM, adamrp notifications@github.com wrote:

[2014-01-22 08:44] wasade commented on #589
Thanks!

On Tue, Jan 21, 2014 at 11:36 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-01-22 14:35] teravest commented on #589
We may have found a work around for this.  From my testing on the tower,
 when we try to recreate this, the links do not work from the participant
home screen, but they work from other pages.

On Wed, Jan 22, 2014 at 1:44 AM, Daniel McDonald
notifications@github.comwrote:

[2014-01-22 16:06] ElDeveloper commented on #589
Emily could you draft some workaround instructions and send those to the AG list? Such that anyone helping the current AG Master is aware of the problem and the temporary solution.

Thanks!

Yoshiki.

On Jan 22, 2014, at 7:35 AM, teravest notifications@github.com wrote:

[2014-01-22 17:14] teravest commented on #589
Yes I can do that, before I do that does anyone have any objection to me
asking the guy who seemed most competent in his response to test the work
around for us?

On Wed, Jan 22, 2014 at 9:06 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-01-22 17:35] ElDeveloper commented on #589
That actually would be a great idea! Hopefully he'll have some spare time to help us!

Yoshiki.

On Jan 22, 2014, at 10:14 AM, teravest notifications@github.com wrote:

[2014-01-22 22:46] teravest commented on #589
I was just looking into this and I cannot get the error to appear on webdev from the tower.  Could it have been fixed in a pull request that hasn't been merged yet?  Any ideas?

[2014-01-22 22:55] ElDeveloper commented on #589
Huh? So using webdev.microbio.me in the tower under Safari will work just fine?

Yoshiki.

On Jan 22, 2014, at 3:46 PM, teravest notifications@github.com wrote:

[2014-01-22 22:59] teravest commented on #589
Yes, using webdev on the tower works fine.   I think some of Megs changes
got deployed on webdev but not on live, but I could be wrong.

On Wed, Jan 22, 2014 at 3:55 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-01-22 23:00] ElDeveloper commented on #589
@meganap, @adamrp, could you guys confirm this?

Thanks!

Yoshiki.

On Jan 22, 2014, at 3:59 PM, teravest notifications@github.com wrote:

[2014-01-22 23:33] adamrp commented on #589
In class right now, but I can test later, hopefully.  @teravest, you can
use git log to check out the revision history to see what was merged and
compare that to the git log output on the live server.

On Wed, Jan 22, 2014 at 4:00 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-01-22 23:50] teravest commented on #589
@adamrp did you put your fix on webdev?  Here is the webdev git log
commit 42a4025e7bf7be210308d3a4e30bf4af420489a4 (HEAD, refs/heads/issue_589)
Merge: 78b92d1 20efe75
Author: wwwdevuser wwwdevuser@microbio.me
Date:   Tue Jan 21 12:01:47 2014 -0700

[code]

https://github.com/adamrp/qiime_web_appinto issue_589

commit 20efe7513972c9dcb64f78fc6a2a552d2c729eab
Author: Adam Robbins-Pianka adam.robbin

[2014-01-23 00:03] adamrp commented on #589
That is indeed the branch on my fork that would fix the problem; I couldn't
test it yesterday because Yoshiki and Antonio were using the tower at the
time, but if it works, that's great!

On Wed, Jan 22, 2014 at 4:50 PM, teravest notifications@github.com wrote:

[2014-01-23 00:27] ElDeveloper commented on #589
Ah, fantastic!! What a happy accident!

On Jan 22, 2014, at 5:03 PM, adamrp notifications@github.com wrote:

[2014-01-23 18:01] #587 closed, assigned to teravest

[2014-01-23 18:04] ElDeveloper commented on #563
This issue has already been fixed and deployed.

[2014-01-23 18:04] #563 closed, assigned to nobody

[2014-01-23 18:09] ElDeveloper opened #594 "The website is broken in IE 8"
It's not pretty guys:

![screen shot 2014-01-23 at 11 03 33 am](https://f.cloud.github.com/assets/375307/1987383/f0b4e256-8458-11e3-9eca-5dc9a9b56583.png)

You can't do anything:

![screen shot 2014-01-23 at 11 03 44 am](https://f.cloud.github.com/assets/375307/1987390/fb3aa54e-8458-11e3-9669-ec79dc0ab4ee.png)

I'm running in an XP machine with IE 8. I needed to download Chrome to be able to updat

[2014-01-23 18:35] teravest commented on #570
I think this has been taken care of and can be closed.

[2014-01-23 18:35] #570 closed, assigned to nobody

[2014-01-23 19:08] #577 closed, assigned to teravest

[2014-01-23 21:04] teravest commented on #565
I think we need something to retrieve kit ids by email, as well as something to retrieve passwords. I created a stored procedure on the test DB to retrieve kit ID by email.  Does anyone know if we have an IRB issue with creating a form to  send a kit ID by email based on email?

[2014-01-23 21:19] adamrp commented on #594
Wow, that's horrible.  Is there some security setting that's off by default
that prevents CSS or Javascript or HTML5 or something...?  How could it be
so bad?

On Thu, Jan 23, 2014 at 11:09 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-01-23 21:19] adamrp commented on #594
*on by default

On Thu, Jan 23, 2014 at 2:18 PM, Adam Robbins-Pianka <
adam.robbinspianka@colorado.edu> wrote:

[2014-01-23 21:23] adamrp commented on #565
IRB questions should be directed to Gail, so shoot her an email.

On Thu, Jan 23, 2014 at 2:04 PM, teravest notifications@github.com wrote:

[2014-01-23 21:34] ElDeveloper commented on #594
I have no idea, @meganap, any thoughts?

On Jan 23, 2014, at 2:19 PM, adamrp notifications@github.com wrote:

[2014-01-23 21:35] ElDeveloper commented on #565
cc. @ackermang.

On Jan 23, 2014, at 2:23 PM, adamrp notifications@github.com wrote:

[2014-01-23 21:49] megalodonatron commented on #594
The menu looking like that def has to do with some of the css either not loading or being ignored, as the menus are pure css and don't rely on any javascript for their look/functionality.

If I'm reading the charts here http://en.wikipedia.org/wiki/Comparison_of_layout_engines_(Cascading_Style_Sheets) correctly, IE doesn't even support css2 properties like margin and visibility, which I use extens

[2014-01-23 21:58] megalodonatron commented on #576
This is fixed by #575

[2014-01-23 21:58] #576 closed, assigned to meganap

[2014-01-23 22:00] megalodonatron commented on #298
Util exists so this thread should be closed and any issues with the barcode scanner util should be opened as new tickets.

[2014-01-23 22:00] #298 closed, assigned to nobody

[2014-01-23 22:05] #503 closed, assigned to nobody

[2014-01-23 22:06] #568 closed, assigned to meganap

[2014-01-23 22:08] megalodonatron commented on #375
This is fixed.

[2014-01-23 22:08] #375 closed, assigned to meganap

[2014-01-23 22:12] megalodonatron commented on #401
This is done

[2014-01-23 22:12] #401 closed, assigned to meganap

[2014-01-23 22:25] ElDeveloper commented on #298
Woww, that's an old issue, thanks for looking through these!

On Jan 23, 2014, at 3:01 PM, Meg Pirrung notifications@github.com wrote:

[2014-01-23 22:27] ElDeveloper commented on #594
Nice! Should we then have a pop up that prevents them from using IE 8 and lower?

On Jan 23, 2014, at 2:49 PM, Meg Pirrung notifications@github.com wrote:

[2014-01-23 22:28] megalodonatron commented on #594
That seems like the best solution to me.

[2014-01-24 08:36] wasade commented on #565
I think we want to allow them to change passwords, not retrieve. Agree that
we need @ackermang to comment on the kit ID

On Thu, Jan 23, 2014 at 2:35 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-01-24 08:42] wasade commented on #503
ohhh... awesome, this is a good call

On Thu, Jan 23, 2014 at 3:05 PM, Meg Pirrung notifications@github.comwrote:

[2014-01-24 15:09] teravest commented on #565
I agree on changing password. Sorry I was unclear in my last message.  I
sent @ackermang an email asking about kit I'd retrieval.
On Jan 24, 2014 1:36 AM, "Daniel McDonald" notifications@github.com wrote:

[2014-01-27 17:58] teravest commented on #558
I agree this is confusing.  There is no way to log it if consent is missing, and right now the code is only checking to see if the info is missing it doesn't do any consent checking at all. Actually there isn't really a good way at all from wwwadmin to see if a sample has consent or not.  This is definitely something we should look into fixing.

[2014-01-27 20:55] adamrp commented on #558
Even in the database, the only way we can tell if a sample has consent is
if there is a row in ag_human_survey for the participant with which the
sample is associated.  There are (at least) a couple problems with this:
- The participant can disassociate the sample with him/herself
- The participant can remove him/herself

On Mon, Jan 27, 2014 at 10:58 AM, teravest notifications@github.com wrote:

[2014-01-27 21:34] teravest opened #597 "update consent from"
The correct consent form was sent in an email to the list today.

[2014-01-29 18:40] #585 closed, assigned to adamrp

[2014-01-29 19:05] #597 closed, assigned to teravest

[2014-01-29 19:26] #589 closed, assigned to nobody

[2014-01-29 23:03] wasade opened #604 "Remove extraneous try/excepts"
See brief discussion in #572

[2014-01-31 18:21] ElDeveloper opened #605 "Environmental sample button doesn't work"
The button on the left side bar is not working, the only workaround right now is to click on **Log Sample** and then look for the **Environmental Sample** option in the list.

[2014-01-31 19:45] #605 closed, assigned to nobody

[2014-02-03 22:38] teravest opened #608 "assign kit to project"
We need a WWWadmin function to assign all the barcodes in a kit to a specific project.

To do this I think I need 2 new stored procedures
get_barcodes_by_kit_id  and set_barcode_proj_type.

On the WWWadmin page, should this be under edit existing kit or should it be a new  link?  Or both?  What is more functional?

Any opinions?

I am hoping to get this done this week, we will see how jury duty go

[2014-02-03 23:24] adamrp commented on #608
This sounds good, thanks, Emily! I think the functionality can go in the
edit existing kit section.  We also probably want to put an option in the
"Add New Kit" section so you can select the project when creating a kit.

On Mon, Feb 3, 2014 at 3:38 PM, teravest notifications@github.com wrote:

[2014-02-03 23:35] teravest commented on #608
Thats a good idea,

the only problem with that is when you create a kit, it doesn't have any
barcodes in it.
My understanding of the current workflow is
Create kit
create barcode
and barcode to kit
@wasada is that correct?

Right now all new barcodes are created under "American Gut Project"  that
is hardcoded in the stored procedure to create a new barcode.

We would have to change the assign barc

[2014-02-03 23:47] adamrp commented on #608
Do other projects even have kits?  Or is AG the only project that has kits
comprising multiple barcodes?

On Mon, Feb 3, 2014 at 4:35 PM, teravest notifications@github.com wrote:

[2014-02-03 23:54] teravest commented on #608
As far as I know kits are AG specific, but I'm not sure.

On Mon, Feb 3, 2014 at 4:47 PM, adamrp notifications@github.com wrote:

[2014-02-05 22:05] adamrp opened #613 "After merge of #607, change change_password.psp to use new proc"
Currently, `ag_data_access.updateAGKit` is used to update the password on that page, but @teravest wrote a proc specifically for changing passwords that can be used instead.

[2014-02-06 16:23] ElDeveloper commented on #613
:+1:

[2014-02-06 17:35] adamrp opened #614 "update portal.psp to remove inline SQL code"
Right now, the code uses an in-line SQL query, but we have a procedure `AG_GET_KIT_DETAILS` that returns the same (and more) information that we might as well use instead.

[2014-02-07 00:01] teravest commented on #540
The real issue here is not being able to overwrite a study.  I just thought of another way to fix this.
The real issue here is on edit study the study_id is coming from sess when the submit button is pressed.  What if when the page is loaded we save the study id, then we have two options.  We can submit the saved study id or we can verify the study id is the same as what is in sess and only submit

[2014-02-07 14:56] adamrp commented on #540
Yeah, i think that could work!
On Feb 6, 2014 5:01 PM, "teravest" notifications@github.com wrote:

[2014-02-07 16:28] ElDeveloper commented on #540
That sounds good, would we also save the study identifier in the session dictionary?

:+1:

[2014-02-07 17:01] adamrp commented on #540
Yes, I think the study_id needs to be stored in the session (as it
currently is), and if we store it also in a hidden form input as Emily
suggests, we should be able to use that (instead of the study_id in the
session) when updating study information.  The reason to keep it stored in
the session as well is that there may be other parts of the web app that
expect it to be there and depend on it.

O

[2014-02-07 17:07] teravest commented on #540
I am not changing anything that already exists in the session.  Just adding
it to the form and using the form value instead of the session value when
editing.
As soon as I fix my git failure I will issue a pull request.

On Fri, Feb 7, 2014 at 10:01 AM, adamrp notifications@github.com wrote:

[2014-02-11 01:53] wasade opened #616 "Expand out the functionality of the contact us page"
Including a drop down menu for the type of question can help differentiate the subject used on the email. In addition, we need to properly setup the reply-to address field so that it goes to the participant, and add on some type of differentiation in the subject line so gmail doesn't aggregate everything.

[2014-02-11 02:10] adamrp commented on #616
Has gmail been aggregating emails?  I haven't noticed this.

[2014-02-11 02:34] wasade commented on #616
Remember the international incident?

On Mon, Feb 10, 2014 at 7:10 PM, adamrp notifications@github.com wrote:

[2014-02-11 02:37] adamrp commented on #616
That was a result of Jeff sending an email to all participants with our
email address as the reply to address (this was a nightmare, but not caused
by our help request functionality).  We can, of course, bulletproof things
by appending a GUID to the end of every email sent through our interface...
not sure if it's necessary though, since it's never been a problem.

On Mon, Feb 10, 2014 at 7:34 PM,

[2014-02-11 02:42] wasade commented on #616
Nope, that was sent by me by the help account. We do have some emails that
aggregate if the subject is the same on the help account though, but I'm
not sure of the exact situations when it does

On Mon, Feb 10, 2014 at 7:37 PM, adamrp notifications@github.com wrote:

[2014-02-11 02:42] wasade commented on #616
...unless I'm misremembering, been a bit of an insane few months I suppose

On Mon, Feb 10, 2014 at 7:42 PM, Daniel T. McDonald <
Daniel.Mcdonald@colorado.edu> wrote:

[2014-02-11 02:47] adamrp commented on #616
Oh, I'm not sure... it's the email on the account with the subject "To the
international participants of the American Gut Project." that has 92
replies (it's not signed with anyone's particular name). It looks like it
might have been sent directly from the help account, but still not through
the interface on the website.

On Mon, Feb 10, 2014 at 7:42 PM, Daniel McDonald
notifications@github.comwro

[2014-02-11 02:48] wasade commented on #616
Definitely not through the website. Concern is just what gmail is going to
do

On Mon, Feb 10, 2014 at 7:47 PM, adamrp notifications@github.com wrote:

[2014-02-11 14:56] teravest commented on #616
We could let the participants write the subject, or use the kit id and have
the page put the question from the drop down in the first line of the
email, then filter based on email body starts with in gmail.

On Mon, Feb 10, 2014 at 7:48 PM, Daniel McDonald
notifications@github.comwrote:

[2014-02-11 15:12] adamrp commented on #616
I honestly have never seen gmail aggregate emails from different senders
when they use the help interface.  If we are truly worried about this, then
using a GUID for each email sent from the help interface is the way to go.
 I don't have strong feelings about letting the user write the subject
line, but in any case I think we should inject a signal into the subject
line (based on the question sele

[2014-02-11 16:51] ElDeveloper commented on #616
:+1:  I like the idea of adding a tag to the subject such that we apply some gmail magic and organize these neatly.

On Feb 11, 2014, at 8:12 AM, adamrp notifications@github.com wrote:

[2014-02-11 22:53] teravest opened #618 "Use HTTPS"
We really should...

[2014-02-11 22:54] teravest opened #619 "protect wwwadmin"
Should we protect wwwadmin so that you have to be on the vpn to access it?

[2014-02-11 22:57] ackermag commented on #619
I think that is a good idea...
Gail

On Tue, Feb 11, 2014 at 3:54 PM, teravest notifications@github.com wrote:

##

Gail Ackermann
Knight Lab UCB 596
University of Colorado
Boulder

[2014-02-11 22:57] ElDeveloper commented on #618
:+1:

2014-02-11 15:53 GMT-07:00 teravest notifications@github.com:

[2014-02-11 22:58] ElDeveloper commented on #619
:+1:

2014-02-11 15:57 GMT-07:00 ackermag notifications@github.com:

[2014-02-11 22:59] adamrp commented on #618
Yep!  Do we need a new certificate for this, or can we use an existing one?
 Probably a subject for the upcoming systems meeting.

On Tue, Feb 11, 2014 at 3:57 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-02-11 23:11] adamrp commented on #619
We should ask Daniel/Jeff about the frequency and type of attacks we are
experiencing, as it may help us decide whether this is worth the headaches
that Antonio was concerned with.  I, personally, am fine having it behind
VPN.

On Tue, Feb 11, 2014 at 3:58 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-02-13 17:30] adamrp opened #622 "wwwadmin "Edit existing barcode" is ugly"
How about on the barcode scanner page, we just have a button that says "edit barcode"?  Because right now, the "edit existing barcode" dropdown is really annoying to navigate.  If we did this, we could remove the "Edit existing barcode" link from the menu (or just leave it there, but it might get confusing).  Thoughts?

[2014-02-13 22:57] teravest opened #623 "Emp login redirects to www"
even when on virtual box or webdev...

[2014-02-14 16:03] teravest opened #625 "switch project assignment to barcdoes"
Change edit barcode to assign projects by bacrode not kit.

[2014-02-14 16:04] teravest opened #626 "separate barcode utilities from american gut utilities"
Some of the barcode utilities are more general than american gut and should be separated in WWW admin

[2014-02-14 18:32] elainewolfe opened #628 "consent form emailed to participants for record keeping"
A lot of participants are replying to the automated email sent out to give them a copy of the consent form. Maybe we could add something either in the subject line or the body saying "THIS IS A COPY OF THE CONSENT FORM FOR YOUR RECORDS". That might reduce confusion.

[2014-02-14 20:30] ElDeveloper commented on #628
:+1:

Yoshiki Vázquez-Baeza

[2014-02-14 21:13] teravest commented on #608
Fixed in #612

[2014-02-14 21:13] #608 closed, assigned to teravest

[2014-02-14 21:58] adamrp commented on #628
I agree -- this has caused confusion for several participants in the past.
 Clearly, people that are confused by this are people who are not actually
reading the consent form that they're signing electronically, but whatever.
 I'm all for changing the subject line (which I hope they actually
_are_ reading)
to be more explicit...

On Fri, Feb 14, 2014 at 1:30 PM, Yoshiki Vázquez Baeza <
notificatio

[2014-02-17 16:34] ElDeveloper opened #629 "Update links pointing to github.com/qiime/"
The data-analysis repository now officially lives under github.com/biocore

[2014-02-18 00:35] adamrp opened #630 "Problem with multiple kits when results are ready"
There is a problem where if someone has multiple kits and also has results ready, then they cannot verify a kit (even if they log in with an unverified kit).

[2014-02-18 16:45] #630 closed, assigned to adamrp

[2014-02-18 16:49] ElDeveloper commented on #482
This issue has been resolved.

[2014-02-18 16:49] #482 closed, assigned to nobody

[2014-02-18 16:52] ElDeveloper commented on #442
@teravest resolved this issue in #600

[2014-02-18 16:52] #442 closed, assigned to nobody

[2014-02-20 19:37] adamrp opened #633 "python_code/write_mapping_file.py"
MIND = BLOWN

![](http://i3.kym-cdn.com/photos/images/newsfeed/000/288/648/776.gif)

Started innocently enough.... All I wanted to do was strip newlines out of some database fields before they were written to a mapping file, which led me to this code.

I'm not even going to mention the fact that there are two _NEARLY identical_ functions in this file (aside from the names of the functions, which a

[2014-02-20 19:41] rob-knight commented on #633
I like not this code. Bring me some other code…

On Feb 20, 2014, at 12:37 PM, adamrp <notifications@github.com<mailto:notifications@github.com>> wrote:

MIND = BLOWN

[https://github-camo.global.ssl.fastly.net/e83c22e91f0d3f2731c23f0a93b0a36a178a99be/687474703a2f2f69332e6b796d2d63646e2e636f6d2f70686f746f732f696d616765732f6e657773666565642f3030302f3238382f3634382f3737362e676966]https://github-camo

[2014-02-20 20:19] adamrp commented on #633
**News!** Python is being redefined to make `<>` the standard not-equals operator, and loops that do nothing will extend your natural life equal to the number of CPU hours wasted!

[2014-02-20 20:24] ElDeveloper commented on #633
:+1:

[2014-02-21 19:52] ElDeveloper commented on #446
This issue was closed a while ago by @RNAer in #448

[2014-02-21 19:52] #446 closed, assigned to RNAer

[2014-02-21 20:02] ElDeveloper commented on #455
AFAIK this is no longer a problem right? @adamrp or @wasade can any of you confirm that this is not something we can control? i. e. this is a problem that has to be taken care of when the sheet is generated in FundRazr?

[2014-02-21 20:48] adamrp commented on #455
Can neither confirm nor disconfirm, sorry
On Feb 21, 2014 1:02 PM, "Yoshiki Vázquez Baeza" notifications@github.com
wrote:

[2014-02-23 21:50] wasade commented on #455
this was fixed a while ago, basically we just dont generate verification
codes that start with a 0

On Fri, Feb 21, 2014 at 1:48 PM, adamrp notifications@github.com wrote:

[2014-02-24 15:43] ElDeveloper commented on #455
Awesome, thanks!

Yoshiki Vázquez-Baeza

[2014-02-24 18:35] ElDeveloper commented on #170
Ok, this has been tested and the result of this is #546 and #594, I'll close this issue in favor of those other two.

[2014-02-24 18:35] #170 closed, assigned to douginator2000

[2014-02-24 18:45] ElDeveloper opened #634 "Add text to the FAQ describing the changes in the printed vs online results"
Noting that the more data we add some of these plots will be changing (PCoA) and that once the data is re-picked with more recent versions of the GreenGenes database some of the taxonomic assignments will change.

[2014-02-24 19:27] adamrp commented on #170
Thanks!

On Mon, Feb 24, 2014 at 11:35 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-02-24 19:35] adamrp commented on #634
Definitely -- we should also add a brief description/summary of this FAQ
(or at least a link to the perticular FAQ) on the sample overview page so
that people see it

On Mon, Feb 24, 2014 at 11:45 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-02-24 19:36] teravest commented on #634
:+1:

On Mon, Feb 24, 2014 at 12:35 PM, adamrp notifications@github.com wrote:

[2014-02-25 20:58] teravest opened #635 "Add plate well tracking to wwwadmin"
Next week I am planning to start working on the plate map tracking, including the well location.

I am envisioning two pieces to this
A plate page that has a gird representing a 96 well plate. This page would be used to edit existing plate, create new plates, and fill in the blank row in a plate.
A well can be selected from the barcode scanner.  Ideally similar to the date popup box, where you can

[2014-02-25 21:59] rob-knight commented on #635
Adding the lab group for comment but this sounds awesome…especially if there is compatibility to/from an Excel-readable spreadsheet and/or google spreadsheet.

On Feb 25, 2014, at 1:58 PM, teravest <notifications@github.com<mailto:notifications@github.com>> wrote:

Next week I am planning to start working on the plate map tracking, including the well location.

I am envisioning two pieces to this

[2014-02-25 23:13] ElDeveloper opened #636 "Irrelevant column in study ebi_files_sent"
The column ebi_files_sent in the study table is irrelevant and being used in some places in the code-base. Just opening an issue to note that this column is not appropriately updated in the `submit_metadata_to_ebi_sra.py` script.

@teravest ran a query on the live database and there's only one study that has this flag set to a value different than 0.

[2014-02-26 00:21] ElDeveloper opened #637 "Possible problem with EBI"
The workflow used to submit the per-sample FASTQ-formatted files only verifies that the checksums exist and does not actually verify that they match with the files, this is prone to error when a study is reprocessed because the previous sequences that were assigned will be the ones for which the sequence file checksum will match not for the current one.

Look at lines [481 to 485](https://github.c

[2014-03-03 20:26] teravest commented on #455
We are creating verification codes that start with zero still.  I just got
one from the web app.

On Mon, Feb 24, 2014 at 8:43 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-03-07 14:47] teravest opened #641 "Add search for ag_handout_kits table"
If we issue a handout kit,  the only way to check the credentials is to use sql developer.   It would be nice to have a wwwadmin page to search this so if someone emails the help account we can get them the information they need without using sql developer.

[2014-03-07 15:40] adamrp commented on #641
:+1:

On Fri, Mar 7, 2014 at 7:47 AM, teravest notifications@github.com wrote:

[2014-03-07 16:48] teravest opened #642 "make contact us reply to sender"
in  [mail.py](https://github.com/qiime/qiime_web_app/blob/master/python_code/utils/mail.py#L24)

we have a global variable for the return address.  If we change that and allow a return address as input to the function we could make the return address be the address inputed by the participant and reply from the help account would actually work.

[2014-03-07 16:53] adamrp commented on #642
If I remember correctly, @ElDeveloper and I tried this, and it wouldn't
work.  I'd be very happy if we could get it to work!  Be sure to test on
webdev, since it won't work from VB anyways.

On Fri, Mar 7, 2014 at 9:48 AM, teravest notifications@github.com wrote:

[2014-03-07 17:53] ElDeveloper commented on #642
:+1:

On Mar 7, 2014, at 9:53 AM, adamrp notifications@github.com wrote:

[2014-03-09 17:10] wasade opened #645 "qiime db is not sending activation emails"
So new users cannot register

[2014-03-10 13:51] adamrp commented on #645
@wasade I think it actually is, right? This turned out not to be an issue?

[2014-03-10 14:48] wasade commented on #645
It could have been an instance where the users email server was filtering

On Monday, March 10, 2014, adamrp notifications@github.com wrote:

[2014-03-10 15:41] adamrp commented on #645
Yeah, I think that's what he said was happening, since he tried with a different email address and it worked correctly.  Or perhaps he mis-typed his email address on the registration page.  If the latter is the case, we _could_ have people enter their email address twice to help confirm the spelling, but I'm not sure it's necessary.  If you want to add another text box on the registration page for

[2014-03-10 15:41] #645 closed, assigned to nobody

[2014-03-18 19:22] adamrp commented on #14
@ElDeveloper I think this is resolved, right?

[2014-03-18 19:32] ElDeveloper commented on #14
Yes, I have not seen this in a while.

[2014-03-18 19:32] #14 closed, assigned to douginator2000

[2014-03-20 17:34] adamrp opened #649 "assigned_from_geo should be 'y' not 'n' in all cases"
Need to update the metadata getter, found this out after discussion with @ackermag

[2014-03-20 17:40] adamrp opened #650 "add countries to metadata getter"
`select country, count(*) as num_examples from ag_login group by country order by 2 desc;`

this query shows that there are far more countires than the metadata getter is currently accounting for.

[2014-03-20 20:38] teravest opened #652 "Kit_id and Password creating should be consistent with web and script"

[2014-03-21 20:18] teravest commented on #642
fixed in #644

[2014-03-21 20:18] #642 closed, assigned to nobody

[2014-03-22 00:16] #46 closed, assigned to nobody

[2014-03-22 19:01] #649 closed, assigned to adamrp

[2014-03-22 19:01] #650 closed, assigned to adamrp

[2014-03-24 18:46] teravest opened #654 "Add collate and public to WWWadmin"
It would be nice to have the ability to collate a study and make it public from the wwwadmin webpage.

[2014-03-24 19:07] adamrp commented on #654
This would be great -- ideally, the page for this functionality would
expose the other options from the collation script (public, produce fastq
as well as fasta, and a flag for metagenomic study)

In terms of implementation, I'm not sure what the easiest way is to do
this.  What would be best probably would be to call the actual library code
that is being used by the collation script.

Adam

On Mo

[2014-03-24 20:16] ElDeveloper commented on #654
:+1:

[2014-03-25 14:51] teravest opened #655 "EMP login page doesnt have reset password option"
The EMP login page is missing info that the qiime login page has, including reset password and change password.  This is related to #623

[2014-03-25 23:25] ackermag commented on #655
Thanks Emily

On Tue, Mar 25, 2014 at 8:51 AM, teravest notifications@github.com wrote:

##

Gail Ackermann
Knight Lab UCB 596
University of Colorado
Boulder

[2014-03-26 18:51] #641 closed, assigned to teravest

[2014-03-26 22:07] adamrp opened #658 "animal survey metadata pulldown"
Need to get animal survey metadata pulldown in place

[2014-03-31 15:45] #658 closed, assigned to adamrp

[2014-04-01 18:40] teravest opened #663 "password change doesnt check password conformation"
You can change your password by entering 2 different values for the password and the password confirmation.

[2014-04-01 18:41] teravest opened #664 "password change sends an activation email"
when you change your password you get an email to activate your account.

[2014-04-01 20:04] ackermag opened #665 "change metadata uploader to validate run prefixes as well as metadata fields"
Currently this is a 2 step process:
1. fix issues with sample and prep template;
2. Then submit to qiime for processing where run prefixes are checked.
Can this all be done in step 1?

[2014-04-01 20:20] adamrp commented on #665
It occurs to me that we frequently upload metadata _before_ we have
sequence files.  In those cases, the run prefixes cannot be checked during
metadata upload.

On Tue, Apr 1, 2014 at 2:04 PM, ackermag notifications@github.com wrote:

[2014-04-03 14:42] teravest opened #666 "Change pictures linked in addendum.psp"
the pictures on this page http://www.microbio.me/americangut/addendum.psp
say genius instead of Genus.

[2014-04-03 16:13] ElDeveloper commented on #666
Closed in #667.

[2014-04-03 16:13] #666 closed, assigned to nobody

[2014-04-07 17:09] teravest opened #671 "Add checkmark asking if people want results"
This was brought up in the AG meeting today.  It would be good to ask people they want their paper results before sending them and track that info in the database.

[2014-04-07 17:35] rob-knight commented on #671
Specifically, idea is to make it opt-in for paper certificate.

On Apr 7, 2014, at 11:09 AM, teravest <notifications@github.com<mailto:notifications@github.com>> wrote:

This was brought up in the AG meeting today. It would be good to ask people they want their paper results before sending them and track that info in the database.

—
Reply to this email directly or view it on GitHubhttps://github.

[2014-04-07 19:06] adamrp commented on #671
After discussions between Jeff Leach and @rob-knight via email, it looks like we do not need this checkbox.

[2014-04-07 19:06] #671 closed, assigned to adamrp

[2014-04-07 20:56] adamrp opened #672 "Change metadata checker to check for animals on wwwadmin"
If metadata pulldown fails for human, check for animal.  Only raise "could not pull down metadata" error if both fail.

[2014-04-08 17:38] #672 closed, assigned to adamrp

[2014-04-14 19:27] ElDeveloper opened #674 "We are not linking to the addendum.psp"
This useful resource is not being linked anywhere:

www.microbio.me/americangut/addendum.psp

[2014-04-14 19:41] teravest commented on #674
It is call "how do I interpret my results?"  under participant resources
when you are logged in .

On Mon, Apr 14, 2014 at 1:27 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-04-14 19:49] ElDeveloper commented on #674
Ah right, I think we had this discussion before, but do you think we should add this to the website even if you are not logged in.

On Apr 14, 2014, at 1:41 PM, teravest notifications@github.com wrote:

[2014-04-14 22:04] teravest opened #675 "tracking who gets results"
Since we are getting rid of paper results we need to track who gets them from now on.

I think this has to be done at a kit level, so if a tube is replaced the participant still gets paper results.

We need to add two columns in the database,  one in ag_kit and one in ag_handout_kit both should be called gets_paper_results and the default should be 'N'.
Then after the April 15th kits are made, eve

[2014-04-15 14:08] adamrp commented on #674
Yeah, that would probably be useful to many people.
On Apr 14, 2014 1:49 PM, "Yoshiki Vázquez Baeza" notifications@github.com
wrote:

[2014-04-15 17:09] wasade commented on #674
+1

On Tue, Apr 15, 2014 at 8:08 AM, adamrp notifications@github.com wrote:

[2014-04-15 19:26] wasade opened #676 "Centralize database connection and cursor creation"
See comment [here](https://github.com/qiime/qiime_web_app/pull/607#issuecomment-40509780)

[2014-04-15 22:08] adamrp opened #677 "Add "water" environmental sample type"
Jeff wanted to take a water sample, but this sample type is not currently available.

[2014-04-16 17:34] teravest opened #678 "Enviromental Samples come up as missing info"
If a sample is logged as environmental there is no survey, and it is showing up as missing metadata in the scan barcode app.
Barcode 000014570 is an example.

[2014-04-16 17:53] adamrp commented on #678
I'll take this one.  Have we been plating and sequencing environmental samples up to this point?

[2014-04-17 00:46] ackermag commented on #678
The only environmental samples that I know of are from Mercola, Michael
Pollan and this new sample..
gail

On Wed, Apr 16, 2014 at 11:53 AM, adamrp notifications@github.com wrote:

##

Gail Ackermann
Knight Lab UCB 596
University of Colorado
Boulder

[2014-04-17 01:54] elainewolfe commented on #678
I think some people have submitted some fermented food samples, which would categorize under environmental. I'll see if I can hunt them down.

[2014-04-17 02:01] ackermag commented on #678
one is from Michael Pollan...kim chi

On Wed, Apr 16, 2014 at 7:54 PM, elainewolfe notifications@github.comwrote:

##

Gail Ackermann
Knight Lab UCB 596
University of Colorado
Boulder

[2014-04-17 14:32] teravest commented on #675
Assigning to myself

[2014-04-17 15:37] #677 closed, assigned to adamrp

[2014-04-18 19:43] ElDeveloper opened #680 "Barcode images"
We haven't updated the images that show the barcodes on the main user interface thus showing broken links for people when they login.

[2014-04-18 20:05] ElDeveloper opened #681 "Fix register user"
@teravest pointed out that there are a couple of problems with this issue:
- There's a problem with the layout (this issue depends on #607 being fixed).
- The code is ~~a little bit~~ messy.
- ~~Catch and deal with the exception that can gets thrown when a user tries re-register a kit.~~(fixed by #682)

[2014-04-19 14:34] teravest commented on #681
I am dealing with the 3rd thing in this list right now.

[2014-04-19 14:47] ElDeveloper commented on #681
Thanks, I'll tackle the first item.

[2014-04-22 01:48] adamrp commented on #680
Ah, yeah, that's a really good point.  Where are these images? It's really simple - just have to move them to the web server. @wasade, do you know when these images are generated and where I might pull them from?

[2014-04-22 02:58] wasade commented on #680
They're generated from the site we punch for the barcodes. Is the directory
of images (
https://github.com/qiime/qiime_web_app/tree/master/www/americangut/img/barcodes)
not up to date? If not, I'll need to dig around to find where the missing
ones are, but I thought I pushed them

On Mon, Apr 21, 2014 at 7:48 PM, adamrp notifications@github.com wrote:

[2014-04-22 03:04] teravest commented on #680
these stop at 13672, we are up to at least 16xxx now.

On Mon, Apr 21, 2014 at 8:58 PM, Daniel McDonald
notifications@github.comwrote:

[2014-04-22 03:29] wasade commented on #680
I'll dig
On Apr 21, 2014 9:04 PM, "teravest" notifications@github.com wrote:

[2014-04-22 05:22] adamrp opened #683 "EBI submission is currently broken"
The imports in live_ebi_sra_rest_services.py ([Lines 12-21](https://github.com/qiime/qiime_web_app/blob/master/python_code/live_ebi_sra_rest_services.py#L12-L21)) need to be cleaned up; the biggest problem is line 12, where `environ` is imported from `os.path` when in fact it is in `os`.

[2014-04-22 15:52] #683 closed, assigned to adamrp

[2014-04-22 15:53] wasade commented on #680
what about if we just stop displaying the barcode images?

On Mon, Apr 21, 2014 at 9:29 PM, Daniel T. McDonald <
Daniel.Mcdonald@colorado.edu> wrote:

[2014-04-22 16:03] ElDeveloper commented on #680
That's an option, another one-off option would be to generate a bunch of them and not worry about them for a while, though I don't know if this is easy/hard.

On Apr 22, 2014, at 9:53 AM, Daniel McDonald notifications@github.com wrote:

[2014-04-22 16:08] adamrp commented on #680
I'm fine with just dropping them -- currently, it is a checkbox next to a
text version of the barcode, next to a picture of the number -- is it
really necessary?

On Tue, Apr 22, 2014 at 10:04 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-04-22 16:10] teravest commented on #680
is any human eye going to be able to match up a barcode image anyway :)

On Tue, Apr 22, 2014 at 10:08 AM, adamrp notifications@github.com wrote:

[2014-04-22 16:16] ElDeveloper commented on #680
Don't think so, we probably should "trick" the user by showing a generic barcode and the numbers bellow.

On Apr 22, 2014, at 10:10 AM, teravest notifications@github.com wrote:

[2014-04-22 16:35] adamrp commented on #680
...Or develop a new package for producing barcodes using ASCII art. Genius.

On Tue, Apr 22, 2014 at 10:16 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-04-22 16:42] teravest commented on #680
Can each barcode should have a doge in it ;)

On Tue, Apr 22, 2014 at 10:35 AM, adamrp notifications@github.com wrote:

[2014-04-22 16:58] adamrp commented on #678
Oh. @teravest, to clarify, does it come up as missing metadata (pink error) or missing info (yellow error)?

[2014-04-22 17:02] teravest commented on #678
Elaine said it is yellow, and that she emailed you about it. She said its
the same error as a sample not being logged, so that would be yellow

On Tue, Apr 22, 2014 at 10:58 AM, adamrp notifications@github.com wrote:

[2014-04-22 17:20] adamrp commented on #678
Okay, thanks. That's worse than purple.  I'll fix this ASAP so we can
deploy it tomorrow.

On Tue, Apr 22, 2014 at 11:02 AM, teravest notifications@github.com wrote:

[2014-04-22 17:30] wasade commented on #680
+1, much image

On Tue, Apr 22, 2014 at 10:43 AM, teravest notifications@github.com wrote:

[2014-04-23 16:16] #680 closed, assigned to teravest

[2014-04-28 15:20] teravest commented on #681
@ElDeveloper #607 has been merged now.

[2014-04-28 15:22] teravest commented on #678
@adamrp did this one get fixed?

[2014-04-28 16:05] ElDeveloper commented on #681
I'm looking at the layout problem right now.

[2014-04-28 16:29] adamrp commented on #678
Not yet

On Mon, Apr 28, 2014 at 9:22 AM, teravest notifications@github.com wrote:

[2014-04-28 20:12] adamrp opened #694 "American Gut logo on FAQ is not a link"
Is it using the new files (e.g., loggedoutheader.psp) that @teravest put together?

[2014-04-28 20:19] teravest commented on #694
Nothing is using those files yet...  We should make index.psp,
international_shipping.psp, and FAQ.psp all use them.  Also we need to make
sure the image is linked in the header.  probably both headers.

On Mon, Apr 28, 2014 at 2:12 PM, adamrp notifications@github.com wrote:

[2014-04-28 21:33] teravest opened #695 "Change email about missing sample info."
Elaine suggested
Dear _______,

We have recently received your sample barcode: ________, but we cannot process your sample until the following steps have been completed online. Please ensure that you have completed both steps outlined below:

1). Submit consent form & survey
For human samples, the consent form is mandatory. Please note that the consent form is located on the first page of the surv

[2014-04-28 23:36] elainewolfe commented on #695
There is actually a sentence I would like to add under "1). Submit consent form & survey":

To begin the consent/survey process, click on the "Add Source & Survey" tab on the main page. Select the category (human, animal, or environmental) your intended sample belongs to.

Just for those who neglected to open the instruction packet (which has been known to happen).

[2014-04-30 16:54] teravest opened #697 "check birthday and verify consent for minors"
I don' t think we have this check in place if someone lies about the age of a child...

[2014-05-01 13:40] adamrp commented on #697
How would we check their birthday?  We could look at what they enter on their survey, but they're just as likely to lie there IMHO (or they could just not click the "This is a minor" checkbox).  Isn't the plan to stop asking for the birthday, anyways?

[2014-05-08 19:47] teravest opened #702 "workflow table"
have a table to track user actions though a workflow.

[2014-05-08 23:15] adamrp commented on #702
This idea came up as a result of our discussion with Kristen Munch from
NREL who has experience designing LIMS and things like this; she has found
that workflow tables (which track individual users' progress in various
ways) are very useful, and we can probably make use of them to track issues
that our American Gut participants encounter with the process.

On Thu, May 8, 2014 at 1:47 PM, teravest

[2014-05-12 19:14] adamrp opened #703 "Add sequencing round to AGP metadata"
We can do this with the update to date of birth field(s)

[2014-07-21 21:38] ElDeveloper opened #706 "Check all barcodes"
The current workflow specifies that you should click on a checkbox for every barcode that you receive, this is fine for 5-10 barcodes but becomes kinda tedious for more than 100 which some projects have.

What do other people think about this?

cc @antgonza

[2014-07-22 10:29] antgonza commented on #706
I like it.

[2014-07-22 13:19] adamrp commented on #706
Just to be clear @antgonza, what do you like: the current system of
clicking checkboxes, or the implied proposal to change the system to
something else?

I don't know what we could do differently, short of omitting the
verification step.  Maybe we could work the barcode scanner in to this
somehow (e.g., using javascript) so that the checkbox for a barcode is
checked automatically when it's scanned

[2014-07-22 13:24] ackermag commented on #706
Maybe we should be asking the people in the wetlab who (I believe most
commonly) receive the sample tubes?

On Tue, Jul 22, 2014 at 7:19 AM, adamrp notifications@github.com wrote:

##

Gail Ackermann
Knight Lab UCB 596
University of Colorado
Boulder

[2014-07-22 14:27] antgonza commented on #706
I believe this is separate from the wetlab. Adam, I like the idea of not
having to click n times to select all kits but just have a select all
option.

[2014-07-22 14:44] adamrp commented on #706
I personally don't like the "select all" solution because it defeats the
purpose of this step, which is to ensure that you received the barcodes you
were supposed to receive.  If we are thinking of including a Select All,
then we should just remove this step instead, which I would be fine with,
but perhaps others feel differently?

On Tue, Jul 22, 2014 at 8:27 AM, Antonio Gonzalez notifications@gi

[2014-07-22 14:47] antgonza commented on #706
I think is a good idea to have it for those situations where you got n
samples and n-x belong to one person and x to another. However, when n > 5
this becomes a pain when all n belongs to the same participant.

[2014-07-22 14:50] teravest commented on #706
I feel like this is a special case, and not something we should change the
main participant process for.

On Tue, Jul 22, 2014 at 8:47 AM, Antonio Gonzalez notifications@github.com
wrote:

[2014-07-23 04:17] antgonza commented on #706
I guess that if you have to do it really ofter you would feel differently.
Anyway, what about if n > 10 then add select-all-button?

[2014-07-23 06:47] ackermag commented on #706
I think I agree with Emily

On Tue, Jul 22, 2014 at 10:17 PM, Antonio Gonzalez <notifications@github.com

##

Gail Ackermann
Knight Lab UCB 596
University of Colorado
Boulder

[2014-07-23 14:15] teravest commented on #706
These 100 swab kits are a special case project if it is really too much
work we can use the database to make the kit as verified after you register
it....

On Wed, Jul 23, 2014 at 12:47 AM, ackermag notifications@github.com wrote:

[2014-07-23 16:14] ElDeveloper commented on #706
What about n > 50, those are rare cases and you are usually dealing with
n > 100 right @antgonza? What I worry is that users who actually need to
verify they received the correct barcodes will not because this option
is available.

On (Jul-22-14|21:17), Antonio Gonzalez wrote:

[2014-07-23 16:43] adamrp commented on #706
I like @teravest's suggestion; in cases where this is actually too tedious,
it is almost certainly a special case, and you should just ask one of us to
update it for you.  I share Yoshiki's concern that if ever we include a
"select all" button, people will not actually be verifying their kits, but
rather just perfunctorily going through the motions.

On Wed, Jul 23, 2014 at 10:14 AM, Yoshiki Vázqu

[2014-07-23 19:37] antgonza commented on #706
OK I agree with that solution. Now is there a better solution for the
verification compared as how is it handled right now?

[2014-07-28 20:48] wasade commented on #706
@antgonza, are you asking about a different general solution or how to proceed right now? I'm not aware of an issue for the majority of the participants with the current process.

[2014-08-01 20:00] wasade opened #707 "Prelim results link does not point to latest mod1 pdf"
It currently points to the sept file

[2014-08-04 17:45] antgonza commented on #706
Different general solution. Having to check a box doesn't actually mean
that the user is checking it, right? What about having all checkboxes
selected?

[2014-08-14 20:16] wasade opened #710 "Put results addendum online"
I don't think it is online? We should get this up there and easily available when people view results since we're no longer doing hard copies

[2014-08-15 13:38] ElDeveloper commented on #710
Do you mean this page:
http://microbio.me/americangut/addendum.psp

Or are you referring to a different document?

On (Aug-14-14|13:16), Daniel McDonald wrote:

[2014-08-15 21:15] wasade commented on #710
uh, yes. Wow, didn't realize that was there. Is it linked easy from the results pages for participants?

[2014-10-01 17:09] ElDeveloper opened #715 "Setup banner informing about imminent downtime - [HIGH PRIORITY]"
This should be done by tomorrow.

[2015-03-06 00:41] pbuttigieg opened #716 "Obsolete version of ENVO"
Greetings,
It seems you're using an obsolete version of envo-basic.obo. You can access the latest release version here: http://purl.obolibrary.org/obo/subsets/envo-basic.obo

If you have any questions, please post on our issue tracker. This is currently on Google code (https://code.google.com/p/envo/issues) but will soon move to GitHub.

[2015-03-06 00:50] ElDeveloper commented on #716
Hello @pbuttigieg, thanks for the heads up, but this project has been deprecated in favor of [Qiita: spot patterns](http://github.com/biocore/qiita). I've reposted [this issue there](https://github.com/biocore/qiita/issues/907) where more people involved with the project will be able to follow-up.

[2015-03-06 00:50] #716 closed, assigned to nobody