[2012-10-22 17:11] ElDeveloper opened #1 "Help Contact"
Add a help link that will redirect you to a form on the footer of every page.
- Populated form with the user information.
- Send an e-mail to the web_app help e-mail.
- Include FAQs.

[2012-10-22 17:14] ElDeveloper opened #2 "Make study public"
Add a user interface element to the web_app, that allows the user to make a study public.

[2012-10-22 18:14] ElDeveloper opened #3 "Testing Framework"
Integrate tests as a part of the system, possibly nightly test runs.
- Update PyCogent TestCase class and integrate this with the current available tests to be able to e-mail people in the QIIME web app team.
- This task also requires the creation of an e-mail account for the web-app-help.
- The creation of a `cron` job that will run all the test scripts.

[2012-10-22 18:16] ElDeveloper opened #4 "Fix WebDev"
The WebDev site is intended for the development and testing of newly available features, currently this doesn't work as supposed to, so a clean-up of the site is required.

[2012-10-22 18:20] douginator2000 opened #5 "Migrate qiime_web_app code to git"
As the title says... use svn2git to move all of the code and revision history if possible.

[2012-10-22 18:23] douginator2000 commented on #2
Some additional details: Probably add a link to the study overview page (select_study_task.psp) that says something like "Make study public". This will flag the samples as being public (public column in sample table) and run the collate script.

[2012-10-22 18:25] douginator2000 opened #6 "Add custom error handler to fusebox.psp"
This should handle Python errors that are not explicitly caught elsewhere in the app. Normal and Admin users should only see the friendly error. Add a new "developer" class of user that can directly see the errors on the website. When an error trapped for non-developers, email the issue to whatever the new qiime_web_app email address will be. Also think about how to gracefully recover if possible

[2012-10-22 18:31] douginator2000 commented on #5
More comments: git ignore the factored credentials file. Factor credentials into a class/struct that can be queried from the app. Also remove unused files before porting.

[2012-10-22 18:39] douginator2000 opened #7 "Usage stats on login page - need to be fully automated."
The usage stats on the qiime/emp login pages are not fully automated. This needs to be updated. Current ideas: tally when loading; use the split_library log file to get per-library seqs; or run a nightly job that updates the stats.

[2012-10-22 18:41] douginator2000 opened #8 "Add framework to run jobs nightly"
This is just the framework - probably will consist of a driver script, cron job, etc... Types of scripts to be run: consistency checks, unit tests, and possibly statistics updates.

[2012-10-22 18:45] douginator2000 opened #9 "Factor sequence deletion code into job"
Remove the sequence deletion code from the PSP file and factor into a new or existing job (possible add it to the processing job).

[2012-10-22 18:49] douginator2000 opened #10 "Session variables disappearing?"
Something is causing session variable to disappear after either sequence or metadata upload? Investigate and try to reproduce. Also check the session timeouts (perhaps just extend it indefinitely)

[2012-10-22 18:49] douginator2000 opened #11 "Integrate Evident/Emperor into website tools"
Would be a good addition to the visualization options.

[2012-10-22 18:56] douginator2000 opened #12 "Investigate column factoring failures"
Custom columns can be added to metadata files. The first time a given column name is seen, it's added to a new table (extra_sample_xxx or extra_prep_xxx, where xxx refers to the study_id). The second time a column name shows up, assuming the user accepts the prior definition of the column, both the old and the new column are factored into common_extra_sample or common_extra_prep. A new column is c

[2012-10-22 18:57] douginator2000 opened #13 "Fixes for job clearing/submitting"
There are a number of cleanup/enhancement items to tacke related to job submission and maintenance.
- [x] 1: Currently all jobs contain a "clear" link. This link will be removed - job submission will happen in bulk (see below)
- [x] 2: Jobs for submitting processed data to the database all have two links prior to submission: "submit" and "clear". Both of these links will be removed. Job submission

[2012-10-22 18:59] douginator2000 opened #14 "Old and invalid loading jobs can appear when "process" is clicked."
When submitting job to qiime, old loading links can still re-appear if they were not also cleared previously. To replicate this issue, process a study, note the loading links that appear when processing has happened successfully, then re-process the study (by clearing only the process links, not the loading links). As soon as you click process, the old loading links will reappear.

[2012-10-22 19:01] douginator2000 opened #15 "Database sequence loading currently a serial process. Investigate parallel use."
Loading data done serially - figure out where errors could be, race conditions, etc... and change this to be a parallel process. NOTE that this depends on whether or not we continue to load sequences, so this may become a non-issue.

[2012-10-22 19:02] douginator2000 opened #16 "Estimate work for adding new Greengenes OTU entries"
Need to determine what database and code changes are necessary to support addition of new OTU entries. Estimate amount of work.

[2012-10-22 19:04] douginator2000 opened #17 "Estimate work to stop loading sequences into database"
Determine what code changes and approximately how much work would be involved so that we can stop loading sequence data into the database. The loading would then only consist of OTU information.

[2012-10-22 19:07] douginator2000 opened #18 "Estimate work for moving to a new database platform."
Enough said... would be a giant task. Low priority.

[2012-10-22 19:08] douginator2000 opened #19 "Enhance error handling in poller"
The poller seems to die fairly easily. Add better error handling to allow it's continued operation when exceptions are thrown.

[2012-10-22 19:09] douginator2000 opened #20 "Per-sample FASTA files show up in non-standard location. Update code to compensate."
Per-sample fast files are in different locations than the per-sample fastq files. Fix code to compensate
Unlike the other per_sample_fastq scenarios, the per-sample file you want to send to EBI-SRA is here: processed_XXX/split_libraries/seqs.fna

[2012-10-22 20:59] douginator2000 opened #21 "Remove "remove" on db loading job"
Once successfully processed, the loading jobs appear on the study page. They also include a "remove" link before they've been submitted. This should be taken out - we don't want people deleting these job submission links.

[2012-10-22 21:01] douginator2000 opened #22 "Make results from processing available on study page"
It would be very useful to aggregate all of the data we normally check (flow number, per-library sequence and OTU counts, etc...) and make this available once processing completes. Probably in some collapsable section on the study page. Would allow for a quick spot-check to make sure things look good before submitting OTU/sequences.

[2012-10-22 21:02] douginator2000 opened #23 "Add code to remove processed directories when deleting processing job"
Currently, removing a processing job does not clear the processed folders in the filesystem. Add code to make this happen.

[2012-10-22 21:15] douginator2000 opened #24 "Re-write/replace uploader"
The current Java applet-based uploader has some limitations (file size limits may be one). It's also kind of clunky. Rewrite with html5/jquery/css tool. A good place to start might be:

http://blueimp.github.com/jQuery-File-Upload/

Though note than in my investigation, it would seem that 1/2 of it would need to be written from scratch. The GUI is functional, but a new plugin would have to be writ

[2012-10-22 21:16] douginator2000 opened #25 "Add BE package to our site"
This package contains the terms for describing Built Environment studies. Note that the BE package has not been fully-accepted yet, so there may well be some changes that occur before version 1 is finalized.

[2012-10-22 21:17] douginator2000 opened #26 "Make account creation work from all portal types"
Currently creating new accounts only works on the Qiime website. Make the account creation code work with all portal types. It should:
- Host links on each portal's login page that take you to account creation pages
- Make sure account submission works and that verification email is sent
- Redirect to the proper portal's login page when submitted.

[2012-10-22 21:20] douginator2000 opened #27 "Processing error check: validate run_prefix against submitted files"
When the "submit job to qiime" link is clicked, perform a check to make sure all run_prefix values in metadata actually match a sequence file that was submitted.

[2012-10-22 21:21] douginator2000 opened #28 "Add study_id, project_name to list of fields exposed to meta-analysis"
As the title says... these fields do not currently show up as available metadata fields in meta-analysis. Add them.

[2012-10-22 21:23] douginator2000 opened #29 "Add ability to delete prior meta-analyses"
There's currently no way to remove these. List gets very cluttered - add way to delete.

[2012-10-22 21:24] douginator2000 opened #30 "Idea: would be great to have video tutorials for the qiime website"
Just an idea...

[2012-10-22 21:32] douginator2000 opened #31 "Poller: prevent multiple instances"
It may be possible to get two instances of the poller running by invoking from different python versions. Investigate if this is possible, and if so prevent it from happening. When the poller starts, it creates a PID file in /tmp. If it's not already happening, the poller should explicitly check for the existence of this file before starting. Possibly other checks as well.

[2012-10-22 21:33] douginator2000 opened #32 "Locking studies"
Add the ability to lock a study. This would prevent someone from reprocessing or uploading/deleting files from that study. Needs an override/unlock option of course (likely a good place for this would be in the wwwadmin tool suite - add a utility to unlock a study).

[2012-10-22 21:39] douginator2000 opened #33 "Determine why large deletes cause server problems in ARCHIVE_LOG mode"
Our Oracle instance is not currently configured to use ARCHIVE_LOG mode. This mode is what allows automated backups to be scheduled. We enabled this once, and it seemed OK until a very large delete occurred. Oracle crashed - possibly due to lack of memory or other resources. Figure out why this happens so we can enable it for backups.

Info on ARCHIVE_LOG mode:
http://www.orafaq.com/wiki/Oracle_da

[2012-10-23 15:55] wasade commented on #31
this should not be possible with different versions as there is a pid file check. we should move that pid file to /var/run/lock (i believe that's the location).

i'd _really_ like to see when the poller is dying so that it can be fixed...

[2012-10-23 15:55] wasade commented on #30
agree, shall we ask tony?

[2012-10-23 15:56] wasade commented on #29
just within your own user, correct?

[2012-10-23 15:59] wasade commented on #24
jumploader shouldn't be limited by upload size, if there are issues there, then it is likely due to connectivity on the part of the user. max upload size is also a parameter AFAIK. jumploader does suck, but the advantage is minimal investment to get it up

[2012-10-23 16:01] wasade commented on #23
this is very important

[2012-10-23 16:02] wasade commented on #19
last week was essentially the first i've heard of this: please send on tracebacks

[2012-10-23 16:07] wasade commented on #8
current thoughts are driver that runs a TestCase. need to add in email support into cogent's unit testing framework. statistics updates would not conceptually make sense under TestCase, but could be added as a separate script

[2012-10-23 16:21] wasade commented on #6
what is the current email address used when sending account activation emails and would it make sense to piggyback on that account? the downside is that it does not allow replies, but perhaps a reply-to field can be added into the mail header. im hesitant to make replies to microbio.me available as CU already has robust mail servers.

[2012-10-23 17:09] douginator2000 commented on #29
Yes, as it stands, you can only see your own analyses anyway, so adding a
delete will be safe.

On Tue, Oct 23, 2012 at 9:56 AM, Daniel McDonald
notifications@github.comwrote:

##

Doug Wendel, PRA
University of Colorado at Boulder
Department of Chemistry and Biochemistry
Knight Lab

[2012-10-23 17:10] douginator2000 commented on #19
The main issue seems to be that most exceptions cause the poller to exit. I
think that at a minimum, if the main block of code were wrapped such that
it can continue executing it would be sufficient.

On Tue, Oct 23, 2012 at 10:02 AM, Daniel McDonald
notifications@github.comwrote:

##

Doug Wendel, PRA
University of Colorado at Boulder
Department of Chemistry and Biochemistry
Knight Lab

[2012-10-23 17:12] douginator2000 commented on #30
Tony IS the man...

On Tue, Oct 23, 2012 at 9:55 AM, Daniel McDonald
notifications@github.comwrote:

##

Doug Wendel, PRA
University of Colorado at Boulder
Department of Chemistry and Biochemistry
Knight Lab

[2012-10-23 17:22] douginator2000 commented on #6
Looks like the addy is:

qiime.web.app@colorado.edu

On Tue, Oct 23, 2012 at 10:21 AM, Daniel McDonald
notifications@github.comwrote:

##

Doug Wendel, PRA
University of Colorado at Boulder
Department of Chemistry and Biochemistry
Knight Lab

[2012-10-23 18:24] ElDeveloper opened #34 "Build Development Environment"
Build a re-usable and light-weight .vdi file for virtual box that will easily allow for development. The idea here would be to replicate the web-dev environment in a virtual machine.

[2012-10-23 18:32] douginator2000 opened #35 "If study has never been processed, do not warn about replacing metadata"
The code is mostly there for this but commented out. Need to return a value that indicates that metadata still needs to be deleted - key_fields_changed will cause the GUI to throw a warning. We want a silent deletion in this one case.

[2012-10-23 18:50] adamrp commented on #9
This will have to wait until we have development environments (and/or webdev is fixed), since i wouldn't want to modify the production code on www.

[2012-10-23 18:51] adamrp commented on #9
Thought that "close" meant close the thread... woops

[2012-10-23 18:58] adamrp opened #36 "gzipped SFF files do not work"
During processing, this error occurs:
cogent.parse.binary_sff.UnsupportedSffError: magic_number not
supported. (Expected 779314790, observed 529205256)

779314790 in hex is 0x2e736666 (".sff" in ASCII), the magic number that indicates an SFF file.
529205256 in hex is 0x1f8b0808, the magic number that indicates a gz file

Apparently, the cogent code does not work with gzipped files.

[2012-10-23 19:00] wasade commented on #36
use gzip.open

On Tue, Oct 23, 2012 at 12:58 PM, adamrp notifications@github.com wrote:

[2012-10-23 19:23] douginator2000 commented on #36
Okay so this has been working in some cases. I've processed numerous
gzipped files - perhaps though they were all fastq? Maybe that's true -
haven't actually paid attention.

On Oct 23, 2012, at 1:00 PM, Daniel McDonald notifications@github.com
wrote:

use gzip.open

On Tue, Oct 23, 2012 at 12:58 PM, adamrp notifications@github.com wrote:

—
Reply to this email directly or view it on
GitHubhttps:/

[2012-10-23 20:00] adamrp commented on #36
I think they must have all been fastq.gz, because one of the first things that happens in cogent.parse.binary_sff.parse_binary_sff is validate_common_header, which will cause it to fail right off the bat if it is a sff.gz.

Daniel's solution should be a quick fix here -- I just tested it on a file, and it appears to work.

Does either Qiime or Cogent have a method for testing whether a file is gzi

[2012-10-23 22:43] wasade commented on #36
qiime.util.qiime_open tests for a .gz extension and opens with gzip.open if
it exists, otherwise uses regular open. this should be pushed back into
cogent but the functionality isn't there (i was a bit surprised)

On Tue, Oct 23, 2012 at 2:00 PM, adamrp notifications@github.com wrote:

[2012-10-24 20:25] douginator2000 opened #37 "Metadata validation problem: better reporting needed for uncaught errors"
When uploading metadata for a study which contained duplicate columns, the output error was confusing and reported other downstream errors that were not the direct cause. I added some code to output the entire message but it's not pretty. Should be cleaned up so that the actual problem is obvious.

[2012-10-25 16:34] douginator2000 commented on #24
This just got a bump in priority as Sun's new Java plugin does not support Chrome on MacOS anymore. I have to use Firefox or Safari now to use the website - no bueno Sun. I loathe the. hehe!

[2012-10-25 16:36] douginator2000 opened #38 "Need to distribute Qiime web app virtual box"
Distribute the Qiime web app virtual image so that others can have a local development environment.

[2012-10-25 16:37] douginator2000 commented on #38
Virtual box has been exported and made available for download to @adamrp and @ElDeveloper. Next steps are to set it up on their systems. We'll have to figure out exactly what directories to map and a few other configuration details.

[2012-10-25 16:38] wasade commented on #24
Argh, really? Okay, we should explore other options. We may be able to
resurrect the old python uploader that Micah wrote but it is limited to 2gb
if I remember

On Oct 25, 2012, at 10:34, Doug Wendel notifications@github.com wrote:

This just got a bump in priority as Sun's new Java plugin does not support
Chrome on MacOS anymore. I have to use Firefox or Safari now to use the
website - no bueno

[2012-10-25 16:39] douginator2000 commented on #34
Closing as duplicate - sorry, missed this when I entered a new ticket.

[2012-10-25 16:39] #34 closed, assigned to douginator2000

[2012-10-25 16:41] douginator2000 commented on #24
I spent a day looking into options a week or so ago. HTML5 provides some
good options (the utility Meg/Antonio sent out is all based on HTML5). I
dug far enough into it to see that building your own isn't so bad at all so
I think that might be the best route. Possibly using that utility as a base
or just going from scratch.

On Thu, Oct 25, 2012 at 10:38 AM, Daniel McDonald
notifications@github.co

[2012-10-25 17:41] ElDeveloper commented on #24
Yes, I can confirm that it doesn't work. :panda_face:

So building one will be the ideal solution?

[2012-10-25 18:52] douginator2000 opened #39 "Ontology auto-complete on validation page not working"
Investigate and fix.

[2012-10-25 22:20] wasade commented on #19
I'd prefer direct error handling, not blanket handling. Below are the tracebacks with comments inline

Traceback (most recent call last):
  File "TorqueOraPoller/poller.py", line 330, in <module>
    daemon.restart()
  File "/home/wwwuser/projects/Qiime/qiime_web_app/python_code/TorqueOraPoller/daemon.py", line 192, in restart
    self.start()
  File "/home/wwwuser/projects/Qiime/qiime_web_app/pyt

[2012-10-25 22:21] wasade commented on #31
There is already an explicit check for the pid file. If this is not working, is it possible to provide an exact example? We likely want to move the .pid out of /tmp and into /var/run/, however it does require some care with permissions.

[2012-10-26 00:59] wasade opened #40 "qiime_web_app does not form its own namespace"
This is problematic. For instance, the TorqueOraPoller imports "enums", which is ambiguous. Creating a proper module will take some refactoring as the bulk of the python code currently lives under "python-code/."

[2012-10-26 16:51] douginator2000 opened #42 "Factor sequence files into central repository"
Currently, sequence files are processed each time they are used. I.e. if lane x of a fastq run contains 5 studies, we'd process the file for each of those studies. Now of course, it's demultiplexed and only the referenced samples are actually pulled out, but this takes additional time and of course requires additional storage space.

Idea 1: Factor the sequence files into a common location and onl

[2012-10-26 17:09] wasade opened #43 "Add support for cdbfasta to index files"
Support will be added in via PyCogent app controller initially, but should then be leveraged by the webapp specifically for subsetting sequence files rapidly

[2012-10-26 21:08] wasade commented on #43
checked into PyCogent 1.5.3-dev

[2012-10-26 21:08] #43 closed, assigned to nobody

[2012-10-29 14:53] wasade opened #44 "Arrow keys do not work in study select boxes"
Under "Get study summary and raw data" and in the study list box, the arrow keys do not work. Specifically, using up or down and highlighting a new study does not populate the study information box. Instead, a mouse click is required.

[2012-10-29 15:35] wasade opened #45 "Jesse is listed contact still on many studies"
Including his email address. For instance, Barott_Line_island_reefs

[2012-10-30 16:54] ackermag opened #46 "search by study ID"
Perhaps add to search by title field

[2012-10-30 20:36] adamrp commented on #36
Just for my own note-taking, the following functions in qiime.process_sff.py do not currently use qiime_open, and I am going to modify them to use it:

convert_Ti_to_FLX
make_flow_txt
make_fna
make_qual

Adam

[2012-10-31 17:22] adamrp commented on #36
Made modifications that should allow processing of gzipped SFF files and made pull request on qiime; awaiting merge by Greg.

[2012-10-31 17:30] douginator2000 commented on #36
Nice thanks Adam.

On Wed, Oct 31, 2012 at 11:22 AM, adamrp notifications@github.com wrote:

##

Doug Wendel, PRA
University of Colorado at Boulder
Department of Chemistry and Biochemistry
Knight Lab

[2012-11-01 16:44] douginator2000 opened #47 "Port www to git repositories"
www is currently still using the old SVN codebase for qiime_web_app, qiime, and biom-format. These need to be switched to the GIT repos. I've checked these out to /home/wwwuser/git, but the paths and symbolic links in htdocs need to all be updated. Lots of testing also required as this could break any number of things.

[2012-11-01 16:53] douginator2000 commented on #38
Virtual box is available at microbio.me/tmp/qiime.ova.zip. Configuration details: Launch VirtualBox, then from the VirtualBox menu, select Preferences, then click the Network icon. You must have an adapter called "vboxnet0" installed under the "Host-only Networks" section. Next, you need to add shared folders from your virtual image to the host system. I've mapped a directory called "git" and one

[2012-11-01 16:53] #38 closed, assigned to douginator2000

[2012-11-01 17:02] douginator2000 opened #48 "When reprocessing, delete processed_data_ folders"
Reprocessing currently requiers a manual file removal of the processed_data_ folders in each study directory. Make this an automated process when reprocessing a study.

[2012-11-01 17:18] douginator2000 commented on #9
I've moved the delete code into the job (and also added code to remove the old processed_data_ directories when processing). I'll deploy/test as soon as the blocking task of porting www's references to GIT repositories (currently pointed to SVN repos) is resolved.

[2012-11-05 15:19] ackermag commented on #29
I thought we fixed this?  There is a delete button on the meta-analysis page

[2012-11-05 17:45] douginator2000 commented on #29
You are correct Gail, had forgotten that went in. Excellent! Closing.

[2012-11-05 17:45] #29 closed, assigned to douginator2000

[2012-11-05 20:24] adamrp commented on #36
Just an update on this: apparently, the code I wrote broke the test code in qiime (I didn't notice this because I didn't have SFF tools installed, so those tests were skipped and did not fail).  The code works fine if you're not using the SFF tools (and instead are using QIIME only, which recapitulates the same functionality).  Waiting to hear back from Greg on how best to handle this.

[2012-11-05 20:55] douginator2000 opened #49 "Meta-analysis should "save state""
Currently, meta-analysis is a run-once operation. All selections you made in refining study/sample/attribute selection, as well as the types of analyses, are forgotten once submitted. Add the ability for all of the state to be saved and for meta-analysis to become more iterative.

Use case: select samples, metadata fields, and analysis types for initial run, save this state and run all analysis re

[2012-11-05 20:56] douginator2000 opened #50 "Store different OTU selection thresholds, enable for analysis"
We currently only calculate OTUs at 97%. It would be useful to calculate OTUs at many different thresholds, store each of these in the DB for every study, and provide an OTU threshold option in meta-analysis.

[2012-11-05 20:59] douginator2000 opened #51 "De-novo OTU selection and database addition"
We store OTU picking failures from OTU picking runs but currently do nothing with them. We should periodically run a de-novo picking run (per variable region?) and add these new OTUs to the database.

Potential issue: If we also implement multiple OTU selection thresholds, how will this work? Is the OTU picking failures table aware of the selection threshold?

[2012-11-05 21:03] douginator2000 opened #52 "Make use of time series data collected in database."
We allow for a time series metadata file to be collected. Develop some visualizations that take advantage of this metadata.

[2012-11-05 21:06] wasade commented on #50
This allows us to unroll OTUs:
https://github.com/qiime/nested_reference_otus/blob/master/scripts/unnest.py

And should allow for selection of IDs at lower levels of similarity,
however this may not be the same as picking directly at a lower level of
similarity

On Mon, Nov 5, 2012 at 1:56 PM, Doug Wendel notifications@github.comwrote:

[2012-11-05 21:09] wasade commented on #51
We should track what sim threshold the de novo OTUs were picked at

On Mon, Nov 5, 2012 at 1:59 PM, Doug Wendel notifications@github.comwrote:

[2012-11-05 21:24] douginator2000 opened #53 "Integrate Site Painter as a visualization tool"
Figure out how to make this tool available as a visualization option. Could we provide certain pre-defined drawings (human for example), onto which we can map sample locations? Could possibly be based on env_matter or something that describes exactly where the sample was taken from.

Also, perhaps we could provide an interface that allows the user to drag/select samples onto the body site they cam

[2012-11-06 14:42] douginator2000 opened #54 "OTU searching in database"
(From Cathy)

Sometimes, one may become interested in the distribution a particular OTU across many samples, or particularly across particular metadata categories . For example one may be interested whether an OTU that is associated with a disease state in a skin dataset is abundant in soil, air, water, household surfaces etc. , in order to learn about sources of transmission. As another example,

[2012-11-06 15:31] wasade commented on #54
That would be awesome. Along these lines, is it easy to determine what
Greengenes OTUs have not been observed? I'd like to check them for chimeras
or low quality Sanger calls

On Tue, Nov 6, 2012 at 7:42 AM, Doug Wendel notifications@github.comwrote:

[2012-11-06 15:37] wasade opened #55 "Determine unobserved Greengenes OTUs"
Is it easy to determine what Greengenes OTUs have not been observed? I'd like to check them for chimeras or low quality Sanger calls.

[2012-11-06 17:39] douginator2000 opened #56 "When submitting study for processing, check that all run_prefix values match a file"
Nothing currently checks if run_prefix values actually exist as files in the study directory. Fix this - warn if any don't exist, list the wrong ones, and do not allow processing to proceed.

[2012-11-06 17:42] douginator2000 opened #57 "When submitting study for processing, perform checks to make sure required data is correct"
Key fields are:

barcode
linker
primer
run_prefix
platform
Others?

Make sure that these values actually hit something in the file if possible.

[2012-11-06 17:43] douginator2000 opened #58 "When study completes processing, add some way of viewing processing results on study page"
We currently must log into the web server and manually check the sequence counts, otu hits, etc... This should be automated and a summary provided on the study page for viewing.

[2012-11-06 17:45] douginator2000 commented on #53
One idea would be to provide a series of pre-fabricated site painter models (e.g. a human male, human female, other hosts, other objects), develop a GUI that allows a user to select an existing model, assign which samples came from each part of the model, then run that as an analysis.

[2012-11-06 17:46] rob-knight commented on #53
This is a really good idea -- would basically require an indirection layer where instead of linking a specific sample id to sitepainter, you map samples to standard ids based on metadata.

On Nov 6, 2012, at 10:46 AM, Doug Wendel <notifications@github.com<mailto:notifications@github.com>> wrote:

One idea would be to provide a series of pre-fabricated site painter models (e.g. a human male, human

[2012-11-06 19:36] douginator2000 commented on #47
Completed.

[2012-11-06 19:36] #47 closed, assigned to douginator2000

[2012-11-06 20:37] douginator2000 commented on #9
Committed and tested. Seems to be working.. closing issue now.

[2012-11-06 20:37] #9 closed, assigned to douginator2000

[2012-11-06 20:39] douginator2000 commented on #48
Added code to perform this task - should be working now.

[2012-11-07 17:51] wasade commented on #31
I have not seen evidence of multiple pollers. It may be possible if /tmp is wiped, but I haven't seen evidence of that either given the timestamps on the stdout and stderr logs.

[2012-11-07 17:51] #31 closed, assigned to wasade

[2012-11-07 23:41] douginator2000 opened #59 "Centralize python path variables on web server, add to server documentation on wwwadmin"
Current state is very messy. PYTHONPATH exists in:

/etc/httpd/conf/httpd.conf (I verified that this is definitely being read and used)
/home/wwwuser/.bash_profile
/home/wwwuser/.qiime_config
/etc/profile

others?

Figure out exactly which of these is used where and centralize/factor anywhere possible. Then document how the path variables should be set up in the wwwadmin documentation. This is a k

[2012-11-08 02:10] douginator2000 opened #60 "make_cluster_jobs.py needs to be checked in"
These files currently sit in the wwwroot home dir:

-rwxrwxr-x 1 wwwuser wwwuser 5.4K Mar 13  2012 make_cluster_jobs_16gb.py
-rwxrwxr-x 1 wwwuser wwwuser 5.4K Mar 13  2012 make_cluster_jobs_32gb.py
-rwxrwxr-x 1 wwwuser wwwuser 5.4K Mar  2  2012 make_cluster_jobs_64gb.py
-rwxrwxr-x 1 wwwuser wwwuser 5.4K Apr 19  2012 make_cluster_jobs_8gb.py
-rwxrwxr-x 1 wwwuser wwwuser 5.6K Nov  7 18:36 make_clust

[2012-11-08 21:26] douginator2000 commented on #48
Discovered race condition when multiple jobs all attempt to delete folders. Need to create a static method or singleton to handle the processed folder removal.

[2012-11-08 22:09] douginator2000 commented on #48
Added code to fix this.

[2012-11-08 22:09] #48 closed, assigned to douginator2000

[2012-11-13 16:28] ackermag opened #62 "Message on web interface shows operation running after it has completed"
Similar to problem last week

[2012-11-13 17:10] douginator2000 commented on #62
Daniel, more information on this: I haven't looked into it but it seems that the poller is not always updating the status of jobs after they complete. The symptom of this is that the web interface shows job as running after they have actually completed. I've fixed a few of these by manually flagging the job as complete in the database.

[2012-11-13 20:24] wasade commented on #62
Job ids?

[2012-11-13 20:58] ackermag commented on #62
Both 1604 &1603 finished processing but the web interface showed them as
running - no longer relevant because we reprocessed, however study #1603
seems to have the same symptom right now

On Tue, Nov 13, 2012 at 1:24 PM, Daniel McDonald
notifications@github.comwrote:

##

Gail Ackermann
Knight Lab UCB 596
University of Colorado
Boulder

[2012-11-20 20:37] douginator2000 commented on #51
Additional comment: When performing meta-analysis, we need to add a checkbox that controls whether de-novo results will be included when sample selection crosses variable regions. By default, include ALL results if all come from the same variable region. By default, discard all de-novo results if analysis spans multiple variable regions (but provide the option to include them as a checkbox).

[2012-11-21 03:51] ElDeveloper commented on #23
If I'm correct, this was resolved in pull request https://github.com/qiime/qiime_web_app/pull/63

@douginator2000 can you confirm this? :panda_face:

[2012-11-21 03:55] ElDeveloper commented on #22
The proposed solution for this issue, will present two extra columns in the _samples summary table_ (blue table) shown in the web interface when you select a study. Each sample will contain the following two extra columns `Number of Sequences` and `Number of OTUs`.

[2012-11-28 17:44] douginator2000 commented on #27
Additional notes: This should be implemented such that we have a way of introducing other validation checks easily. I.e. perhaps code in such a way that additional functions or objects can be called from a central validator.

[2012-11-29 21:38] douginator2000 opened #69 "Package-ify the web app"
The entire qiime_web_app project should be organized as a package. This would help in organization and readability of code quite a bit. It would also simplify path and import statements in the OS and in code.

[2012-11-29 21:41] ElDeveloper commented on #69
I think this is very related to what was commented in issue #40 if so, we should close this issue and just leave the previous one open.

Also: yes, this is definitely needed, I agree.

[2012-11-29 21:50] douginator2000 commented on #69
You are so correct sir. I searched on "package" and found no results, but that is the same issue. Closing this.

[2012-11-29 21:50] #69 closed, assigned to nobody

[2012-12-03 17:21] douginator2000 commented on #23
Yes this was resolved a while ago. Closing...

[2012-12-03 17:21] #23 closed, assigned to nobody

[2012-12-03 17:22] douginator2000 opened #72 "Error in controlled vocabulary"
From Gail:

"treatment involving an exposure to a particular season (e.g. winter, summer, rabi, rainy etc?

Doug
Above is the description of the standard metadata field "season_environment"
I think rabi may be an error"

[2012-12-03 17:41] ackermag opened #73 "Metadata - fix problems for uploads"
When naming non-standard columns cannot use "unknown" in heading because that is a special entry that is specific in the database.
When non-standard columns are created and specified as numeric they cannot be changed to text - add this option.

[2012-12-03 17:52] douginator2000 commented on #72
Turns out there IS a "rabi" season. Go figure... closing.

[2012-12-03 17:52] #72 closed, assigned to nobody

[2012-12-04 17:31] ackermag opened #75 "Error on upload of metadata"
For HIV_Palmer_stool_miseq ID 1700 - Cathy reuploaded the metadata with a column named age_in_years.  This column is automatically generated by the database and therefore upload failed.

[2012-12-04 18:03] douginator2000 commented on #75
Some additional notes: Metadata upload worked, but it failed during beta-div processing. Can you confirm this Gail?

[2012-12-04 18:30] ackermag commented on #75
Confirmed

[2012-12-05 14:25] ackermag opened #78 "Metadata validator not connecting to NCBI"
When validator is active, no connection to ontology to allow fix for selected ontologies

[2012-12-05 18:36] douginator2000 commented on #78
Closing as duplicate of #39

[2012-12-05 18:36] #78 closed, assigned to nobody

[2012-12-05 19:50] douginator2000 commented on #60
Fixed this issue. All .py files in the wwwuser home directory have been added to the git repository under "user_scripts".

[2012-12-05 19:50] #60 closed, assigned to douginator2000

[2012-12-10 18:35] douginator2000 opened #80 "Add ability to download submitted templates"
Add a link on the website to download the submitted sample and prep templates.

[2012-12-10 23:07] douginator2000 opened #81 "Prevent all analysis of study until study is fully loaded"
It's currently possible to perform a meta-analysis while a study's data is being loaded into the database. This leads to at best unpredictable results, at worse very incorrect analysis data.

Add code to check if any loading jobs are currently running - if so, disallow that study for analysis.

[2012-12-10 23:44] ackermag commented on #81
Sorry Doug...I didn't realize it would cause a problem, I figured once it
was processed the upload would be separate from that...

Gail

On Mon, Dec 10, 2012 at 4:07 PM, Doug Wendel notifications@github.comwrote:

##

Gail Ackermann
Knight Lab UCB 596
University of Colorado
Boulder

[2012-12-10 23:44] douginator2000 commented on #81
No worries Gail - it would be better if it didn't allow you to generate the
file because it appears to work!

On Mon, Dec 10, 2012 at 4:44 PM, ackermag notifications@github.com wrote:

##

Doug Wendel, PRA
University of Colorado at Boulder
Department of Chemistry and Biochemistry
Knight Lab

[2012-12-11 21:29] adamrp opened #83 "Does current processing pipeline use SFFtools or QIIME's SFF scripts?"
If it uses QIIME's SFF scripts, then we should be able to gzip the SFF files safely.

[2012-12-19 17:50] douginator2000 commented on #36
Any update on this adam?

[2012-12-19 17:52] douginator2000 commented on #20
This has been fixed.

[2012-12-19 17:52] #20 closed, assigned to douginator2000

[2012-12-19 17:53] #5 closed, assigned to douginator2000

[2012-12-20 07:06] adamrp commented on #36
No not yet -- I haven't looked into whether or not the pipeline on the web
app uses the sff tools or the QIIME code.  If it's the latter, then it
should work fine.  If it's the former, it definitely won't work.

I will try to find some time tomorrow to look into it.

On Wed, Dec 19, 2012 at 10:50 AM, Doug Wendel notifications@github.comwrote:

[2012-12-20 23:20] RNAer opened #89 ""jobs2" seems a typo in www/select_study_task.psp"
It is in the block between line 255 and 259:
    if is_admin == 1:
        jobs2 = data_access.getJobInfo(study_id, 12)
        if len(jobs) > 0:
            # indent

The variable is not used anywhere. It is probably supposed to be "jobs"

[2013-01-02 19:40] douginator2000 opened #92 "Add code to inform user to check other portal if study summary/raw data is not listed"
It can be confusing if you're looking for the study summary/raw data for a particular study and don't see it in the list. Usually this is because the study is part of a different project/portal type (e.g. qiime vs emp). Add code to inform the user that their study may be listed in the alternate portal.

[2013-01-02 19:40] douginator2000 commented on #92
Done and deployed.

[2013-01-02 19:40] #92 closed, assigned to douginator2000

[2013-01-02 22:49] douginator2000 commented on #27
This has been completed and deployed.

[2013-01-02 22:49] #27 closed, assigned to RNAer

[2013-01-03 22:44] douginator2000 commented on #89
Fixed - corrects a small bug on the study page in which the bullet item for database loading jobs would appear prior to a list of those jobs being available.

[2013-01-03 22:44] #89 closed, assigned to nobody

[2013-01-07 17:32] antgonza opened #95 "Direct link to download the kin file of a meta analysis."
Currently, there is no direct link to download the resulting kin file of a meta analysis and will be nice to have one.

[2013-01-07 17:34] douginator2000 commented on #95
I assume this is the King formatted file?

[2013-01-07 17:35] antgonza commented on #95
That is correct.

[2013-01-07 20:25] antgonza opened #96 "No taxonomy plots"
While performing a taxonomy plots the DB doesn't create the plots, it only creates the otu and mapping files.

How to reproduce:
- Create a new meta analysis
- "Perform metanalysis"
- Select: Knight_Resident_evil, all metadata fields. Continue.
- Select "Taxonomy Summary", select sort_otu_table.py options and select "ENV_MATTER". Submit.
- 2 process are created but only 1 output is: the otu table

[2013-01-09 19:49] douginator2000 commented on #95
I'd forgotten that you can download a zip archive of all of the analysis results (last link in the list of files). This also contains the .kin files. I think this covers the issue - if so will you close it?

[2013-01-09 19:56] antgonza commented on #95
Good point but the name of the zip file is
misleading: meta_analysis_tmp[random text]_map_and_otu_table.zip , is it
possible to rename it and make a difference between analyses that have
plots and those that only have the map and otu table?

[2013-01-09 20:23] douginator2000 commented on #95
If we just renamed it such that it was obvious it contained all analysis
files would that suffice?

On Wed, Jan 9, 2013 at 12:56 PM, Antonio Gonzalez
notifications@github.comwrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-01-09 20:48] antgonza commented on #95
I think it will suffice.

[2013-01-14 17:15] douginator2000 opened #101 "Add an admin tool for changing a study's portal type (qiime, emp, etc...)"
As the title says, add a new menu item to the admin tools list under wwwadmin for changing the portal type of a study. This controls which portal the study will be visible under.

[2013-01-16 23:22] antgonza opened #106 "Link to download full mapping file"
The system should provide a link to the full mapping file. Currently, if you want to download the mapping file you need to create/run a meta-analysis, what is not the most convenient.

[2013-01-16 23:25] ackermag commented on #106
Once the study is public, the mapping file is available with the raw seq
data on the front page.

On Wed, Jan 16, 2013 at 4:22 PM, Antonio Gonzalez
notifications@github.comwrote:

##

Gail Ackermann
Knight Lab UCB 596
University of Colorado
Boulder

[2013-01-16 23:27] antgonza commented on #106
What about when is private and the person doing the analysis wants to
download the verified full mapping file?

[2013-01-16 23:38] adamrp opened #107 "wwwadmin site should have "logout" link"
Currently http://www.microbio.me/wwwadmin has no logout link.  Closing the tab is not safe, because undoing the close-tab brings you back into the admin portal.

[2013-01-16 23:49] ackermag commented on #107
Did I close the tab?

On Wed, Jan 16, 2013 at 4:38 PM, adamrp notifications@github.com wrote:

##

Gail Ackermann
Knight Lab UCB 596
University of Colorado
Boulder

[2013-01-17 00:00] adamrp commented on #107
No, this is a general security issue, not something that one of us did wrong.  The issue is that once you login to the wwwadmin site, there is no way to log out.  If you close the tab/window, your logged-in session can be recovered by "unclosing" the tab (apple-shift-t on mac, ctrl-shift-t on windows)

[2013-01-17 06:44] douginator2000 commented on #107
Will you log an issue on GitHub?

On Wednesday, January 16, 2013, adamrp wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-01-17 06:54] ElDeveloper commented on #107
![33512136](https://f.cloud.github.com/assets/375307/74037/da5413ca-6072-11e2-8a63-adb7f15005f5.jpg)

:P

[2013-01-17 21:36] douginator2000 commented on #55
Here's a basic rundown:
- 408135 total entries in the greengenes_reference table.
- 374378 unobserved OTUs in our database (~92%).
- 33757 observed species.

This agrees exactly with the distinct count of observed species in our OTU table so hopefully that's a good sanity check.

Given the large size of the unobserved list, I'll post queries to give you full results.

-- Count of total entries in

[2013-01-17 21:36] douginator2000 commented on #55
(Please close if this satisfies the request. Thanks!)

[2013-01-17 21:41] wasade commented on #55
does not. that is a comparison of the full reference set (408k taxa) against the 97% otus. need to ask what percent of the 97% otus are not observed

[2013-01-17 22:09] douginator2000 commented on #55
Thanks for the clarification Daniel. Updated numbers here:
- Total number of GG 97 OTUs in reference set: 35429
- Total number of unobserved 97% OTUs at 97% similarity: 1672 (4.7%)

-- Total count of GG 97% OTUs
select  count(*)
from    greengenes_reference gr
        inner join source_map sm
        on gr.prokmsa_id = sm.reference_id
where   sm.sequence_source_id = 4;

-- Total number of unobserv

[2013-01-17 22:18] douginator2000 commented on #55
A list of the unobserved OTUs:

https://docs.google.com/spreadsheet/ccc?key=0As1evoSSZgradHhsTG1XYXNfSVZBcFJTVi1kY0hKUmc

[2013-01-17 22:25] douginator2000 commented on #55
Note that this covers (very approximately):
~ Number of sequences 2,750,000,000+
~ Number of samples: 33,000+
~ Biomes represented: 50+

[2013-01-17 22:32] rob-knight commented on #55
That makes a lot more sense as the first numbers didn't match our earlier claim that 92% were covered by EMP...thanks for calculating!

On Jan 17, 2013, at 3:09 PM, Doug Wendel <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks for the clarification Daniel. Updated numbers here:
-   Total number of GG 97 OTUs in reference set: 35429
-   Total number of unobserved 97% OTUs a

[2013-01-17 22:34] rob-knight commented on #55
ok so we are missing
- some obligate pathogens
- some rhizosphere stuff that will be covered by jose's rice project if he ever gets metadata
- some hydrothermal vent organisms (which janet is trying to line up samples from)
- some gut taxa, which seem to have infinite diversity...

pretty good going really!

On Jan 17, 2013, at 3:09 PM, Doug Wendel <notifications@github.com<mailto:notifications@gi

[2013-01-17 22:40] douginator2000 commented on #55
Yeah my brain fart there apologies. Pretty cool to see that we've hit almost everything in there.

[2013-01-17 22:54] rob-knight commented on #55
No apology needed (unless you are sufficiently familiar to figure out those functional roles from the species names, in which case well done!)

On Jan 17, 2013, at 3:40 PM, Doug Wendel <notifications@github.com<mailto:notifications@github.com>> wrote:

Yeah my brain fart there apologies. Pretty cool to see that we've hit almost everything in there.

—
Reply to this email directly or view it on Git

[2013-01-18 18:33] douginator2000 opened #108 "Change how job output files are managed"
Job output files are all currently written to the wwwuser home directory. This gets really ugly really fast - having thousands of output files that are never cleaned up is no bueno. Suggestion: Create a new job_output folder and write job files here. Also determine a cleanup strategy so that job files are not retained indefinitely.

[2013-01-21 20:58] RNAer commented on #53
this would be awesome. any update on sitepainter for integration?

[2013-01-21 21:00] #56 closed, assigned to nobody

[2013-01-22 03:41] douginator2000 commented on #53
Check in with Antonio and see what he thinks as well.

On Monday, January 21, 2013, Zech Xu wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-01-22 17:25] douginator2000 commented on #21
This ticket has been resolved by #13.

[2013-01-22 17:25] #21 closed, assigned to douginator2000

[2013-01-22 17:27] douginator2000 commented on #13
![Screen Shot 2013-01-22 at 10 24 37 AM](https://f.cloud.github.com/assets/608209/87219/d2bab8e0-64b8-11e2-8717-80fa1ef707a9.png)

I noticed that at least in some cases, the "submit all jobs" for database loading shows up when processing completed but with an error. If processing was not successful, no link for submitting data to the database should exist.

[2013-01-22 21:40] douginator2000 commented on #13
Additional notes here: Code should check if all processing jobs are finished. If all are finished and all completed successfully then show the "Queued Data to Load" section. If both of the prior statements are not true, do not show the "Queued Data to Load" link.

[2013-01-23 20:55] douginator2000 opened #110 "Generate meta-analysis log file"
Cathy L. Suggests:  "That said, another useful thing would be if the results of a meta-analysis also returned a log file describing what was done to produce that result (e.g. what studies were selected, which metadata fields, what filters may have been applied based on those metadata fields, and what jobs were run and additional parameters that may have been set at that point."

This could be gene

[2013-01-24 19:57] douginator2000 opened #111 "Enhance search capabilities for the qiime website"
Add in additional methods for discovering sequence data in the website. Please post suggested criteria below:

[2013-01-24 20:07] douginator2000 opened #112 "Add a queue tracker for studies"
Add in some way to see a) the total queue status, and/or b) where a particular study is in the queue. Parse qstat in some way to give meaningful output to users.

[2013-01-24 21:02] douginator2000 opened #113 "Post the american gut consent form"
URL to use:

http://microbio.me/agconsent

just make the consent form document the default for that directory.

[2013-01-24 21:20] rob-knight commented on #113
Thanks!

On Jan 24, 2013, at 2:02 PM, "Doug Wendel" <notifications@github.com<mailto:notifications@github.com>> wrote:

URL to use:

http://microbio.me/agconsent

just make the consent form document the default for that directory.

—
Reply to this email directly or view it on GitHubhttps://github.com/qiime/qiime_web_app/issues/113.

[2013-01-24 21:48] wasade commented on #55
Of those, 269 of the OTUs cannot be observed due to the homopolymer filter
on split_libraries.py. split_libraries_fastq.py does not have the
homopolymer check as far as I can tell. Doug, can you verify what split
libraries method is used for loading the Illumina data? I believe fastq,
but want to be sure.

Comparing the remaining 1400 or so, about 1100 are in GG_12_10. It is
possible that the 300

[2013-01-28 17:42] douginator2000 opened #114 "Meta-analysis list management"
Cathy says:

"Just thought of another thing to add to github if that is OK. I think that it would be convenient if the list of metaanalyses in the "select previous meta-analysis option" were either in alphabetical or chronological order. Perhaps I should be better about deleting old ones, but because I do so many it is often hard for me to find ones I am looking for. The order seems kinda random."

[2013-01-28 17:47] rob-knight commented on #111
I think the key criteria are:
- keywords in title
- keywords in abstract
- keywords in metadata
- presence/absence of metadata field
- PI
- other people associated with project (names or institutions)
- status (submitted, approved, metadata received, metadata finalized, samples received, sequenced, processed, available, published)
- submission date (as range, they won't know exactly)
- run date (a

[2013-01-28 18:04] gregcaporaso commented on #111
It would also be useful to be able to search either a sequence (via BLAST or usearch) or an OTU ID (easier to develop) and find out what types of samples it shows up in, where types of samples were defined by some metadata category.

[2013-01-28 20:23] douginator2000 commented on #113
Form has been posted to:

http://microbio.me/agconsent

[2013-01-28 20:23] #113 closed, assigned to douginator2000

[2013-01-28 21:14] douginator2000 opened #116 "Add ability to color plots based on taxonomy data"
PCoA 2D/3D, others? Bi-plots?

[2013-01-28 21:17] douginator2000 commented on #116
Probably will just show up as additional fields in the mapping file for varying levels of taxonomy data.

Question: There will of course be many taxa associated with a particular sample. If you color the sample's "dot", do you pick the most abundant taxa to color it by?

[2013-01-28 21:18] rob-knight commented on #116
Yes, all of these. User must specify taxon/taxa to color by.

On Jan 28, 2013, at 2:14 PM, "Doug Wendel" <notifications@github.com<mailto:notifications@github.com>> wrote:

PCoA 2D/3D, others? Bi-plots?

—
Reply to this email directly or view it on GitHubhttps://github.com/qiime/qiime_web_app/issues/116.

[2013-01-28 21:18] rob-knight commented on #116
Better to let user specify, need not be most abundant.

On Jan 28, 2013, at 2:17 PM, "Doug Wendel" <notifications@github.com<mailto:notifications@github.com>> wrote:

Probably will just show up as additional fields in the mapping file for varying levels of taxonomy data.

Question: There will of course be many taxa associated with a particular sample. If you color the sample's "dot", do you pick t

[2013-01-28 22:25] douginator2000 commented on #116
Chatted with Cathy about this: Need a way to select which taxa and and at what level prior to performing analyses. Don't really know what to select until looking at output of summarize_taxa.py. Think about how to work this data into a good UI.

Also confirmed that the coloring is generally a color gradient based on abundance of selected taxa in each sample. Also could be interesting to color by mo

[2013-01-28 22:29] wasade commented on #116
what about 2 pull downs, first to select level, second to select name
observed at that level?

On Mon, Jan 28, 2013 at 3:25 PM, Doug Wendel notifications@github.comwrote:

[2013-01-28 22:41] douginator2000 commented on #116
Sounds like a reasonable end-game though given that the plot parameters are
currently derived directly from the Qiime script params dict, it might make
sense to add this ability directly to Qiime (e.g. add an additional
optional input file and the summarization level/taxa), or we may need to
think about exactly how to add this coloring option as an add-on that the
website provides.

On Mon, Jan 28

[2013-01-28 22:48] wasade commented on #116
But taxon data is in biom table already

On Jan 28, 2013, at 15:41, Doug Wendel notifications@github.com wrote:

Sounds like a reasonable end-game though given that the plot parameters are
currently derived directly from the Qiime script params dict, it might make
sense to add this ability directly to Qiime (e.g. add an additional
optional input file and the summarization level/taxa), or we may ne

[2013-01-28 22:56] douginator2000 commented on #116
Correct though the challenge is giving the user enough information to
select the appropriate things to color by prior to generating the
charts/plots. E.g. Cathy says she needs to look at the output of
summarize_taxa before she can make good choices about what taxa to color
by.

Another thought: perhaps we could generate a number of plots/charts at
various taxa levels and add some number of new col

[2013-01-28 22:59] wasade commented on #116
Correct though the challenge is giving the user enough information to

they cant look at a taxa summary plot first and then continue the analysis?
or redo betadiv?

agree with rob that user selection is ideal. most abundant may not be the
most interesting

[2013-01-29 18:07] douginator2000 commented on #111
Greg, interesting ideas. Can you elaborate on how you'd foresee searching on a sequence via BLAST or usearch, and if either of those is preferable if we implemented just one?

Searching by OTU ID would be pretty easy to implement.

[2013-01-29 19:09] wasade commented on #111
Blast or usearch against ref to get otu id?

On Jan 29, 2013, at 11:07, Doug Wendel notifications@github.com wrote:

Greg, interesting ideas. Can you elaborate on how you'd foresee searching
on a sequence via BLAST or usearch, and if either of those is preferable if
we implemented just one?

Searching by OTU ID would be pretty easy to implement.

—
Reply to this email directly or view it on
GitHub

[2013-01-29 19:42] gregcaporaso commented on #111
Yes, exactly. The user would have some sequence, and want to know what _types_ of samples it's found in. You'd BLAST/usearch it against our reference, and if it hits it would list the different sample types (with relative abundances in each), and link to the relevant studies. I think this is a lower priority feature than the ones that Rob listed, but is one thing I could see the QIIME DB being rea

[2013-01-29 22:31] douginator2000 opened #117 "Enable download of raw sequence data files."
In addition to providing access to the collated sequences/biom/mapping files, we need an automated way to provide access to the uploaded raw sequence files.

Some implementation ideas:

Add form to the study summary page for each study that allows a user to enter an email address and click "Request Raw Data". Once an email is submitted, text shows "Request has been submitted. You should receive an

[2013-01-30 05:30] wasade commented on #111
+1

[2013-01-31 17:04] douginator2000 opened #118 "Add % assignment of post-split_lib seqs to OTUs"
It would be very useful to add this statistic to the website. Pulling from the split_library and pick_otus output files, match up the samples and determine the percentage of seqs assigned an OTU and report along with other stats in sample grid on select_study_task.psp (number of seqs, number of OTUs, and add % assigned as new field)

[2013-02-04 18:29] ElDeveloper commented on #2
- [ ] Add a link to make it private again.
- [ ] Call the script to collate the data once it's been made public.

To make a study public you need to flag all the samples of the study as public, instead of flagging the study only, though you should also flag the study as public.

---

The link to make the study public should go under the tools section `select_study_task.psp`.

[2013-02-04 18:36] rob-knight commented on #2
Remember that all EMP studies are supposed to be public forever -- and making a study private should be an admin-only option. Also there are studies where only some of the data can be public (eg for EMP reasons).

On Feb 4, 2013, at 11:29 AM, "Yoshiki" <notifications@github.com<mailto:notifications@github.com>> wrote:
-    Add a link to make it private again.
-    Call the script to collate the da

[2013-02-04 19:13] douginator2000 opened #119 "Addressing collation issues in the database"
A few thoughts on how to handle automated collation of data in the database:
- [ ] When a study is flagged as public, automatic collation (with the -p option) will be run as part of issue #2.
- [ ] When a study is reprocessed, the existing collated archive should be deleted and the database link removed. Reprocessing invalidates all previous processing results. Study should also be flagged as "pri

[2013-02-04 19:17] rob-knight commented on #119
Sounds reasonable.

On Feb 4, 2013, at 12:13 PM, "Doug Wendel" <notifications@github.com<mailto:notifications@github.com>> wrote:

A few thoughts on how to handle automated collation of data in the database:
-    When a study is flagged as public, automatic collation (with the -p option) will be run as part of issue #2https://github.com/qiime/qiime_web_app/issues/2.
-    When a study is reprocesse

[2013-02-04 19:52] adamrp commented on #36
run_process_sff_through_split_lib.py DOES pass --use_sfftools to process_sff.py

I'll test what happens if I remove --use_sfftools (using webdev)

[2013-02-04 20:31] ElDeveloper commented on #2
Yes thanks for pointing this out, general public should not have access to this option, only admins.

[2013-02-07 18:13] ElDeveloper opened #121 "Check if we need to reprocess when we change a primer in a Illumina based study"
Examine the analysis pipeline i. e. the [code](https://github.com/qiime/qiime/blob/master/scripts/split_libraries.py) in and see if the illumina primer is being used at all. If not, add an exception to the validator in the web interface, to not require re-processing of the data in such case.

[2013-02-07 20:26] douginator2000 commented on #121
Confirmed with Tony: Linker/Primer should not be in illumina sequence files we receive. The check for linker/primer metadata check can be removed for illumina studies (i.e. it's OK to change these values without requiring reprocessing).

[2013-02-07 20:30] ElDeveloper commented on #121
Awesome, thanks for looking into this so quickly!

Yoshiki Vázquez Baeza

El 07/02/2013, a las 01:26 p.m., Doug Wendel notifications@github.com escribió:

[2013-02-07 20:56] douginator2000 commented on #36
Merged request and ran a study - fails on live. Adam will you look into this ASAP?

[2013-02-07 21:06] adamrp commented on #36
The change I made uses is_gzip, which is something I committed to QIIME a while ago (in qiime.util.py) -- I thought those changes were on the live system.  I'll add the same function to run_process_sff_through_split_lib.py with a note that, whenever we DO update QIIME on the system, we should change it to use the function from qiime.util

[2013-02-08 20:38] #83 closed, assigned to adamrp

[2013-02-08 20:38] #36 closed, assigned to nobody

[2013-02-13 17:15] douginator2000 opened #125 "Make sure sample_name field shows up in meta-analysis in all cases"
For some reason it's not being displayed.

[2013-02-19 18:25] douginator2000 opened #131 "Add to sample summary data: export"
It would be very helpful to add a file export (CSV/Tab delimited/Excel, whatever) to the sample summary info on the main study page.

[2013-02-19 18:26] douginator2000 opened #132 "Sample details table: add summary info"
Add summary information to the grid which currently lists OTU/sample counts per-sample

[2013-02-19 18:32] douginator2000 opened #133 "Add Workflow Editor"
This is just a brainstorm for now, but could have awesome applications.

A workflow editor for data processing and analysis could be very awesome. This would be a drag-drop interface. Objects would represent items (e.g. metadata, sequence files, or processing objects), and can be connected in a pipeline. Objects would be individually configurable (e.g. sequence file - set split_library options, et

[2013-02-19 18:56] rob-knight commented on #133
Yeah this could be spectacular. How much of this if any does galaxy and/or Henry's workflow tools provide already and can we leverage?

Rob

On Feb 19, 2013, at 1:32 PM, "Doug Wendel" <notifications@github.com<mailto:notifications@github.com>> wrote:

This is just a brainstorm for now, but could have awesome applications.

A workflow editor for data processing and analysis could be very awesome. T

[2013-02-20 18:24] douginator2000 commented on #133
I don't know Galaxy very well - I'll have to look into it. Not sure what Henry's workflow tools are - should check into that as well. I've used a number of 3rd party tools in the past, but those were all for the .NET environment.

[2013-02-25 23:03] adamrp commented on #4
Can we close this issue?

[2013-02-25 23:03] douginator2000 commented on #4
Ya!

On Mon, Feb 25, 2013 at 4:03 PM, adamrp notifications@github.com wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-02-25 23:14] #4 closed, assigned to douginator2000

[2013-02-27 20:13] adamrp opened #144 "Sequence counts and sample summary information unclear"
E.g., for study 721, the "total sequence count" is listed as 22302948, but this number does not match the number of raw sequences (87507177), the number of sequences after split_libraries (21866641), or the number of sequences that get clustered (20131358).

Also, the heading "total OTU count" is misleading, as it suggests that there are that number of OTUs (in reality, the number listed under tha

[2013-02-27 20:35] douginator2000 commented on #144
Raw sequences wil never be meaningful in this grid. Where are you getting the counts from for the other figures? The current code reads the split_library_log file and pulls sequence counts per sample.

RE: OTU text - good point, it should probably read "OTUs Assigned" or something.

[2013-02-27 20:45] adamrp commented on #144
Daniel was curious about raw sequences, which is why I was looking in the first place, but understand that including that number here may be unnecessary/confusing to users.

I got the number of raw reads from the sequence files (this information is also available in the split_libraries_log files of course):

for i in `/bin/ls *_barcodes.fastq.gz`; do echo $i; zcat $i | grep -c '^@'; done

I used t

[2013-02-27 21:02] adamrp commented on #144
My mistake -- copy/paste error led to a miscounting of sequences in split_libraries_log!  "total sequence count" does appear to be in fact the number of sequences that pass split_libraries/quality filtering

[2013-02-27 21:30] adamrp commented on #144
w.r.t. the "OTU Count" heading, I think "OTUs Assigned" is also a little misleading... maybe "Total Sequences Assigned to Greengenes OTUs" (perhaps including the Greengenes version) would be more explicit?

[2013-02-28 00:44] douginator2000 commented on #144
Makes sense but is a little long for a table header - shorter suggestions?

On Wednesday, February 27, 2013, adamrp wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-02-28 00:49] adamrp commented on #144
"Greengenes OTU Hits"?

[2013-02-28 01:04] douginator2000 commented on #144
Sounds good to me. Others?

On Wednesday, February 27, 2013, adamrp wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-02-28 01:22] ElDeveloper commented on #144
:+1:

[2013-03-12 08:09] douginator2000 opened #162 "Portal/welcome page needs content"
When logging in, you're greeted with a thin bar that just says "welcome". We should put some content here - not sure what, but something to help the user get started. Instructions on adding participants? Other information?

[2013-03-13 01:09] ElDeveloper opened #168 "Barcode verification page"
A page should be presented to a user when all the barcodes have not been verified yet, then  (as the workflow suggests) if one of the barcodes is not verified a page with a way to e-mail us should be then presented.

Until all the barcodes are verified, this page should be prompted to the user.

The need for an extra field in the `AG_KIT_BARCODES` is needed to know whether or not a barcode has bee

[2013-03-13 03:48] adamrp commented on #162
Instructions for adding participants makes sense to me.  The first thing they should see, however, is probably the instructions about entering email-delivered kit verification codes, which WERE NOT in the mailed instructions.  Speaking of which, we need to generate that validation-code-entry page.

[2013-03-13 03:56] ElDeveloper commented on #162
:+1:

---

Is the video with instructions on how to sample yourself available? Linking to this video would also be useful.

[2013-03-14 20:44] adamrp opened #170 "test the site on internet explorer, windows"
sorry, whomever gets this

[2013-03-16 20:33] #168 closed, assigned to nobody

[2013-03-17 06:14] adamrp opened #176 "popup text on verification.psp needs to be filled in"
The question mark popup help needs to be added for this text:

Please verify that the barcode(s) you received in the mail match the barcode(s) here (?)

Currently it 404s

[2013-03-17 06:17] adamrp opened #177 "no email is sent from webdev"
tried to send an email to myself from help_request.psp, but no message was delivered.

[2013-03-17 06:30] adamrp commented on #177
nevermind, i was being stupid

[2013-03-17 06:30] #177 closed, assigned to nobody

[2013-03-17 06:45] adamrp commented on #107
Where does this code live?  It is not in the qiime_web_app repo; is it on SVN or something?  I added the log out link to the code on www, but should probably change the repo version, wherever that is...

[2013-03-17 15:15] adamrp opened #178 "help_request.psp should have a validation JS function"
Similar to verification.psp, where the form cannot be submitted until all the fields (first name, last name, email addres at least) are filled in, and highlight them in red if something is left blank

[2013-03-17 16:40] adamrp commented on #178
Thanks, meg!

[2013-03-17 16:40] #178 closed, assigned to nobody

[2013-03-18 16:08] megalodonatron commented on #170
-1 barf

[2013-03-18 16:08] megalodonatron commented on #162
I'll work on this.

[2013-03-18 16:09] douginator2000 commented on #170
LOL I actually have Win8 so I can do it. I'm probably the only one that
actually still likes Winders. :D It's the 15 years of Windows development I
did.

On Mon, Mar 18, 2013 at 10:08 AM, Meg Pirrung notifications@github.comwrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-03-18 16:10] megalodonatron commented on #170
it's all yours!

[2013-03-18 17:25] adamrp commented on #176
Actually, we need a page barcode_popup.psp that will show the user an image of the barcode so that they know what to look for.

[2013-03-18 17:28] adamrp opened #183 "logout.psp"
Need a logout.psp that clears important session keys and then redirects to index.psp

[2013-03-18 17:31] megalodonatron commented on #162
Should be fixed in latest pull req

[2013-03-18 17:34] adamrp opened #185 "juvenile users with deceased parents can currently add samples"
Is this okay?  Or do we need the special consent forms before we allow them to add samples?

[2013-03-18 17:35] megalodonatron commented on #185
Need to ask Gail if it's okay for them to continue or if they should be stopped until they provide proof of deceased parents.

[2013-03-18 17:47] #162 closed, assigned to meganap

[2013-03-18 18:18] douginator2000 commented on #170
Site works. Only issues are:

boxes around some icons (border not set perhaps?)

Kit ID/Password fields are of different sizes

Border around "Add new participants"

![Screen Shot 2013-03-18 at 12 15 48 PM](https://f.cloud.github.com/assets/608209/272058/40629632-8ff8-11e2-8a33-4630aa4b50b5.png)
![Screen Shot 2013-03-18 at 12 15 42 PM](https://f.cloud.github.com/assets/608209/272059/4070ebe2-8ff8-

[2013-03-18 18:20] wasade opened #188 "Use 2 or 3 significant digits for height and weight on survey"
It will reduce the weird rounding errors you get when you tab between boxes

[2013-03-18 18:20] wasade opened #189 "Travel to field on survey under general information"
Could this be made a country pull down instead of free text?

[2013-03-18 18:26] wasade opened #190 "when adding a sample, it is possible to enter an invalid time"
for instance, 13:00am is allowed

[2013-03-18 18:28] douginator2000 opened #191 "make sure all inline sql is translated to stored procedure before live launch."
Very important to prevent sql injection attacks.

[2013-03-18 18:35] megalodonatron commented on #176
did this in latest pull req

[2013-03-18 18:35] megalodonatron commented on #176
:rabbit:

[2013-03-18 18:42] #183 closed, assigned to nobody

[2013-03-18 20:26] #176 closed, assigned to meganap

[2013-03-18 20:27] megalodonatron commented on #170
Recent css changes should have fixed these IE issues, can you check again Doug?

[2013-03-18 20:28] megalodonatron commented on #189
This was discussed but since the ability to add arbitrary fields is done with JS html injection, and populating the select is done in mod_python, it's not possible to inject the mod_python with js and have it interpreted.

[2013-03-18 20:30] wasade commented on #189
But earlier in the questionnaire there is a pull down to select a country
of residence?

On Mar 18, 2013, at 14:28, Meg Pirrung notifications@github.com wrote:

This was discussed but since the ability to add arbitrary fields is done
with JS html injection, and populating the select is done in mod_python,
it's not possible to inject the mod_python with js and have it interpreted.

—
Reply to this

[2013-03-18 20:31] megalodonatron commented on #189
Yep, but that one is populated on first view of the page. With the travel location fields they are injected after the page is already written so mod_python doesn't get run again.

[2013-03-18 20:31] wasade commented on #189
Ah, kk

On Mar 18, 2013, at 14:31, Meg Pirrung notifications@github.com wrote:

Yep, but that one is populated on first view of the page. With the travel
location fields they are injected after the page is already written so
mod_python doesn't get run again.

—
Reply to this email directly or view it on
GitHubhttps://github.com/qiime/qiime_web_app/issues/189#issuecomment-15079750
.

[2013-03-18 20:37] douginator2000 commented on #189
It could still be done pretty easily: on that page, have python write out a
JS array that lists all of the countries. This array can then be assigned
to any dynamically added dropdown list because it'd always be on the page.

On Mon, Mar 18, 2013 at 2:32 PM, Daniel McDonald
notifications@github.comwrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department

[2013-03-18 20:47] megalodonatron commented on #188
Did this in JS, limiting to 2 decimals, but it doesn't help the changing every time you tab issue.

[2013-03-18 20:54] megalodonatron commented on #190
fixed in latest pull req

[2013-03-18 21:22] megalodonatron commented on #189
fixed in latest pull req

[2013-03-18 22:51] #190 closed, assigned to nobody

[2013-03-18 22:52] #189 closed, assigned to nobody

[2013-03-19 01:59] adamrp opened #200 "samples should be clickable"
Should show a page (possibly in a floating div, a la the help text?) that shows the sample information and has a link to unassign the sample from its current participant so that it can be assigned to another participant.

[2013-03-19 02:07] megalodonatron opened #201 "Add contact us mechanism from the main login page"

[2013-03-19 02:23] megalodonatron opened #202 "Index needs to somehow rerout to portal if you're already logged in"

[2013-03-19 02:26] megalodonatron opened #203 "add delete functionality for participants and samples"
also possibly add a sample/participant overview page, where you can see which samples you've added to a participant, and what info you added to a sample

[2013-03-19 02:26] megalodonatron commented on #203
Doug will add delete functionality

[2013-03-19 02:26] megalodonatron commented on #203
I will do participant/sample overview pages if people think that is needed

[2013-03-19 02:35] ElDeveloper commented on #203
Ok, this one has been assigned to @douginator2000.

[2013-03-19 02:35] ElDeveloper commented on #202
I will take this one.

[2013-03-19 02:39] douginator2000 commented on #202
Thanks sir!

On Mon, Mar 18, 2013 at 8:35 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-03-19 03:12] megalodonatron commented on #203
Overview templates currently look like:
![Screen Shot 2013-03-18 at 9 11 17 PM](https://f.cloud.github.com/assets/930642/273973/b479a2f0-9042-11e2-857b-c6f051058ee1.png)

![Screen Shot 2013-03-18 at 9 09 23 PM](https://f.cloud.github.com/assets/930642/273972/8b64d34e-9042-11e2-8bff-4137eead2cd1.png)

Will need someone to add in queries that populate with the right info, @douginator2000 can attach

[2013-03-19 03:13] megalodonatron commented on #200
This is being fixed in the other issue about deleting participants/samples so closing this issue

[2013-03-19 03:13] #200 closed, assigned to nobody

[2013-03-19 03:27] megalodonatron opened #206 "Fix tab order!"

[2013-03-19 03:29] megalodonatron opened #207 "Fix default text values"
When adding a second country (or more) on the survey for "Where did you travel to?" the text box says "Duration" days and when you put your cursor in the text box it doesn't delete the text, you have to manually delete it before specifying the number of days

fix so that these default values go away if still defaults at the end:
related_participant_1    Name
travel_location_1    Select an option..

[2013-03-19 03:30] megalodonatron opened #208 "Are you sure you want to lose your progress page"
Notes from Paul:
If you're in the middle of the survey, and select any of the main menu options, e.g., Home, it just takes you there immediately. Since the survey isn't saved it might be worth prompting to ask if the person really wants to lose their progress (I realize there was the warning up front).

[2013-03-19 03:32] megalodonatron opened #209 "Add link for food diary"
Notes from Hongwei:
(1) …….For this we suggest that you contact a free website that will
allow you to estimate these amounts. (Would you recommend a link here?)

[2013-03-19 03:33] megalodonatron opened #210 "Fix consent typo"
(2) If you are injured as a result of participating in this study or
for questions about a study-related injury, call Please call (Is there
a typo?) Rob Knight at 303-492-1984 or email Rob Knight

[2013-03-19 03:34] megalodonatron opened #211 "Intermediate "Thank you for completing the survey" page"
Notes from Hongwei:
(5) Lack of a survey finishing page. Just a little bit weird to come
back to the add participant page.

[2013-03-19 04:48] megalodonatron opened #215 "Fix wording on water source"
Notes from Matt:
1. When asking about water sources, I know I use both tap water and bottled water. Maybe making the menu able to select more options would be good, unless that makes it too complicated. Or else say 'Main water source'

[2013-03-19 13:28] #202 closed, assigned to ElDeveloper

[2013-03-19 13:29] #215 closed, assigned to nobody

[2013-03-19 13:29] #210 closed, assigned to meganap

[2013-03-19 14:45] #206 closed, assigned to meganap

[2013-03-19 14:46] #209 closed, assigned to meganap

[2013-03-19 15:03] adamrp commented on #203
It's not really a "delete" so much as "remove from participant", right?  They can always reassign the sample to another (or the same) participant after "deleting" it?  Also, in the participant overview page, will the sample IDs be links sending you to the sample overview page?

[2013-03-19 15:04] megalodonatron commented on #203
yes the sample ids on the participant page would link to sample overviews

[2013-03-19 15:05] adamrp commented on #201
What are we thinking for this?  We can't send people through fusebox to get to a nicely formatted "email us" page because header.psp will kick them back to index.psp since they are not logged in.  I think a simple mailto link may be the best in this case?  Or we could send them to a "email us" form that is _not_ nicely formatted through fusebox

[2013-03-19 15:06] megalodonatron commented on #201
I just added a mailto link and pull req'd it

[2013-03-19 15:06] adamrp commented on #201
I see that a pull request exists for exactly that -- good timing :)

[2013-03-19 15:14] megalodonatron commented on #201
updated so that the email will now have subject AGLOGINHELP and body asking for kitID and other relevant information

[2013-03-19 15:43] megalodonatron commented on #208
fixed by binding window.onbeforeunload

[2013-03-19 15:50] megalodonatron commented on #211
I actually think this is already covered with the message variable, it should say something like:
             successfully added as a participant! If you have not "
            "already done so, please confirm your identity and kit barcodes. "
            "Then, you may assign samples to participants.

but this is not happening, and suggestions @adamrp @ElDeveloper ?

[2013-03-19 16:23] adamrp commented on #211
Currently that email message is only sent when the user is a bruce wayne.
 Can probably be fixed by moving the message in submit_human_survey.psp
from line 74 to line 59, but I don't have time to test right now.

On Tue, Mar 19, 2013 at 9:50 AM, Meg Pirrung notifications@github.comwrote:

[2013-03-19 16:25] adamrp commented on #211
Actually I just found 15 minutes, I'll get on this.

[2013-03-19 16:45] ElDeveloper opened #220 "Switching between fields for height and weight changes constantly"
Switching between the height and weight fields using the tab key, will constantly change the values that you've inputed.

[2013-03-19 16:45] #211 closed, assigned to meganap

[2013-03-19 16:46] adamrp opened #221 "participant name and ag_login_id are not sufficient to identify a participant uniquely"
On submit_human_survey.psp, if the user is a bruce wayne, it identifies the user in the email that is sent to us by the participant_name and ag_login_id.  However, a single ag_login_id can have multiple participants with identical participant_names.

[2013-03-19 17:05] adamrp commented on #221
Should we prevent the addition of two participants with identical names to the same ag_login_id?

[2013-03-19 17:16] wasade commented on #221
what about jr. and sr.?

[2013-03-19 17:17] wasade commented on #220
related to #188

[2013-03-19 17:24] adamrp commented on #221
I guess they would actually add jr. and sr. in their participant names when they take the survey.  The problem is that we probably dont want to list in the menu (on the left) two identically named participants.  Not only is this confusing for us (when the user has to contact us), but also confusing for the user.

[2013-03-19 17:27] #201 closed, assigned to nobody

[2013-03-19 17:28] adamrp commented on #188
In JS, is it possible to store a more precise value (i.e., to 10 decimal places), but only display 2 of them?  If I am understanding the problem correctly, that would probably resolve the issue.

[2013-03-19 17:30] wasade commented on #221
makes sense

On Tue, Mar 19, 2013 at 11:24 AM, adamrp notifications@github.com wrote:

[2013-03-19 17:38] adamrp opened #222 "prevent addition of identically-named participants to a single ag_login_id"
Confusing for us, confusing for user.  Probably involves changes to survey_main.psp (which  accepts the form values from new_participant.psp)

[2013-03-19 17:47] douginator2000 commented on #170
It looks pretty good. One oddity is that when logging a sample, selecting a sample date brings the control up over and over again. I.e. if I pick a date, normally the control would go away. It just reappears every time I make a selection.

[2013-03-19 18:05] wasade commented on #220
In the [conversion methods](https://github.com/qiime/qiime_web_app/blob/master/www/americangut/js/american_gut.js#L359), what about something like:

[code]

[2013-03-19 18:21] megalodonatron commented on #220
I'm fine with any solution proposed, can you make that change?

[2013-03-19 18:26] wasade commented on #220
Don't have vm setup yet so cannot test

On Mar 19, 2013, at 12:21, Meg Pirrung notifications@github.com wrote:

I'm fine with any solution proposed, can you make that change?

—
Reply to this email directly or view it on
GitHubhttps://github.com/qiime/qiime_web_app/issues/220#issuecomment-15133465
.

[2013-03-19 18:27] megalodonatron commented on #220
Okay I'll fix it

[2013-03-19 18:47] megalodonatron opened #224 "Populate template pages for sample_overview and participant_overview"
The templates are already checked in but someone needs to write queries to get out the relevant information

[2013-03-19 19:04] megalodonatron commented on #170
Only happens in IE?

[2013-03-19 19:43] megalodonatron commented on #224
being taken care of as part of #203

[2013-03-19 19:43] #224 closed, assigned to nobody

[2013-03-19 19:44] megalodonatron commented on #188
same as #220

[2013-03-19 19:44] #188 closed, assigned to nobody

[2013-03-19 20:44] #221 closed, assigned to nobody

[2013-03-19 20:44] #222 closed, assigned to adamrp

[2013-03-19 20:44] #208 closed, assigned to meganap

[2013-03-19 20:44] #220 closed, assigned to meganap

[2013-03-19 20:45] #207 closed, assigned to meganap

[2013-03-19 20:47] douginator2000 commented on #170
Yes only IE, Chrome on Windows is fine.

[2013-03-19 21:05] adamrp commented on #185
Gail says that we should not let them fill out the form.  I'll modify the code so that bruce waynes are stopped before entering the survey, emailed, and informed that they will hear from us.

[2013-03-19 21:06] megalodonatron opened #227 "Message text for errors is not evident enough"
Things like "participant already exists" etc
I'm going to add some css so that it shows up in red

[2013-03-19 21:14] megalodonatron opened #229 "Calorie Counter is actually Calorie Count"

[2013-03-19 21:42] adamrp commented on #185
Right now, I'm just kicking them back to portal (without adding the participant) with the message that they'll hear from us.  Is it possible to add the participant if he/she has not filled out the survey?

[2013-03-19 21:43] megalodonatron commented on #185
No, you can't add a participant unless you fill out the survey. When we have them come back we can just tell them not to check the deceased parent thing, or we can add some sort of logic to skip the consent and go straight to survey once they've given us proof.

[2013-03-19 21:49] adamrp commented on #185
Okay, then my solution will work for the time being.  I think the right thing to do will be to add logic as you suggest so that the user can skip the consent form (after all, they've already filled it out once).  I'll add an issue for that, but we can take care of it later.

[2013-03-19 21:51] douginator2000 commented on #185
The consent is per-participant so it needs to always be there ya?

On Tue, Mar 19, 2013 at 3:49 PM, adamrp notifications@github.com wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-03-19 21:52] megalodonatron commented on #185
Except with the Bruce Waynes if they get to the point where we get emailed then they've already checked that they've read the consent. We can add a participant for them once we get the proof or whatever.

[2013-03-19 22:01] #227 closed, assigned to meganap

[2013-03-19 22:19] adamrp commented on #185
But even after we add a participant for them, they still have to fill out the survey.  How can they do that?

[2013-03-19 22:22] #229 closed, assigned to meganap

[2013-03-19 22:22] ElDeveloper commented on #191
I'm going to start tackling this one from the SQL side of things, will wait until @douginator2000 gives me a heads up.

[2013-03-19 22:47] adamrp commented on #185
Meg and I discussed.  I think we need a column in ag_human_survey for "survey_complete" (y/n).  That way we can add a juvenile participant who has deceased parents and add logic so that they can bypass the consent form and proceed directly to the survey.  Note that this change will require changes to logic in other parts of the site as well!

[2013-03-19 23:07] megalodonatron opened #231 "typo in consent form"
kings instead of kinds

[2013-03-19 23:12] wasade opened #233 "Consent checkbox indicates a copy of the consent will be sent over email"
AFAIK this is not actually happening

[2013-03-19 23:35] rob-knight commented on #185
Don't they instead have a guardian who needs to sign in loco parentis?

On Mar 19, 2013, at 4:47 PM, "adamrp" <notifications@github.com<mailto:notifications@github.com>> wrote:

Meg and I discussed. I think we need a column in ag_human_survey for "survey_complete" (y/n). That way we can add a juvenile participant who has deceased parents and add logic so that they can bypass the consent form and p

[2013-03-20 00:36] ElDeveloper commented on #191
So far these are done:
- [x] `AGDataAccess.deleteAGGeneralValues()`
- [x] `AGDataAccess.addAGGeneralValue()`

After talking to @douginator2000 we agreed we would hold off on these:
- [ ] `AGDataAccess.insertAGMultiple()`
- [ ] `AGDataAccess.deleteAGMultiple()`

[2013-03-20 00:38] #231 closed, assigned to meganap

[2013-03-20 00:56] ElDeveloper opened #236 "help_request.psp will let you send a help request without inputing the message"
E-mails can be sent without a message, this should behave as any other text input in the system i. e. highlight in red until you input something.

[2013-03-20 00:58] megalodonatron opened #237 "Join the project should open in new window"

[2013-03-20 01:00] ElDeveloper opened #238 "The join the project item opens in the same window"
This should open a new window/tab instead.

[2013-03-20 01:00] ElDeveloper commented on #238
Duplicated of #237, closing it now.

[2013-03-20 01:00] #238 closed, assigned to nobody

[2013-03-20 01:03] megalodonatron commented on #237
Doug is taking care of this in his menu remodel

[2013-03-20 01:11] #236 closed, assigned to meganap

[2013-03-20 01:24] douginator2000 commented on #237
fixed.

[2013-03-20 01:24] #237 closed, assigned to meganap

[2013-03-20 01:24] douginator2000 commented on #203
fixed.

[2013-03-20 01:24] #203 closed, assigned to douginator2000

[2013-03-20 02:03] douginator2000 commented on #191
Vulnerable code covered.

[2013-03-20 02:03] #191 closed, assigned to ElDeveloper

[2013-03-20 02:09] ElDeveloper commented on #191
![up-5](http://www.maniacworld.com/internet-high-five.jpg)

[2013-03-20 02:58] adamrp commented on #185
Pull req was merged that addresses this issue

[2013-03-20 02:58] #185 closed, assigned to nobody

[2013-03-20 04:41] megalodonatron opened #247 "Jquery radio buttons acting up"
Letting you select all options, gives this error in the console:

Uncaught Error: cannot call methods on button prior to initialization; attempted to call method 'widget'

[2013-03-20 05:31] #233 closed, assigned to nobody

[2013-03-20 05:42] #247 closed, assigned to meganap

[2013-03-20 06:38] ElDeveloper opened #251 "Text in survey is misleading"
should be changed to:

"Your answers will not be saved unless you go through the end of the survey" or something of that nature.

[2013-03-20 06:40] ElDeveloper commented on #251
This piece of text is missing a closing parenthesis.

[2013-03-20 06:45] ElDeveloper opened #252 "Firefox 19.0.2 -- Weird behavior for height and weight"
Trying to enter a value in `cm` first will behave oddly and set as NaN the `in` field.

The text entries become pseudo-non-editable, i. e. you cannot delete a single character.

---

Same thing happens for `kg` and `lb` pair of text entries.

[2013-03-20 06:52] megalodonatron opened #255 "Error going from dietary questions to optional questions"
Uncaught SyntaxError: Unexpected token :

This breaks the jquery on the optional questions page

[2013-03-20 06:53] douginator2000 opened #256 "In firefox, cannot paste, edit, or delete text in numeric fields"
Yeah. Try the participant info page with phone number, etc... Type in data, try to back space, paste, etc... no bueno.

[2013-03-20 06:54] megalodonatron commented on #252
Works as expected for me in firefox and safari, though not that same version of firefox.

[2013-03-20 06:55] ElDeveloper opened #257 "Weird message in page 4 in survey -- Firefox"
Page 4 shows a weird message when trying to hit continue:

![Captura de pantalla 2013-03-20 a la s 00 55 06](https://f.cloud.github.com/assets/375307/279511/2bc46028-912b-11e2-989a-c19cd2992ec6.png)

@douginator2000 confirmed the same problem.

[2013-03-20 06:56] douginator2000 commented on #255
Which optional questions did you add?

[2013-03-20 06:57] megalodonatron commented on #255
All and none, it always happens

[2013-03-20 07:08] douginator2000 commented on #257
Also have this in IE on Windows
![Screen Shot 2013-03-20 at 1 07 48 AM](https://f.cloud.github.com/assets/608209/279536/063e244a-912d-11e2-9d51-984d1da1140d.png)

[2013-03-20 07:09] douginator2000 commented on #257
Suspect there is some coding difference on just this page?

[2013-03-20 07:13] douginator2000 opened #259 "In Internet Explorer, clicking any + to add fields causes leave/stay dialog to appear"
As title says. Might have to just remove this code.

![Screen Shot 2013-03-20 at 1 10 38 AM](https://f.cloud.github.com/assets/608209/279543/8f3fb984-912d-11e2-93ac-bf07fbd4ffe5.png)

[2013-03-20 07:18] megalodonatron commented on #256
same as #252

[2013-03-20 07:18] #256 closed, assigned to meganap

[2013-03-20 07:20] douginator2000 opened #261 "In IE, percent up/down controls do not appear"
Instead an X shows up, and NaN appears if you don't enter it all (see screenshot)

![Screen Shot 2013-03-20 at 1 19 13 AM](https://f.cloud.github.com/assets/608209/279562/9d9ff09c-912e-11e2-9128-e988835b6d47.png)

[2013-03-20 07:28] douginator2000 commented on #255
Can't get anything to show up in Chrome...

[2013-03-20 07:40] megalodonatron commented on #261
fixed NaN issue, up/down arrows are IE not rendering html things, can't fix

[2013-03-20 07:47] #261 closed, assigned to meganap

[2013-03-20 07:52] douginator2000 opened #264 "Cannot log in in LYNX"
Really. See?
![Screen Shot 2013-03-20 at 1 52 17 AM](https://f.cloud.github.com/assets/608209/279646/2bdb4e0c-9133-11e2-9770-19c026cdbc32.png)

[2013-03-20 07:54] ElDeveloper commented on #252
This has been fixed.

[2013-03-20 07:54] #252 closed, assigned to meganap

[2013-03-20 07:54] ElDeveloper commented on #257
This was closed by @meganap.

[2013-03-20 07:54] #257 closed, assigned to meganap

[2013-03-20 07:55] ElDeveloper commented on #251
Closed in #254

[2013-03-20 07:55] #251 closed, assigned to meganap

[2013-03-20 07:55] megalodonatron commented on #255
:rabbit:

[2013-03-20 07:55] #255 closed, assigned to meganap

[2013-03-20 07:56] megalodonatron commented on #259
fixed by removing those messages for now

[2013-03-20 07:56] #259 closed, assigned to meganap

[2013-03-20 08:00] douginator2000 opened #266 "Dietary percent fields allow characters"
Should be numeric only. Also, it's possible to entire erase contents of one field. If you do this, some browsers display NaN as the calculated total, or others display nothing.

[2013-03-20 08:14] #266 closed, assigned to meganap

[2013-03-20 08:16] megalodonatron opened #268 "google maps post shadows are off"
![Screen Shot 2013-03-20 at 2 16 35 AM](https://f.cloud.github.com/assets/930642/279705/87f60b52-9136-11e2-9d47-56715660dc80.png)

[2013-03-20 08:32] megalodonatron commented on #268
Seemed to possibly be a zooming issue, not a problem

[2013-03-20 08:32] #268 closed, assigned to nobody

[2013-03-20 09:22] megalodonatron opened #269 "only allow certain characters in participant name field"

[2013-03-20 19:43] megalodonatron commented on #269
:rabbit:

[2013-03-20 19:43] #269 closed, assigned to nobody

[2013-03-20 21:40] douginator2000 opened #274 "When entering weight (possibly height too), numbers reformat when tabbing through"
Example, I enter 192 for weight, tab, it auto-fills the KG field, tab, then it auto fills the lbs field again based on the KG value and it changes to 189.

[2013-03-21 00:33] adamrp opened #275 "Add more instructions to portal.psp"
I bet users are going to feel a little lost on the site after they verify their kits and fill out their survey -- it'll just put them back to portal where they have nothing left to do.  I think we should have a message on portal telling them what the plan is, and that we'll email them updates as we make new developments.

[2013-03-21 01:44] ElDeveloper commented on #275
:+1:

[2013-03-21 03:13] megalodonatron commented on #274
Crap, I better give it a higher threshold for changing

[2013-03-21 03:52] adamrp opened #276 "Add subset of survey questions that users can fill out for a sample"
Some participants will have multiple samples assigned to him or her.  Some of these participants plan to perform experiments to observe the change between samplings (e.g., take one sample, change diet and eating patterns, or change exercise, etc., then take the other sample).  We should provide them a mechanism to add metadata on a per-sample basis (in addition to the per-kit survey they are curre

[2013-03-21 03:54] wasade commented on #276
+1

...need someway to track the searing from cayenne...

On Wed, Mar 20, 2013 at 9:52 PM, adamrp notifications@github.com wrote:

[2013-03-21 14:59] ElDeveloper commented on #276
+1 but perhaps not super top priority right now?

El 20/03/2013, a las 21:54, Daniel McDonald notifications@github.com escribió:

[2013-03-21 16:15] douginator2000 commented on #276
How 'bout a general purpose system that allows the user to record whatever
change (if any) occurred for that sample? I doubt we'll be able to cover
all of the perturbations that might occur but allowing them to specify one
(or possibly several line items) themselves at the time the record their
sample could still allow us to use it as metadata for analysis.

On Thu, Mar 21, 2013 at 8:59 AM, Yoshik

[2013-03-21 16:30] rob-knight commented on #276
sounds good

On Mar 21, 2013, at 10:15 AM, Doug Wendel <notifications@github.com<mailto:notifications@github.com>> wrote:

How 'bout a general purpose system that allows the user to record whatever
change (if any) occurred for that sample? I doubt we'll be able to cover
all of the perturbations that might occur but allowing them to specify one
(or possibly several line items) themselves at the tim

[2013-03-21 17:34] adamrp commented on #276
Yes, that's what I was thinking, too

[2013-03-21 21:54] douginator2000 opened #278 "Move consent email functionality - immediately following consent, not end of survey"
As the title says, it's safer to email the consent form immediately after it's filled out rather than at the end of the survey. We've had one person already encounter an exception during the survey and thus did not get an emailed copy.

[2013-03-22 16:38] megalodonatron opened #280 "FAQ page"
Make an FAQ page with common questions/issues and videos

[2013-03-22 16:45] ElDeveloper commented on #280
:+1:
El 22/03/2013, a las 10:38, Meg Pirrung notifications@github.com escribió:

[2013-03-22 17:41] douginator2000 opened #281 "Create "read only" view for public studies"
When logging into qiime/emp/other portals, if you are a "regular", non-admin user, you will only see your own studies and those you have been associated to via the wwwadmin tool. It would be useful to also include public studies in this list, but to do so we need to have a read-only view of those studies. Only the owners and admins should have the ability to change these studies in any way.

Avail

[2013-03-23 15:41] megalodonatron opened #283 "Something wrong with consent form emailing"
I've gotten a lot of emails from people saying the consent form didn't email, maybe this is a systematic issue? Should check it out.

[2013-03-23 16:22] ElDeveloper commented on #283
Hmm could this be the e-mail going to their spam folder or could this be something else? I'm will do some tests. Also this is related to #278.

[2013-03-23 16:35] ElDeveloper commented on #275
:shipit:

[2013-03-23 16:35] #275 closed, assigned to meganap

[2013-03-23 16:37] megalodonatron commented on #283
It's not that they're not getting the email, it's that they're getting the "there was a problem sending your consent form please contact us immediately" message as soon as they finish the survey

[2013-03-23 16:37] megalodonatron commented on #283
Though I suppose they probably aren't getting the email either

[2013-03-23 16:44] ElDeveloper commented on #283
Oh, I guess what you mention about this being a systematic issue makes more sense. Just tried adding a participant and I got a consent form emailed, it didn't show up in the spam box so that's also good.

I assume this might have something to do with the email server? I cannot think of something else that might be causing this. Or maybe some crazy characters in their names/emails?

[2013-03-23 16:48] megalodonatron commented on #283
I think the people's info still gets added even if they do get that message, so maybe we can check the database for their emails or something.

[2013-03-23 17:24] douginator2000 commented on #283
Sounds like we should add a bunch of error trapping on the last page to a)
capture the form field values so they're not lost, b) log any emailing
issues, and c) let the user know what the should do (if we don't already
have something like this).

On Sat, Mar 23, 2013 at 10:48 AM, Meg Pirrung notifications@github.comwrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at B

[2013-03-23 17:33] wasade commented on #283
Should be able to check the mail logs on www, but need to be root. Should
be under /var/log/exim. Will try and take a peek this morning to see what's
up. Do we know what type of exception??

On Mar 23, 2013, at 10:24, Doug Wendel notifications@github.com wrote:

Sounds like we should add a bunch of error trapping on the last page to a)
capture the form field values so they're not lost, b) log any

[2013-03-23 17:36] megalodonatron commented on #283
There's one email where someone actually got an exception, but the rest of the people just say that they got the "couldnt send consent form" message. I'm not sure if those two are even the same issue.

[2013-03-23 17:36] megalodonatron commented on #283
Here's the issue the one guy sent:
MOD_PYTHON ERROR

ProcessId:      10329
Interpreter:    'www.microbio.me'

ServerName:     'www.microbio.me'
DocumentRoot:   '/var/wwwroot/htdocs'

URI:            '/AmericanGut/submit_human_survey.psp'
Location:       None
Directory:      '/var/wwwroot/htdocs/AmericanGut/'
Filename:       '/var/wwwroot/htdocs/AmericanGut/submit_human_survey.psp'
PathInfo:

[2013-03-23 17:38] wasade commented on #283
That last one is db issue. On the blanket exception catch when emailing, is
it printing or storing the associated e.msg()?

On Mar 23, 2013, at 10:36, Meg Pirrung notifications@github.com wrote:

Here's the issue the one guy sent:
MOD_PYTHON ERROR

ProcessId: 10329
Interpreter: 'www.microbio.me'

ServerName: 'www.microbio.me'
DocumentRoot: '/var/wwwroot/htdocs'

URI: '/AmericanGut/submit_human_sur

[2013-03-23 17:44] megalodonatron commented on #283
I'm not sure if that error sends anything anywhere else,
do you know @adamrp ?

[2013-03-23 17:46] megalodonatron opened #284 "Error that guy emailed to us"
MOD_PYTHON ERROR

ProcessId: 10329
Interpreter: 'www.microbio.me'

ServerName: 'www.microbio.me'
DocumentRoot: '/var/wwwroot/htdocs'

URI: '/AmericanGut/submit_human_survey.psp'
Location: None
Directory: '/var/wwwroot/htdocs/AmericanGut/'
Filename: '/var/wwwroot/htdocs/AmericanGut/submit_human_survey.psp'
PathInfo: ''

Phase: 'PythonHandler'
Handler: 'mod_python.psp'

Traceback (most recent call l

[2013-03-23 17:53] douginator2000 commented on #284
That's pretty odd - means that the ag_login_id which the procedure
attempted to insert into the ag_human_survey table no longer existed in the
ag_login_table. Session variable corrupted? Data changed? Don't know - this
is the only one we've gotten that matches this error signature?

On Sat, Mar 23, 2013 at 11:46 AM, Meg Pirrung notifications@github.comwrote:

##

Doug Wendel
Professional Research

[2013-03-23 17:54] megalodonatron commented on #284
Yes, he is the only one who has sent this message, I just had no idea what to tell him about it.

[2013-03-23 17:59] douginator2000 commented on #284
Was he able to resubmit and enter his data?

On Sat, Mar 23, 2013 at 11:54 AM, Meg Pirrung notifications@github.comwrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-03-23 18:00] douginator2000 commented on #283
Yeah that's a foreign key issue that basically says the ag_login_id (set in
the session when you log in) was no longer valid or no longer existed in
the ag_login table when they submitted their survey. Could be that the
browser dropped the session or something else bizarre happened.

On Sat, Mar 23, 2013 at 11:44 AM, Meg Pirrung notifications@github.comwrote:

##

Doug Wendel
Professional Research

[2013-03-23 18:46] wasade commented on #283
Maybe the user left their browser open for a while and then came back to it?

On Mar 23, 2013, at 11:00, Doug Wendel notifications@github.com wrote:

Yeah that's a foreign key issue that basically says the ag_login_id (set in
the session when you log in) was no longer valid or no longer existed in
the ag_login table when they submitted their survey. Could be that the
browser dropped the session or

[2013-03-23 21:00] megalodonatron opened #285 "Set the user's email as the reply-to instead of americangut@gmail.com"

[2013-03-24 03:20] megalodonatron commented on #285
http://stackoverflow.com/questions/1957965/gmail-does-not-detect-the-reply-to-field

talks about how to solve this

[2013-03-24 04:36] megalodonatron opened #286 "Survey edit that populates with values that have already been entered"

[2013-03-24 16:46] douginator2000 commented on #283
It's possible though the session timeout is very long - like a week?

On Sat, Mar 23, 2013 at 12:46 PM, Daniel McDonald
notifications@github.comwrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-03-24 17:20] wasade commented on #283
Weird security settings?

On Mar 24, 2013, at 9:46, Doug Wendel notifications@github.com wrote:

It's possible though the session timeout is very long - like a week?

On Sat, Mar 23, 2013 at 12:46 PM, Daniel McDonald
notifications@github.comwrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wen

[2013-03-25 00:34] megalodonatron opened #287 "Update login error message so it says invalid Kit ID instead of invalid username"

[2013-03-25 00:49] megalodonatron opened #288 "Maybe change "add participant" to "register participant""
Lots of people seem to think that since the signed up for indiegogo that they are already participants, and that the "add participant" buttons add more people in addition to them, rather than actually adding them.

[2013-03-25 18:25] megalodonatron opened #289 "Problems with jquery datepicker"
Loads of people are unable to use the jquery datepicker, going to change date fields to editable and add a date validator

[2013-03-27 17:11] douginator2000 opened #292 "Need to validate email address format"
This may be a likely cause for a number of errors we're seeing. Investigate and add JS validation to the email address field.

[2013-03-29 21:28] megalodonatron opened #294 "Free text box on add sample page"
So people can write notes about what that sample is or whatever

[2013-04-01 15:47] megalodonatron commented on #288
Change add participant text to "If you need to log your sample, start here!"

[2013-04-01 18:37] megalodonatron opened #298 "Barcode scanner utility"
Need to check that sample has been applied, shows green screen or red screen depending on whether or not they can continue with the sample

To continue the person must have signed the consent form, filled out the survey and applied the sample being processed.

[2013-04-01 18:41] megalodonatron opened #299 "Add survey/add sample for environmental and other host associated"

[2013-04-01 18:43] megalodonatron commented on #299
Need to be able to add samples that aren't attached to participants

[2013-04-01 18:44] #284 closed, assigned to nobody

[2013-04-01 18:47] #288 closed, assigned to nobody

[2013-04-01 18:48] megalodonatron commented on #298
green = sample has been applied which inherently means consent has been given and survey has been filled out
red = sample not applied

[2013-04-01 18:51] megalodonatron commented on #298
yellow = barcode has been scanned, we have already sent a follow-up email within the past (amount of time)

need to deal with if the person replies to our auto-email but is still not filling out their form, but has made contact

[2013-04-01 19:00] douginator2000 opened #300 "Restrict characters used in kit_id"
We should disallow certain characters from being in kit_id, password, verification_code. Meg suggests this initial list:

0 - Numeral "Zero"
O - Upper case "O"
q - Lower case "q"
g - Lower case "g"
1 - Number "1"
l - Lower case "L"

[2013-04-01 21:29] douginator2000 commented on #299
I have most of the framework in place to handle this now. I'm including a screenshot of how this looks: left menu contains new items to add animal and general samples (feedback on the actual text for the menu items??).

![Screen Shot 2013-04-01 at 3 22 16 PM](https://f.cloud.github.com/assets/608209/325676/4d33bd30-9b12-11e2-93c3-5cf067fb504f.png)

The code has been refactored such that each sampl

[2013-04-02 01:41] megalodonatron commented on #299
I think we should have environmental rather than general

[2013-04-02 17:17] ElDeveloper commented on #280
Closed in #295

[2013-04-02 17:17] #280 closed, assigned to meganap

[2013-04-02 17:45] adamrp opened #301 "Height and Weight fields accepting invalid characters?"
I've seen some entries in the AG_HUMAN_SURVEY table where HEIGHT_IN (which should be numerical) is:

5'10

Need code to disallow this kind of thing.

[2013-04-02 17:48] wasade commented on #301
Isn't the schema defining these as ints or floats?

On Apr 2, 2013, at 11:45, adamrp notifications@github.com wrote:

I've seen some entries in the AG_HUMAN_SURVEY table where HEIGHT_IN (which
should be numerical) is:

5'10

Need code to disallow this kind of thing.

—
Reply to this email directly or view it on
GitHubhttps://github.com/qiime/qiime_web_app/issues/301
.

[2013-04-02 18:49] megalodonatron opened #302 "Add text to consent form telling people not to email people on there, also updating the consent form"

[2013-04-02 19:30] adamrp opened #303 "check out fitday, add link to recommendation"
A nutritionist uses fitday and so does her school, and she recommended it as a much better option compared to caloriecount

Someone should check out the site and see if it will work for our purposes.

from the user:
"By the way, fit day.com is a much better food logging website - it gives you all macro and micronutrients, fiber, cholesterol."

[2013-04-02 19:34] megalodonatron commented on #303
checking it out

[2013-04-02 19:35] #287 closed, assigned to nobody

[2013-04-02 20:34] megalodonatron commented on #301
And I have it set so that you should only be allowed to type numbers and nothing else, so if they're still managing to put weird chars in I don't know. I do use javascript for the validation though.

[2013-04-02 20:36] adamrp commented on #301
I seem to recall that Form Autofill functions seems to be able to
circumvent some of those checks, although I'm not sure how many Form
Autofill things have a setting for Height...

On Tue, Apr 2, 2013 at 2:34 PM, Meg Pirrung notifications@github.comwrote:

[2013-04-02 20:39] megalodonatron commented on #301
Yeah, I could see that. Copy/pasting isn't prevented either, so you can paste whatever into those fields. I'll add some validation for once the continue button is clicked.

[2013-04-02 21:09] wasade opened #308 "Create a mechanism to allow unassociated kits to individuals"
I'll be attending GET2013 and will be passing out kits to PGP participants. The issue is that we do not know who they are yet, so we cannot pre-associate barcodes with individuals.

[2013-04-03 17:21] adamrp opened #310 "Link to FAQ page after logging in should open a new window, or go through fusebox"
After people log in, the FAQ link in the menu should either have a target=blank in the href, or should send people through fusebox.psp?page=FAQ.psp

[2013-04-03 17:26] adamrp opened #312 "Question to add to FAQ"
People are confused that each sample has two cotton swabs:

"Also the directions on the package say "q tip," not "2 q tips" which are what I received in the glass sheathing. Why did I receive 4 in total (q tips) if the directions call for one?"

Please add an FAQ that explains that the two cotton swabs in each tube constitute a single sample, and that swabbing for that sample should be done with b

[2013-04-03 18:16] lkursell opened #313 "Provide summary of split_libraries for each study"
As knowing the sequence length is important info when summarizing how well the sequencing went in a manuscript.

Could be provided by default, or a box to select when pulling down tables, seqs, metadata, etc.

[2013-04-03 20:45] adamrp commented on #312
Another question to add to the FAQ.

We have a kit for four samples, and we would like to collect and send them in at different times, say a week apart.  What is the best way to do this?

[2013-04-03 20:48] adamrp commented on #312
For the second one, this is how I responded:

Thanks for checking with us.  You have two options:

1) Send us the samples as you collect them.  We will put them on ice and take care of them until we can process them.
2) Keep them in your freezer and send us all your samples at the same time.  If you choose this option, please note that you should avoid repeated freeze/thaw cycles (i.e., once they'

[2013-04-03 21:33] megalodonatron commented on #299
What terms do we need for environmental? Can we use a pared-down list of ENVO terms?

[2013-04-03 21:39] douginator2000 commented on #299
So as I mentioned earlier in this thread, if we can generate a list of commonly sampled environments, plus a "comments" field, we could probably map all 3 of the envo fields without having to have the user explicitly pick them (which would be pretty confusing for them).

So as a short list of fields:
- Environment Sampled (dropdown with enough coverage to capture most reasonable cases, and we can

[2013-04-03 21:43] megalodonatron commented on #299
Yeah, maybe just indoor/outdoor, zipcode and then the notes field where they can type what exactly it was they sampled

[2013-04-03 23:27] douginator2000 commented on #299
We should provide a list of items so that we can map to envo types I think.

On Wednesday, April 3, 2013, Meg Pirrung wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-04-03 23:54] ElDeveloper commented on #312
This was fixed in #314

[2013-04-03 23:54] #312 closed, assigned to nobody

[2013-04-03 23:54] ElDeveloper commented on #310
This was fixed in #311

[2013-04-03 23:54] #310 closed, assigned to meganap

[2013-04-03 23:54] ElDeveloper commented on #303
This was closed in #305

[2013-04-03 23:54] #303 closed, assigned to meganap

[2013-04-04 00:02] ElDeveloper commented on #301
Should be fixed by #307

[2013-04-04 00:02] #301 closed, assigned to nobody

[2013-04-04 15:43] adamrp commented on #283
Sorry, didn't see this.  I just tested with a bad email address (i entered 'notanaddress' into the text box), and I got the error message.  I assume if we check on those people who did not receive the form correctly (in the AG_HUMAN_SURVEY table), we will see a malformed email address.

I do not think we are storing the exception text anywhere

[2013-04-04 15:48] ElDeveloper commented on #283
Would it be fine to add a log file that stored the information for failed e-mails? Or should this take a different approach.

If so, I think the easiest is to use the logging module and have it store things in `/tmp/americangut_sad_users.log` or something like that hehe.

[2013-04-04 16:05] ElDeveloper commented on #278
If doing this, what would be the behavior:
- User enters e-mail agrees to consent form, etc.
- Clicks continue.
- There is a problem with the survey.

¿A message shows up saying there was a problem sending you the consent form and won't let him continue with the survey?

OR

¿The user completes the survey and a message is shown at the end of the survey, just as it is done right now?

[2013-04-04 17:13] megalodonatron commented on #299
Email from Gail says:
Examples include:
water, soil, home surfaces, food

I wouldn't recommend sampling water without filtering a bunch of it and most home surfaces tend to be very low biomass and so are more likely to fail.

and then in another email:

soil, plants, foodstuff, surfaces, water, insects

[2013-04-04 17:14] adamrp commented on #283
Makes sense to me!  I think we should also write some code that pulls the necessary variables from the DB (from ag_human_survey) and generates a new consent form, which we can email to people manually.  Most of this code probably already exists, but we should move it into a module that we can easily access when someone contacts us about a failed-to-send consent form

[2013-04-04 17:19] douginator2000 commented on #299
That's a good start - maybe we should have a 5 minute meeting to produce a
more comprehensive list? Needs to be something that we can directly tie to
the 3 ENVO types but represent in a single text value.

Maybe this would be easier if we had a larger list to distill? Here are the
env_matter types we currently have in the database across all studies:

ENVO:Agricultural soil
ENVO:Animal-associated

[2013-04-04 17:32] douginator2000 commented on #299
Okay, Meg and I went over the list. Below is the very short list of terms
we came up with. In general, we removed all terms describing fluids because
they probably can't be reasonably sampled by the participants. Also, all
human and animal associated terms were removed since this should only be
for environmental samples. Further thoughts?

Animal Habitat
Biofilm
Dust
Food
Indoor Surface
Outdoor Su

[2013-04-04 17:33] megalodonatron commented on #299
:+1:

[2013-04-04 18:10] adamrp opened #315 "Change "7-13" checkbox to radio"
There are two different parental consent forms, one for children 0-7 and one for children 7-13.  Would be good to change this to a radio button providing these two options

[2013-04-04 18:17] #302 closed, assigned to meganap

[2013-04-04 19:54] adamrp commented on #315
In the meantime, can we change the label on the box so that it reads something like "This is a minor below the age of 13", because we have some users emailing us about sampling their child who is younger than 7, and right now it appears that there is no way to sign them up...

[2013-04-04 20:04] #283 closed, assigned to nobody

[2013-04-04 20:04] #292 closed, assigned to meganap

[2013-04-04 20:16] megalodonatron opened #317 "Admin tools updates"
Buttons for generate Kit ID, password and verification code

turn huge drop down into an auto-complete box with a checkbox/x for if the email exists

[2013-04-08 15:26] megalodonatron opened #319 "Add new video to FAQ page"

[2013-04-08 19:27] megalodonatron opened #320 "Popup about diet info at beginning of survey"

[2013-04-08 19:35] megalodonatron opened #321 "Key for the map on index"
blue = participant
yellow = verified
green =

[2013-04-08 19:35] megalodonatron opened #322 "update validation on zip code for chars"
Canadian zip codes have characters in them

[2013-04-08 19:36] megalodonatron opened #323 "Clear answers buttons on survey pages"
Need to add a clear survey button that will allow people to reset answers to blank

[2013-04-08 21:46] adamrp opened #325 "make changes with respect to privacy concerns"
We need to make a new table, change stored procedures, change ModPython code etc; we cannot have the personally identifiable information in the same table as the survey information, due to IRB concerns.

[2013-04-10 17:09] adamrp opened #327 "Do not accept Kit IDs from users"
Remove requests for Kit IDs in help requests, specifically say that if they are to send their Kit ID, only send the last 2 (or 3?) letters.

[2013-04-10 17:21] douginator2000 opened #328 "Add support for reverse primers in Qiime DB"
There is currently no way to specify this. It may not come across very often - after discussing this with Jesse S. it sounds like it's only an issue if the read length goes through the entire variable region.

[2013-04-10 18:00] adamrp commented on #327
Fixed via #329

[2013-04-10 18:00] #327 closed, assigned to nobody

[2013-04-10 19:27] megalodonatron opened #333 "Let people continue if they don't enter height/weight"

[2013-04-10 21:09] wasade opened #338 "Get all post splitlib sequences for EMP"
...and drop on compy shared

[2013-04-11 16:46] douginator2000 commented on #338
Daniel I believe you have this covered as of yesterday?

[2013-04-11 16:53] ElDeveloper opened #339 "Add another bullet point to avoid confusion"
Adding a new title between the first and second bullet point that explicitly states that those are only manager tools and are available for study owners and/or study related people only.

[2013-04-11 16:53] ElDeveloper opened #340 "Fix event that triggers display in available studies menu"
Currently if going through the available studies under the `Get Study Summary and Raw Data`, the display of study information will only change upon clicking on a different study, it won't change by navigating with the arrow keys.

[2013-04-11 16:53] ElDeveloper opened #341 "Update Illumina Quality Filtering"
Update accordingly to the paper that was published with Greg. This will be addressed once that the reprocessing with GreenGenes is deployed.

[2013-04-11 16:58] ElDeveloper opened #342 "Meta-analyses should allow you to select SampleID"
`SampleID` doesn't show up in the select metadata fields. All available categories in the metadata should be available for selection.

[2013-04-11 17:13] adamrp commented on #339
Fixed by #343

[2013-04-11 17:13] #339 closed, assigned to nobody

[2013-04-11 20:27] rob-knight commented on #342
This issue is really important because basically it lets you select/deselect arbitrary samples, which essentially always needs to be done in a study because of bad samples etc.

[2013-04-11 20:59] douginator2000 commented on #321
Meg, I'm noticing that the key looks a little funny - icons aren't lined up and they kinda look like a mapping point on the map itself. Maybe line them up and put a background in (like the div above, or even part of the login div itself?)

![Screen Shot 2013-04-11 at 2 57 02 PM](https://f.cloud.github.com/assets/608209/370195/a1a71378-a2ea-11e2-9a22-4a1428b4c821.png)

[2013-04-11 21:00] douginator2000 commented on #321
Oh, well that's bizarre. I refreshed the page and it looks fine.
![Screen Shot 2013-04-11 at 2 59 53 PM](https://f.cloud.github.com/assets/608209/370203/d4824272-a2ea-11e2-87ba-dc69d102d5b3.png)

[2013-04-11 21:01] douginator2000 commented on #321
Closing this - looks like it was just a browser refresh/cache problem.

[2013-04-11 21:01] #321 closed, assigned to meganap

[2013-04-11 21:20] #319 closed, assigned to meganap

[2013-04-11 21:20] #320 closed, assigned to meganap

[2013-04-11 21:20] #322 closed, assigned to meganap

[2013-04-11 21:20] #333 closed, assigned to meganap

[2013-04-11 21:21] #274 closed, assigned to meganap

[2013-04-11 21:21] #289 closed, assigned to meganap

[2013-04-12 06:21] ElDeveloper opened #346 "Include information about postage"
This information would be useful for some users and should be added to the FAQ page.

[2013-04-13 01:21] wasade commented on #338
I was not able to pull down the metadata that will be necessary for other
processing steps

On Thu, Apr 11, 2013 at 10:46 AM, Doug Wendel notifications@github.comwrote:

[2013-04-15 15:38] #340 closed, assigned to nobody

[2013-04-15 22:31] #323 closed, assigned to meganap

[2013-04-15 22:31] megalodonatron opened #352 "Add new videos to FAQ"

[2013-04-15 22:32] megalodonatron opened #353 "Add link to international shipping instructions"

[2013-04-15 22:42] megalodonatron commented on #352
Suggestions from Shelley:
1.  If FAQ is truly the go-to place for getting info, might you want to make it more prominent on the first page where people start logging in?
2.  For FAQ about logging in, as a user, it's a bit hard to find the verification code email, since it doesn't coincide in time with the package mailing.  To help people search for it more easily, in the FAQ . . .

[2013-04-17 17:56] adamrp opened #357 "Test for whether or not to display sequence and OTU counts in grid needs change"
A stored procedure (get_sample_detail_list) is used to get information to display in the sample grid.  Currently, the code determines whether or not it should display sequence and OTU counts (i.e., if the study has been processed) by testing whether or not a particular field is None, but the stored procedure explicitly sets null values to zeros, so the test always fails, and sample and OTU counts

[2013-04-18 00:41] wasade opened #358 "AGLOGINHELP template is limited"
We should expand and directly ask the participants for what their problem is. We are getting a large number of emails that only contain the template text and the last two characters of their kit id, without any description of the problem

[2013-04-18 16:24] douginator2000 opened #359 "Validation for AG admin tools"
"Add new participant" - Validate fields as we do on the AG forms:
- Email must be a valid email
- Name, address, city, state, zip, country - all must be filled out (cannot be blank)

"Add new kit"
- Kit ID, password, Number of Swabs, verification - all must be filled out
- Number of Swabs must be a number

"Add new barcode"
- Must be filled out
- Must be only numeric
- Must be exactly 9 characters

[2013-04-18 16:48] douginator2000 commented on #359
Also just added BW suppport - new admin link. If you can prettify/make the drop down consistent with whatever you're doing on the others, and also make sure that the text field is filled out that would be great.

[2013-04-18 20:02] adamrp commented on #144
Looks like @douginator2000 fixed this, thanks!

[2013-04-18 20:02] #144 closed, assigned to nobody

[2013-04-18 20:48] adamrp opened #363 "Female Questions survey page"
Clicking the continue button appears to do nothing, and apparently (according to one user) sometimes throws a modpython error.  Clicking continue shows this in the javascript console:

american_gut.js:452
Uncaught TypeError: Cannot read property 'value' of undefined american_gut.js:452
verifyOptionalQuestionsamerican_gut.js:452
onclick

The mod python error is:

AttributeError: 'module' object has

[2013-04-18 21:29] megalodonatron commented on #317
Checked in auto-complete box

[2013-04-19 15:41] megalodonatron commented on #363
:rabbit:

[2013-04-19 15:41] #363 closed, assigned to meganap

[2013-04-19 15:42] megalodonatron commented on #317
:rabbit:

[2013-04-19 15:42] #317 closed, assigned to nobody

[2013-04-19 16:51] #294 closed, assigned to nobody

[2013-04-19 18:41] adamrp opened #367 "allow users to change their password after authentication"
Once users have successfully logged in once, should allow them to change their password

[2013-04-22 20:19] megalodonatron commented on #298
Currently checked in is barcode_util.psp in wwwadmin
There are some templated-out if statements that look like:

[code]

and need to wrap those ifs around the different html elements that already exist in that file(green, yellow, red) with a real check for verification from the DB.

Need columns in the DB for whether or not the whole thing (consent, survey, sample applied) is verified and a column

[2013-04-23 14:15] megalodonatron commented on #298
Would also be nice to use this as a way to know when samples are received, then on the main AG website under sample we can have a check box for sample received.

[2013-04-23 15:24] megalodonatron commented on #299
Need to add fields for non-human host associated, I'll put the proposed fields in this issue.

[2013-04-23 16:02] megalodonatron commented on #299
Survey Questions:

Type
- Dog
- Cat
- Small mammals (:rabbit:)
- Fish
- Bird
- Horse
- Goat
- Reptile
- Amphibian
- Other

Origin
- Breeder
- Pound
- Home
- Wild

Birth Date

Sex

Setting
- Urban
- Suburban
- Rural

Weight category
- Underweight
- Skinny
- Normal
- Chubby
- Overweight

Diet
- Pet store food
- Human food
- Wild food

Diet type
- Dry
- Wet
- Both

Diet special
- Organic
- Grain free

[2013-04-23 20:26] adamrp commented on #299
Looks pretty good to me, maybe change the category from "small mammal" to "other mammal"
Also, diet type should include an option for wet+dry, since many pets eat both

[2013-04-23 20:29] megalodonatron commented on #299
Maybe small mammals and large mammal? Or maybe herbivorous mammal vs carnivorous mammal? I don't really know what is going to be most telling for a microbiome study. I'll change the food stuff to include both wet & dry food.

[2013-04-23 21:48] ElDeveloper commented on #299
:+1: looks good. I think that small mammal and large mammal should be sufficient.

[2013-04-24 20:53] megalodonatron opened #370 "Add blurb to portal"
Due to the fact that each sample type must be processed together in groups of 100.  Some sample types may take longer than others, if you have submitted skin or oral samples they may take 8 to 10 months to finish processing.

[2013-04-25 17:16] ElDeveloper opened #372 "Add conditional statements for e-mail delivery"
@douginator2000 has suggested that it would be great if the code only tries to send an e-mail if it is executed in webdev or in live. Then when this code is running in a virtualbox, it should tell you that you are not in neither of the allowed sites to send an e-mail.

[2013-04-25 22:53] ElDeveloper opened #375 "Make HTML content not resizable."
A few participants have reported that when they login they are not able to see the verification page or that they are only able to see the sidebar. I think this might be due to the behavior that the website has right now; where if the content doesn't fit the screen it will be re-sized, this often times seem to be causing a lot of confusion.

[2013-04-25 23:40] ElDeveloper commented on #375
The following screenshot is an example:

![Captura de pantalla 2013-04-25 a la s 17 39 32](https://f.cloud.github.com/assets/375307/428265/713a42ec-ae01-11e2-9ac3-7f27908c1476.png)

Don't know what others think.

[2013-04-26 02:05] douginator2000 commented on #375
Those are the international shipping instructions - you have to have
clicked on the link to pull it up. It may be confusing because it opens in
a new window and doesn't have sample info in the sidebar.

On Thursday, April 25, 2013, Yoshiki Vázquez Baeza wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303

[2013-04-26 15:54] megalodonatron commented on #375
Plus the css is written so that it should just be one long column even if it's all smushed, I don't know what could be happening on their systems unless they're using some super old version of ie that is ignoring css rules.

![Screen Shot 2013-04-26 at 9 52 56 AM](https://f.cloud.github.com/assets/930642/431483/7fbae528-ae89-11e2-9007-49ad15b95cef.png)

[2013-04-26 17:31] megalodonatron commented on #359
:rabbit:

[2013-04-26 17:31] #359 closed, assigned to meganap

[2013-04-26 18:32] ElDeveloper commented on #375
I don't either and to be honest I don't understand what set of things lead you to only be able to see the sidebar on the left.

What I was thinking to alleviate this issue is to make the content of a restricted width so if people had smaller screens, then they could scroll. But that's just an idea.

Yoshiki.

El 26/04/2013, a las 09:54, Meg Pirrung notifications@github.com escribió:

[2013-04-27 19:38] megalodonatron opened #376 "Put videos on index.psp"
Since people are apparently not bothering to click the FAQ

[2013-04-28 15:20] megalodonatron opened #377 "Add see all info for participant to admintools"
Add another link to the admin tools that just shows you all information for a certain participant? Like all kit IDs and barcodes and everything, just to help with seeing what a person has when trying to answer aghelp stuff.

[2013-04-28 23:13] wasade opened #379 "meta analysis reports different number of samples than what is actually pulled down"
Go to the meta analysis page, select all studies that contain sequences, and then select all fields on common. Click next, then click back (because you cannot avoid creating an OTU table), and select one more study that does not contain seqs to avoid creating the OTU table. It will report ~54000 some odd samples. When you click next and download the resulting mapping file, there are ~59000 samples

[2013-04-28 23:15] wasade opened #380 "Cannot create full OTU table from the database"
A traceback about duplicate observations is thrown. @adamrp can you post the screen shot?

[2013-04-28 23:19] adamrp commented on #380
Here's the screenshot

![Screen Shot 2013-04-28 at 4 05 20 PM](https://f.cloud.github.com/assets/2574407/436568/0dabdbf4-b05a-11e2-98c6-1dd5a798d104.png)

[2013-04-29 00:05] ackermag commented on #380
What study does this refer to?

[2013-04-29 00:23] adamrp commented on #380
No single study in particular -- Daniel and I were trying to get the OTU
table and mapping file for every study in the database that has sequences.

On Sun, Apr 28, 2013 at 6:05 PM, ackermag notifications@github.com wrote:

[2013-05-02 01:52] wasade commented on #380
@rob-knight  was able to recreate accidentally as well. The sample he triggered, as well as the one @adamrp and I triggered appear to be associated with study 1037 and have duplicate otu_run_set_ids.

[2013-05-02 01:56] rob-knight commented on #380
Do you happen to have the name of that study so I can exclude it from the analysis I'm trying to run at the moment? Thanks.

On May 1, 2013, at 7:52 PM, Daniel McDonald <notifications@github.com<mailto:notifications@github.com>> wrote:

@rob-knighthttps://github.com/rob-knight was able to recreate accidentally as well. The sample he triggered, as well as the one @adamrphttps://github.com/adamrp an

[2013-05-02 01:57] wasade commented on #380
Hallam_Longterm_soil_productivity

On Wed, May 1, 2013 at 7:56 PM, Rob Knight notifications@github.com wrote:

[2013-05-02 02:19] rob-knight commented on #380
thanks!

On May 1, 2013, at 7:57 PM, Daniel McDonald <notifications@github.com<mailto:notifications@github.com>> wrote:

Hallam_Longterm_soil_productivity

On Wed, May 1, 2013 at 7:56 PM, Rob Knight <notifications@github.com<mailto:notifications@github.com>> wrote:

—
Reply to this email directly or view it on GitHubhttps://github.com/qiime/qiime_web_app/issues/380#issuecomment-17316977.

[2013-05-02 02:33] ackermag commented on #380
I think this is a database issue.. there should be no more than one sample
with that name....
Gail

On Wed, May 1, 2013 at 8:19 PM, Rob Knight notifications@github.com wrote:

##

Gail Ackermann
Knight Lab UCB 596
University of Colorado
Boulder

[2013-05-02 03:20] douginator2000 opened #384 "Meta-analysis: Move "Contains Seqs" out of menu and to a checkbox selection"
Since this option is not mutually exclusive with different types of data - i.e. you will want to search for qiime or emp studies (or other future types) that either do or do not contains seqs.

[2013-05-07 16:16] ElDeveloper opened #386 "Add format example for collection date (adding a sample)"
A label indicating the format that should be used for the date would be helpful (this is the case for other date text boxes).

[2013-05-07 21:45] ElDeveloper opened #388 "Erratic behavior of admin tools in Safari."
Using the admin tools to assign a new barcode to a kit will make the current page un-usable.

Go to wwwadmin -> Add New Barcode -> Type a Kit ID, the autocomplete will kinda pop-up but then a giant white square will cover the screen.

@douginator2000 was able to reproduce this bug.

[2013-05-10 17:15] ElDeveloper commented on #388
@douginator2000 closed this issue in #391 and #393.

[2013-05-10 17:15] #388 closed, assigned to nobody

[2013-05-10 17:16] ElDeveloper commented on #377
#393 covers all these.

[2013-05-10 17:16] #377 closed, assigned to nobody

[2013-05-10 17:16] ElDeveloper commented on #315
:+1:

[2013-05-10 17:17] ElDeveloper commented on #308
This one should be closed right?

[2013-05-10 17:18] ElDeveloper commented on #300
@wasade closed this one in #318.

[2013-05-10 17:18] #300 closed, assigned to nobody

[2013-05-10 17:32] douginator2000 commented on #308
Yup!

On Fri, May 10, 2013 at 11:17 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-05-10 17:33] #308 closed, assigned to nobody

[2013-05-13 16:41] douginator2000 opened #394 "Proposed modifications to text file upload directions"
From Gail:

Current text:

Sequence File Upload
We currently support sequence files from 454 and Illumina (HiSeq/MiSeq), along with demultiplexed FASTA files produced from split-libraries.py in QIIME. The filename should not contain spaces or non-alphanumeric characters.
• SFF: You should zip using "zip" for each SFF file individually prior to uploading.
• FASTQ: For each Illumina lane, there shou

[2013-05-13 16:46] rob-knight commented on #394
Won't we need sff/fastq for its and 18s when we process those through the relevant amplicon pipelines?

[2013-05-13 16:48] douginator2000 commented on #394
Probably so, though I think this is just to cover current use-cases. When we start accepting data of that sort we will need to update the online docs too.

[2013-05-13 16:51] rob-knight commented on #394
It might be hard to get it later if we don't enforce upload now...

On May 13, 2013, at 10:48 AM, Doug Wendel <notifications@github.com<mailto:notifications@github.com>> wrote:

Probably so, though I think this is just to cover current use-cases. When we start accepting data of that sort we will need to update the online docs too.

—
Reply to this email directly or view it on GitHubhttps://github.

[2013-05-13 17:43] ElDeveloper commented on #353
This issue has already been addressed in #373 and in #383.

[2013-05-13 17:43] #353 closed, assigned to meganap

[2013-05-13 17:55] ElDeveloper opened #395 "Support for international characters"
Some international characters are not displayed correctly on the web interface nor within SQLDeveloper. For example typing in `Señor Juanito` will become `Se??r Juanito`.

[2013-05-15 16:48] megalodonatron commented on #375
I played around with the css min-width attribute but using that really does make the content pop down to the bottom, where as using a % width should always keep it to the right of the menu.

[2013-05-15 18:26] ElDeveloper opened #397 "Names with international characters create unexpected behaviors"
Creating a new participant with the name `Döūgbert Sánchez` will be presented in the web portal as `D??gbert S?nchez`. The problem is presented when trying to remove this participant from the web interface, when clicking on the "remove participant" button, the web portal presents the right information but the user is never removed.

This issue is related to overally dealing with #395.

As per @dou

[2013-05-15 18:50] #386 closed, assigned to meganap

[2013-05-15 18:57] #352 closed, assigned to meganap

[2013-05-15 19:04] megalodonatron commented on #376
I think this would make it cluttered, so not gonna do that

[2013-05-15 19:04] #376 closed, assigned to nobody

[2013-05-15 19:06] megalodonatron commented on #298
Template page located in barcode_util.psp added when moved to git 3301de84c5f367f5d5d0aecf518a32226b7dca89

[2013-05-15 22:17] douginator2000 commented on #397
I will make this top priority. For the moment, request that ppl stick to
the standard US set

On Wednesday, May 15, 2013, Yoshiki Vázquez Baeza wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-05-15 22:20] ElDeveloper commented on #397
Sure thing

El 15/05/2013, a las 16:17, Doug Wendel notifications@github.com escribió:

[2013-05-16 18:43] douginator2000 commented on #298
Sorry for the delay Meg, the barcode SQL and ag_data_access function
are checked in. The only thing you'll need to call is checkBarcode()
in ag_data_access.

E.g.

ag_data_access.checkBarcode('000004356')

The return type is a list. If the list is empty, nothing was found
(i.e. the sample has not yet been logged). If there's an item, it's a
tuple of values.

Some test code if you want to verify th

[2013-05-16 19:16] megalodonatron commented on #298
Sweet, I'll check this out and try to get everything hooked up

[2013-05-16 19:20] douginator2000 commented on #298
Sounds great! Let me know if you need anything else.

On Thu, May 16, 2013 at 1:16 PM, Meg Pirrung notifications@github.comwrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-05-16 20:17] douginator2000 opened #401 "Add new sampling photos into instruction workflow"
As the title says. Poo slathered swabs abound apparently when we don't really need that much ... "material". Posting the good/bad photos in the instructions would be very useful.
![photo 2](https://f.cloud.github.com/assets/608209/514905/9d154abe-be65-11e2-996f-d2e070dbcbc9.jpg)
![photo 1](https://f.cloud.github.com/assets/608209/514907/9d177ea6-be65-11e2-9ffa-27a33d5f8deb.jpg)
![photo 3](https://

[2013-05-16 20:18] douginator2000 commented on #401
Photos 1-3 are good, 4, 5, and 8 are way too poopy!

[2013-05-17 20:31] douginator2000 opened #402 "Error when uploading host-associated data when study is not host associated"
To recreate this issue:
- create a study, make it non-host-associated
- add some host-associated fields to the templates
- make sure to leave out host_subject_id
- upload metadata. You will get errors stating that it could not insert the host-associated values.

Cause: Study is missing host_subject_id, but it doesn't complain about this when uploading because the study is not host-associated. If y

[2013-05-18 22:40] ackermag commented on #402
Great solution...

On Fri, May 17, 2013 at 2:31 PM, Doug Wendel notifications@github.comwrote:

##

Gail Ackermann
Knight Lab UCB 596
University of Colorado
Boulder

[2013-05-20 23:39] wasade opened #403 "wwwadmin search not showing a kit"
The details associated with barcode 000003937 don't actually show up. Use the search interface on wwwadmin and search for it...

[2013-05-21 03:24] douginator2000 commented on #403
There seems to be a bug in search - lookin' at it now.

On Mon, May 20, 2013 at 5:39 PM, Daniel McDonald
notifications@github.comwrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-05-21 03:32] douginator2000 commented on #403
Okay D, try that same search again. Found the issue.

On Mon, May 20, 2013 at 9:24 PM, Doug Wendel douginator2000@gmail.comwrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-05-21 15:56] wasade commented on #403
Looks good, thanks @douginator2000

[2013-05-21 15:56] #403 closed, assigned to nobody

[2013-05-21 15:57] wasade opened #405 "Show consent on wwwadmin search page"
Possible to make it clear what participants and/or kits are associated with consent? Currently, you have to hit the db directly to determine this

[2013-05-21 16:03] douginator2000 commented on #405
It's on the to-do list.

On Tue, May 21, 2013 at 9:57 AM, Daniel McDonald
notifications@github.comwrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-05-21 16:19] wasade opened #406 "Make the wwwadmin search results cleanly copy and pastable"
If you copy and paste text into an email on the help gmail account, it brings with it all the formatting. Can this formatting be removed to simplify copying?

[2013-05-21 16:26] douginator2000 commented on #406
Just select "Plain text mode" in the email composer. (arrow near the trash
icon)

[2013-05-21 16:28] ElDeveloper commented on #406
You can also try:

command + alt + shift + v

Built-in OSX paste-plain-text.

El 21/05/2013, a las 10:26, Doug Wendel notifications@github.com escribió:

[2013-05-21 16:46] wasade commented on #406
One more step in the process of having to email 150 people is not
enjoyable...

On Tue, May 21, 2013 at 10:28 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2013-05-21 17:46] douginator2000 commented on #397
So it's been a little tricky tracking down exactly at what level this is occurring. It does not appear to be a problem with the live database server (thebeast). It's character encoding is AL32UTF8 (SELECT \* FROM NLS_DATABASE_PARAMETERS;), which should (and does) support international character sets. Quarterbarrel has a different encoding listed - something we should rectify at some point. I belie

[2013-05-21 20:05] wasade opened #407 "Improve documentation about adding samples"
We have a sizable number of people who did not realize that they needed to click "add sample" and actually associate the samples. Improvement here is important

[2013-05-21 21:47] rob-knight commented on #407
Can we link the samples for them and might this be easier than badgering them to do it?

On May 21, 2013, at 2:05 PM, "Daniel McDonald" <notifications@github.com<mailto:notifications@github.com>> wrote:

We have a sizable number of people who did not realize that they needed to click "add sample" and actually associate the samples. Improvement here is important

—
Reply to this email directly or v

[2013-05-21 22:03] wasade commented on #407
For single sample kits we probably can automatically associate behind the
scenes but we still need them to add sample details.

On Tuesday, May 21, 2013, Rob Knight wrote:

[2013-05-22 20:46] douginator2000 opened #410 "Add way to monitor queue from website"
Either on the qiime/emp portals or in the wwwadmin portal, add a page that allows queue monitoring.

[2013-05-23 20:53] douginator2000 opened #413 "Metadata upload allows spaces in sample names - disallow"
Need to add another check to the upload validator to prevent sample names with spaces from being submitted.

[2013-05-28 22:40] adamrp opened #415 "Removing a sample does not remove notes field"
To recreate:
Add a sample; fill out sample metadata (including notes field); remove the sample.
Select the barcode from ag_kit_barcodes. The notes field will still have the previously entered information. Procedure ag_delete_sample.sql needs to be updated to set notes = '' (as it does with the other fields).

[2013-06-03 21:24] douginator2000 commented on #298
One update: When we scan a barcode and everything is OK, update the database to reflect receipt of sample tube. Also make this obvious to the user: likely email them at the provided login email addy and update the UI so that it's obvious it's been received and also prevent deletion of the sample/survey on the website for users.

[2013-06-04 19:58] wasade commented on #298
ETA?

On Mon, Jun 3, 2013 at 3:24 PM, Doug Wendel notifications@github.comwrote:

[2013-06-06 17:23] douginator2000 opened #422 "Rarify from beta-diversity doesn't properly eliminate samples which don't make the cut"
Chris L. discovered an issue in the beta-diversity rarification option. It does not properly eliminate samples that don't make the cut.

Example study:
Rosenbaum_rerun

For beta-diversity, expand the options for this script and rarify at 5000 seqs/sample. Some samples still show up that should not be there:

68.ile.muc.822627
104.ile.muc.822455
99.ile.muc.822585

[2013-06-06 21:17] megalodonatron commented on #298
### Barcode util basic functionality now implemented

It can tell if the barcode is from a kit that is:
- completely unverified
- verified but not assigned
- verified and assigned

### What we still need:

Email functionality, do we want:
- auto email
- link to click to email people

We need a date of last email at the very least

To let users know that their sample has been received:
- on a verif

[2013-06-06 21:24] douginator2000 opened #430 "Remove sequence loading from database"
Re-write code to skip sequence loading.

[2013-06-06 21:29] douginator2000 commented on #430
- When this is in place, remove database loading step entirely and always auto-load into DB as long as there are OTUs. Will require almost no extra time and will be very convenient.

[2013-06-07 01:23] wasade opened #431 "International shipping instructions state that we will provide a prefilled out waybill"
That is not accurate. The text online needs to reflect that we are _not_ sending a prefilled waybill

[2013-06-10 17:40] douginator2000 opened #433 "Need to update website for international users: no pre-filled out way-bill is actually provided."
As the title says, update international shipping directions so it doesn't say web provide a pre-filled out envelope.

[2013-06-10 17:50] douginator2000 commented on #298
Enhancement: In the case where the kit has only one barcode and the user has a) filled out their survey, but b) has not filled out the sample details: When barcode is scanned then pop up the sample details form so that whoever scans it (Kris, others?) can directly enter sample data if it happens to be entered on the tube.

[2013-06-11 19:37] douginator2000 commented on #433
Duplicate of #431

[2013-06-11 19:37] #433 closed, assigned to nobody

[2013-06-11 19:38] douginator2000 commented on #431
Fixed.

[2013-06-11 19:38] #431 closed, assigned to nobody

[2013-06-18 17:11] adamrp opened #442 "Change consent text to reflect most recent IRB approved consent form"
The IRB amendment approved 06 June 2013 changes the text on the consent form.  We need to change the text we are presenting to users in two different places to reflect these changes: 1) on the consent form that users sign and 2) on the consent form that is emailed to users.

[2013-06-19 18:13] ElDeveloper commented on #367
Hey @douginator2000, would it be feasible if @RNAer and I pursued this one? Or do you think the current infrastructure will not make this change easy.

[2013-06-19 19:01] douginator2000 commented on #367
Sure, can do, though I would say this is a very low priority.

On Wed, Jun 19, 2013 at 12:13 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-06-19 19:04] ElDeveloper commented on #367
Should we target a different one then?

If so, @RNAer, can you pick a different task?

El 19/06/2013, a las 13:01, Doug Wendel notifications@github.com escribió:

[2013-06-19 22:52] adamrp commented on #397
Just talking with Yoshiki about this, and we propose just making sure that all text boxes accept only [a-zA-Z0-9](except of course numeric text boxes).  We can do this in JS.  Will we really be losing anything by making these restrictions?  If a participant is entering information using other symbols, then it's unlikely we can even understand that information or, even if we could understand it, we

[2013-06-19 23:06] adamrp commented on #397
well, that was some weird formatting.  Anyways, it's supposed to say restrict it to capital and lowercase letters and numbers, except numeric textboxes which will be only numbers and possibly decimals.

Adam

[2013-06-19 23:40] RNAer commented on #397
symbols such as "-" should be probably allowed? Also, just not to confuse users, it would be great to prompt a message saying something like "only alphanumeric letters are allowed" when users try to type illegal characters?

[2013-06-20 14:59] ElDeveloper commented on #397
Yes that is a good idea +1

El 19/06/2013, a las 17:40, Zech Xu notifications@github.com escribió:

[2013-06-20 16:25] adamrp commented on #397
:+1:   We could also potentially allow single quotes (making sure to replace them with two single quotes before sending to the DB), but I'm not sure it's worth the trouble.  How about just alphanumerics, dots (.), and hyphens (-)?

[2013-06-20 16:45] douginator2000 commented on #397
Sure, that works for me too - agree with the restrictions.

On Thu, Jun 20, 2013 at 10:25 AM, adamrp notifications@github.com wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-06-20 20:58] adamrp commented on #397
Previously, the same function was being used to validate text for names and email addresses.  This will no longer work (and was probably not a great idea in the first place).  Looked up format of valid email addresses, turns out to be super complicated.  Easiest way is probably to send user a confirmation email and have them click a link... I dont like it, but I dont know what else to do...

[2013-06-20 22:25] wasade opened #444 "Kit type needs to be apparent when scanning barcodes"
Specifically for the following:

Beyond Bacteria
All in the Family
Functional Feces

These kits are handled differently, and cannot be sent through the same pipeline

[2013-06-21 01:16] wasade opened #445 "Scrub tab characters from questionnaire free text fields"
These cause hell with QIIME mapping files. On that note, are these scrubbed for SQL?

[2013-06-21 01:48] douginator2000 commented on #445
Probably show up in the notes files perhaps? Or survey answers? If you see
it in certain fields I can do a replace in the query to get rid of them.

On Thursday, June 20, 2013, Daniel McDonald wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-06-24 18:04] ElDeveloper opened #446 "Add descriptive checkboxes to barcode scanner utility"
@RNAer and I should begin working on this and talk with the team that handles the samples as they arrive to the lab so we can get a good grip of what are the things that need to be checked.

---

Initial suggestions are:
- Sample is overloaded checkbox.
- Sample has noticeable growing mold.

[2013-06-24 18:13] douginator2000 commented on #298
Lots of additional enhancements:
- When scanning, display all entered metadata (sample details, survey, etc..). Will help troubleshoot strange data (e.g. oddball birth dates, etc...)
- If no sample details are logged for sample, present form to manually enter sample details from tube. This still isn't enough information to use the sample, but it provides a mechanism for recording what we can.
- Wh

[2013-06-24 18:14] douginator2000 commented on #446
I added a bunch of notes to the "master" barcode scanner utility as well:

#298

https://github.com/qiime/qiime_web_app/issues/298?source=cc

I'll let the Git master decide how he wants to handle the task breakout.

On Mon, Jun 24, 2013 at 12:04 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department

[2013-06-24 18:43] ElDeveloper commented on #446
Thanks @douginator2000!

[2013-06-24 18:49] RNAer commented on #446
a side question just popped into my mind - why do we use barcode instead of
QR code? as far as I know, QR code is more convenient, storing more info
and more robust to dirt/damages.

On Mon, Jun 24, 2013 at 12:43 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2013-06-24 19:00] douginator2000 commented on #446
Mostly because the physical sample tubes are curved and QR codes are square
- hard to scan.

On Mon, Jun 24, 2013 at 12:49 PM, Zech Xu notifications@github.com wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-06-24 19:21] ElDeveloper commented on #446
Yes agreed adding the level of complexity that is implies using QR codes is (I think) not worth it.

If you are really curious about this, look at this mathematica question @ stack exchange

http://mathematica.stackexchange.com/questions/26268/qr-code-in-shopping-cart-handle

El 24/06/2013, a las 13:00, Doug Wendel notifications@github.com escribió:

[2013-06-24 19:27] wasade commented on #446
@RNAer, I tested QR codes early on. The curvature was an issue, and
printing codes small enough so that it the curvature was a non-issue
introduced problems in reliably scanning the images. Same for placing the
codes on the tops of the tubes.

On Mon, Jun 24, 2013 at 1:21 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2013-06-25 16:34] RNAer commented on #446
thanks!

[2013-06-25 19:54] RNAer commented on #446
@douginator2000 , could you add moldy and overloaded column to the barcode table? I will put the psp page (including the enhancements in the other ticket) in place.

[2013-06-25 20:12] douginator2000 commented on #446
I can add additional columns - but let's sort out the full list of
additional columns that need to be added first (I suspect there will be
more than just those two, e.g. a notes field and possibly others too). Can
you start an email thread to me, Daniel, Kris, Yoshiki, Adam, and anyone
else you want to rope in so that we can figure out all of the fields?
Thanks!

On Tue, Jun 25, 2013 at 1:54 PM, Z

[2013-06-26 20:35] douginator2000 commented on #298
Just to make sure this makes it in, we should send an automatic email to participants letting them know the sample was received.

[2013-06-26 20:42] RNAer commented on #298
there are two ways to do this. 1) send an email saying "we receive the
sample with barcode xxxxxxxxx blabla" whenever the sample arrives; 2) or
send the email once we receive all the samples from the participants. which
one is better? open for discussion

On Wed, Jun 26, 2013 at 2:35 PM, Doug Wendel notifications@github.comwrote:

[2013-06-26 21:32] douginator2000 commented on #298
2 new fields added to support new additional functionality:

sample_postmark_date: Added to barcode table. This should be set to the postmark date on the envelope if it can be read/exists

scan_date: Added to barcode table. This should be set to the date the sample tube is scanned by us.

[2013-06-26 21:35] RNAer commented on #298
+1

On Wed, Jun 26, 2013 at 3:32 PM, Doug Wendel notifications@github.comwrote:

[2013-06-26 21:45] ElDeveloper commented on #298
I like the idea of having an e-mail per sample, the problem with the e-mail per kit is that the times at which swabs arrive for some swab-sets is variable as users find themselves trying to track pre-post microbiota states to medical interventions or general traveling.

El 26/06/2013, a las 14:42, Zech Xu notifications@github.com escribió:

[2013-06-26 21:50] RNAer commented on #298
I agree. it makes code simpler too. we decided to go with that.

On Wed, Jun 26, 2013 at 3:45 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2013-06-26 21:52] douginator2000 commented on #298
+1

On Wed, Jun 26, 2013 at 3:50 PM, Zech Xu notifications@github.com wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-06-27 22:04] adamrp commented on #325
This issue was resolved after discussions with IRB in which our current system was deemed acceptable.

[2013-06-27 22:04] #325 closed, assigned to nobody

[2013-06-27 22:11] ElDeveloper commented on #325
Woohoo!

Yoshiki Vázquez-Baeza

El 27/06/2013, a las 04:04 p.m., adamrp notifications@github.com escribió:

[2013-06-27 22:16] adamrp commented on #299
I think we can close this issue now.

[2013-06-27 22:16] #299 closed, assigned to nobody

[2013-06-27 23:16] adamrp commented on #370
Updated code has already been merged for this issue.

[2013-06-27 23:16] #370 closed, assigned to nobody

[2013-06-28 05:00] RNAer commented on #446
It's done. you can play around it - it's on the webdav. Now the barcode
util allows:
1. show the current barcode info
2. update current barcode info into database, including moldy, overloaded,
other issues and free text notes, date info
3. auto email users and/or participant about their sample status
4. alert if barcode is invalid
...

it should work for barcode in any combinations of verified and

[2013-06-28 14:24] douginator2000 commented on #446
That's great, thank you Zech! Please do add the date picker control. I'll
play around with it today.

On Thursday, June 27, 2013, Zech Xu wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-07-01 17:38] ElDeveloper opened #452 "Add new sites that can be sampled to the website"
The website is not listing all the sites that can be sampled, we now have IRB approval to sample ear-wax, hair, vaginal, etc.

@ackermag will send a list to @wasade for this to be updated ASAP.

[2013-07-01 19:19] #452 closed, assigned to wasade

[2013-07-02 16:51] #367 closed, assigned to nobody

[2013-07-02 16:53] #358 closed, assigned to nobody

[2013-07-02 17:16] #415 closed, assigned to nobody

[2013-07-02 17:52] mikewise opened #455 "Verification code emails dropping leading zeros"
The verification code emails that are sent to participants drop the leading zeros in the code and thus make them incorrect.

Eg. 00476 shows up in the inbox of XYZ participant and reads "Your verification code is " 476"

OR

05678 translates to 5678

This issue has had four confirmed cases on the help account. All of the participants have confirmed that their verification code emails were sent to

[2013-07-03 19:36] adamrp commented on #455
Sounds like those codes come from an excel document.  Clippy relishes f***ing up your day by super helpfully altering your carefully constructed documents.  If this is indeed the case, then the excel document should be created with a leading single quote. E.g., instead of 000005959, use '000005959

[2013-07-03 19:36] adamrp commented on #455
If there is code somewhere for generating this document, please point me at it and I'll go ahead and fix it.

[2013-07-05 17:27] ackermag opened #460 "change metadata formatting from dbase"
- GENDER to sex, calculate BMI from weight and height, remove one of these:MIGRAINEMEDS or MIGRAINE_MEDS, change all text entries to lower case

[2013-07-05 17:28] douginator2000 commented on #460
Please be more specific - what are we talking about specifically here?
Where in the app?

On Fri, Jul 5, 2013 at 11:27 AM, ackermag notifications@github.com wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-07-05 17:36] ackermag commented on #460
The download you provide me from the AGP dbase always needs manual
curation.
- Is there any way that the entries in the fields that come from the
  download can be lower case for most of the participant entered data?
- There are 2 identical columns generated MIGRAINE_MEDS and MIGRAINEMEDS -
  seems like duplication.
- Can you generate BMI before download from height, weight?

I don't know where in

[2013-07-05 22:25] adamrp opened #461 "If DB cannot be reached, web site does not load and gives no error"
It just loads a gray background and says "Done"

[2013-07-08 18:15] douginator2000 commented on #460
Gail, can you tell me specifically what fields should be lower-case?

[2013-07-08 18:25] douginator2000 commented on #460
I'm also working on the mappings between "site_sampled" and the corresponding UBERON/ENVO terms. Can you tell me what should be filled out for env_matter, env_feature, and env_biome (and any other standard fields) we can directly map for a human?

E.g. for a human stool sample, what values for each of those fields?

[2013-07-08 20:29] ackermag commented on #460
sex (Gender)
  SUPPLEMENTS_FIELDS   PETS PET_CONTACT PET_LOCATIONS RELATIONS

On Mon, Jul 8, 2013 at 12:15 PM, Doug Wendel notifications@github.comwrote:

##

Gail Ackermann
Knight Lab UCB 596
University of Colorado
Boulder

[2013-07-08 21:17] ackermag commented on #460
The following fields should be lower case:

sex (GENDER)
  SUPPLEMENTS_FIELDS   RELATIONS   PET_LOCATIONS   PET_CONTACT PETS
  MIGRAINE_MEDICATIONS   GENERAL_MEDS   DIET_RESTRICTIONS
DIABETES_MEDICATIONS   ANTIBIOTIC_MEDS   ROOMMATES   PRIMARY_VEGETABLE
PRIMARY_CARB
  FOODALLERGIES_OTHER_TEXT
CONTRACEPTIVES
  ANTIBIOTIC_CONDITION
For stool samples we enter:
body_habitat  UBERON:feces;
body_site

[2013-07-10 19:28] ElDeveloper opened #463 "Center cursor @ search stuff in wwwadmin"
As per Mike's request:

The cursor gets centered when you go to the barcode utility, it would be very useful if this was the same case for the search-stuff utility.

[2013-07-12 20:00] #397 closed, assigned to douginator2000

[2013-07-12 20:02] #461 closed, assigned to nobody

[2013-07-15 17:34] adamrp opened #464 "details for first pet on survey are not recorded"
The type of pet is recorded, but not the amount of contact or habittat.

To see this observe
select \* from ag_survey_multiples where item_name like 'pet%_1';

c.f.

select \* from ag_survey_multiples where item_name like 'pet%_2';

[2013-07-17 17:53] #395 closed, assigned to nobody

[2013-07-17 19:19] RNAer commented on #264
neither for w3m :-D
![screen shot 2013-07-17 at 1 17 35 pm](https://f.cloud.github.com/assets/1000056/814413/b4ce77da-ef15-11e2-97f3-a8c128e59323.png)

[2013-07-17 19:36] douginator2000 commented on #264
Major problems - better fix that ASAP.

On Wed, Jul 17, 2013 at 1:19 PM, Zech Xu notifications@github.com wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-07-17 19:49] RNAer opened #470 "popup a webpage to show the sample histogram instead of giving a download link"
![screen shot 2013-07-17 at 1 43 58 pm](https://f.cloud.github.com/assets/1000056/814639/b1b0c130-ef19-11e2-9b34-08f7388dd45a.png)

[2013-07-17 22:19] adamrp opened #471 "radio buttons on optional questions forms lack "value" attribute"
No matter what is selected (yes/no/not sure), the entry in the database is simply "on".  If nothing is selected, the entry in the database is null.

affected fields:
pregnancy (female optional question)
frat (living optional question)
communal dining (living optional question)
diabetes medication (diabetes optional question)
family migraines (migraines optional question)
migraine medication (migra

[2013-07-17 22:23] adamrp opened #472 "travel locations can be either numbers or names"
When someone fills in travel destinations, the first location is recorded in the database as a number corresponding to the ontology while subsequent locations (if there are any) are recorded in the database as actual country names

[2013-07-17 23:27] RNAer opened #473 "latest qiime not compatible with virtualbox qiime_web_app"
This is what I got when I tried to login http://192.168.56.101/qiime
![screen shot 2013-07-17 at 5 20 41 pm](https://f.cloud.github.com/assets/1000056/816067/4d7dabf0-ef38-11e2-99e8-8a6c1c432ad6.png)

not sure whether I should put the ticket here; just a warning. I need to roll back qiime to the commit 9531535deb4b06dbe894dc18122ada0027024812 to make it work again. Not sure which commit causes thi

[2013-07-18 02:07] douginator2000 commented on #473
This should not be a git issue. The qiime web app is not designed to work
with the most recent version of qiime. (Coming soon as part of the big
refactor.)

On Wednesday, July 17, 2013, Zech Xu wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-07-18 19:50] #286 closed, assigned to nobody

[2013-07-18 19:50] #464 closed, assigned to adamrp

[2013-07-18 19:50] #471 closed, assigned to adamrp

[2013-07-18 19:50] #472 closed, assigned to nobody

[2013-07-19 22:43] adamrp opened #475 "outgoing kit scanning utility"
Currently, it is not known unambiguously what kits were sent out and when.  When we get questions on the help account about the status of kits ('Has my kit been sent?  When?") we do not have any good answers.  This is particularly problematic for participants that have long postal turnaround times (e.g., international participants)  It would be great if we could automate that using a scanning syst

[2013-07-24 17:49] #315 closed, assigned to nobody

[2013-07-26 07:26] ElDeveloper opened #482 "Unavailable tyvek bags"
Just received an e-mail from a french participant indicating that FedEx does not provide tyvek bags in France, the suggestion made there was to use a "clinical bag". I don't know the difference between these two, but it would be worth adding a note about this in the instructions.

[2013-08-06 20:37] ElDeveloper opened #487 "Duplicate prokmsa ids"
Selecting all the studies listed below, will print the following traceback in the web portal. The meta-analysis is only trying to create an OTU table and a mapping file nothing else:

[code]

The selected studies are the following:
- Ballor_saline_environments
- Berry_MA_pond_sediment_profiles
- Biddle_Ocean_Drilling_Program_Leg_201
- Biddle_Pavilion_Lake_microbialite
- Bowatte_NZ_FreeAirCarbonEnr

[2013-08-08 14:12] ElDeveloper commented on #487
@wdwvt1 and @douginator2000 this issue seems to be resolved right?

[2013-08-08 14:14] ElDeveloper opened #489 "Reject any browser that has javascript disabled"
Given that the validations rely on this code, we cannot accept interactions from browsers that don't have javascript enabled.

Perhaps with a simple alert?

[2013-08-08 14:24] wasade opened #490 "It is possible to not select a sample site on log sample"
...and have the result stored as "Please select..."

[2013-08-08 15:54] douginator2000 commented on #487
As far as I'm aware, it's fixed.

On Thu, Aug 8, 2013 at 8:12 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-08-08 15:56] douginator2000 commented on #490
Is this a question or desired functionality?

On Thu, Aug 8, 2013 at 8:24 AM, Daniel McDonald notifications@github.comwrote:

##

Doug Wendel
Professional Research Associate
University of Colorado at Boulder
Department of Chemistry and Biochemistry, Knight Lab
303-641-5442
wendel@colorado.edu

[2013-08-08 16:50] mikewise commented on #490
I believe this is in response to the email thread that went around this
morning. We don't want users to be able to not select a sample site.
meaning, they can't proceed to log details unless they have completed all
of the fields. I think adam might have been working on this code.

On Thu, Aug 8, 2013 at 9:56 AM, Doug Wendel notifications@github.comwrote:

[2013-08-08 17:23] wasade commented on #490
This currently in place but not desired as it allows for the sample type to
be stored in the database as "Select sample type..." or whatever it is

On Thu, Aug 8, 2013 at 10:50 AM, mikewise notifications@github.com wrote:

[2013-08-08 23:34] ElDeveloper commented on #487
Sweet! :shipit:

[2013-08-08 23:34] #487 closed, assigned to nobody

[2013-08-12 13:36] wasade opened #494 "step by step guide not reflecting existing participants"
From a participant:

[code]

I've done the others and mailed the sample in a couple of months ago and would like to make sure that you received it.
Thank you.
    --------------------------------------------------------------------------------

It sounds like the check marks for the other steps are not showing up despite her kit being completed and sent in properly

[2013-08-12 13:38] mikewise commented on #494
When I log in this is the same for me.

On Mon, Aug 12, 2013 at 7:36 AM, Daniel McDonald
notifications@github.comwrote:

[2013-08-13 23:40] RNAer commented on #13
I do not see the "submit all job" if processing are completed_error (for example, try your study doug_test_study).

I changed code to show the whole "Queued Data to Load" section only if processing is finished ok. waiting to deployed on webdev.

[2013-08-13 23:46] RNAer commented on #475
then the barcode on the envelop has to be linked to the barcodes on the tubes by some way, right? it's probably better to just scan all the tubes going out?

[2013-08-14 03:15] mikewise commented on #475
It wouldn't be too hard to make a kit barcode that gets assigned when kits
are generated and stuck on the outside of the package, this could also help
kris double check her kits and make sure that none get missed.

On Tue, Aug 13, 2013 at 5:46 PM, Zech Xu notifications@github.com wrote:

[2013-08-14 20:01] ElDeveloper opened #497 "Update FAQ site"
@mikewise pointed out that with the recent changes to the GUI, some sections of the FAQ page are now outdated.

[2013-08-14 20:16] adamrp commented on #475
Scanning all the barcodes going out doesn't sound too bad, and is probably less work in terms of new development. In the case of multi-sample kits, we could have it so that scanning any one barcode in a kit marks the entire kit as shipped.

[2013-08-14 20:22] RNAer commented on #475
+1

On Wed, Aug 14, 2013 at 2:16 PM, adamrp notifications@github.com wrote:

[2013-08-14 20:23] mikewise commented on #475
There is about a day or so staging period after kits have been sealed when
there needs to be a re-check...so that might pose a problem.

On Wed, Aug 14, 2013 at 2:16 PM, adamrp notifications@github.com wrote:

[2013-08-14 20:34] adamrp commented on #475
Well, we could have a "Ready to ship" state, and then after that two day period, shift all kits that are in the "ready to ship" state to "shipped" state.

[2013-08-14 22:28] #489 closed, assigned to nobody

[2013-08-16 17:13] adamrp commented on #490
This was fixed via #491.

[2013-08-16 17:13] #490 closed, assigned to nobody

[2013-08-16 21:02] #497 closed, assigned to nobody

[2013-08-21 17:03] megalodonatron commented on #482
We should probably ask Gail first if that is acceptable.

[2013-08-21 17:04] megalodonatron commented on #475
:+1:

[2013-08-21 17:18] ElDeveloper commented on #482
Yeah @ackermag are there any restrictions regarding this?

[2013-08-21 17:30] ackermag commented on #482
No - sounds like that is a good alternative.  IRB will have no problem

On Wed, Aug 21, 2013 at 11:18 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

##

Gail Ackermann
Knight Lab UCB 596
University of Colorado
Boulder

[2013-08-21 17:40] ElDeveloper commented on #482
Fantastic!

El 21/08/2013, a las 11:30, ackermag notifications@github.com escribió:

[2013-08-23 17:04] megalodonatron opened #502 "Add address to international shipping page"
Need to have our address on the international shipping info page

[2013-08-23 19:07] megalodonatron opened #503 "Add source links in menu available when kit not verified"
Need to add logic around the "add source" links in the menu so that they don't show up if the kit is not yet verified.

[2013-08-23 19:08] megalodonatron commented on #503
Should also add functionality so that you can't click on any other step tabs until you have verified

[2013-08-27 16:55] adamrp opened #504 "collate_per_study_seqs improvements"
First, it should collate qual information along with the sequences.  We've had several requests for this, especially lately, and I think it makes sense to make this information standardly available.

Second, when a study is collated using the -p flag, the study might as well be made public in the database (i.e., all the samples in the study should be marked as public).

[2013-08-27 16:59] adamrp commented on #504
I guess the first issue can be addressed with the -f option, I was not aware of that.  It is False by default, but maybe we would like it to be True?

[2013-08-27 17:12] ElDeveloper commented on #504
I think this is a good idea to set -f by default to true.

Additionally every time the metadata is updated, the study should be collated. Every time the study is re-loaded, the study should be re-collated.

This is related to #2.

El 27/08/2013, a las 10:55, adamrp notifications@github.com escribió:

[2013-08-27 17:24] adamrp opened #505 "procedure ag_delete_participant does not remove samples properly"
The sample's sample_data field is not set back to blank, which is causing issues with people who edit their survey or remove their participant.

[2013-08-27 18:12] adamrp commented on #505
the ag_delete_participant procedure deletes all samples for that participant.  This procedure needs to be broken up into two procedures: delete_participant and remove_samples_from participant.  In the case of the survey edit, we want to delete the participant (which will then be recreated with the new information from the survey) but not remove the samples.

[2013-08-28 18:52] adamrp opened #507 "Ironic Typo in database"
The value for controlled vocabulary ID 4 is "Nose/Throad Disorders"

[2013-08-28 22:11] wasade opened #508 "on load, metadata should be checked for"
- newlines
- non-ascii characters
- any other oddities

[2013-09-06 18:00] #463 closed, assigned to nobody

[2013-09-18 16:42] RNAer opened #517 ""edit existing barcode" and "scan barcode" in wwwadmin should be merged"
for less redundancy

[2013-09-25 17:55] ElDeveloper opened #519 "QIIME scripts and libraries used in the code base."
This is not an extensive list but coves the most important bits.

Overall qiime.util, qiime.parse and qiime.workflow are heavily used. And note
that the version of QIIME that the DB is using is not the latest of QIIME.

Scripts:
    alpha_rarefaction.py
    beta_diversity_through_plots.py
    make_otu_heatmap.py
    process_sff.py
    split_libraries.py
    summarize_taxa_through_plots.py
    subm

[2013-10-08 06:34] jwdebelius opened #522 "American Gut website verification confuses people with its green checks"
Only the kit verification step changes. We get 3 - 4 questions per week.

[2013-10-08 14:47] wasade commented on #522
@meganap would it be possible to remove the check mark on step 1?

[2013-10-09 22:43] adamrp opened #524 "wwwadmin site cannot be used to update participant name"
The SQL statement is like this:

update ag_human_survey set participant_name = '<new name>' where ag_login_id = 'xxxx' and participant_name = '<new_name>'

(See ag_data_access.updateAGSurvey)

This won't work because there is no participant with <new_name> for that login_id (presumably), so no rows are updated. This can be fixed by special casing the form input for participant name.

[2013-10-11 16:20] megalodonatron commented on #522
Pull req is in for this fix

[2013-10-14 16:27] adamrp opened #528 "Shipping address is not listed on the website"
Should be in the shipping tab, or the FAQ... probably both.

[2013-10-15 15:42] #528 closed, assigned to nobody

[2013-10-15 16:25] #372 closed, assigned to nobody

[2013-10-16 06:01] #505 closed, assigned to nobody

[2013-10-21 17:11] #522 closed, assigned to nobody

[2013-11-11 23:06] wasade opened #536 "Nuke the cat on wwwadmin"
please

[2013-11-12 18:24] ElDeveloper commented on #444
Closing this as it was fixed in #516 by @RNAer.

[2013-11-12 18:24] #444 closed, assigned to nobody

[2013-11-13 17:57] teravest opened #540 "Prevent multiple log-ins"
We need to prevent multiple logs-ins from the same browser

[2013-12-02 17:18] ElDeveloper opened #546 "Support for Internet Explorer 9 is buggy"
Some users have reported that this is the case and that the website is not rendered/working correctly.

[2013-12-02 17:19] ElDeveloper commented on #546
Note that I tried to replicate this problem under my Windows XP and Windows 8 machines, but was not able to replicate this. This seems like there are confounding factors to this problem but I feel inclined to point IE as the main problem.

[2013-12-05 15:02] teravest opened #547 "Metadata generator currently returns http:term instead of Ontologyshortname:term"
The results from Bioportal changed at some point, Gail said at least a year ago and this has been unusable ever sense.

[2013-12-05 20:58] wasade commented on #547
Seems fine, but I'm not very familiar with those blocks of code. @adamrp or @ElDeveloper, thoughts?

[2013-12-12 22:55] teravest opened #549 "update ontologies"
the ontology terms in our database need updated

[2013-12-13 17:45] #549 closed, assigned to nobody

[2013-12-13 18:56] adamrp opened #552 "wwwadmin assign user to studies interface needs update"
It's too easy to blow away all associations for a user.  Will update the interface so it's more like the metadata selection phase of a meta-analysis on the QIIME/EMP database.

[2013-12-18 20:14] #552 closed, assigned to adamrp

[2013-12-26 17:38] #536 closed, assigned to nobody

[2013-12-27 19:46] teravest opened #555 "Cannot revalidate ontologies in metadata validator"
currently the only way to fix a problem with an ontology term is to edit the spreadsheet, rezip, and upload again.

[2013-12-31 16:44] wasade opened #558 "Confusion over the template email for incomplete samples"
There is a substantial amount of confusion still over the template email for incomplete samples as to if the sample still needs to be logged or if there is missing consent

[2013-12-31 20:57] #555 closed, assigned to teravest

[2013-12-31 21:00] #547 closed, assigned to teravest

[2014-01-02 20:14] teravest opened #559 "Remove code sepcific to user id"
There are some links for EBI submission that only display if Doug is logged in.  I am going to remove that code as it is no longer used, and @adamrp said the preferred method for EBI submissions is command line and screen.

[2014-01-02 21:59] wasade opened #560 "wwwadmin doesn't show pet samples as associated to participants"
See sample 000012213, which is associated to a pet survey in the web interface but doesn't appear to be associated to a survey in wwwadmin

[2014-01-02 22:15] adamrp commented on #560
Are you talking specifically about Edit Participant, or are you noticing
the problem elsewhere, too?

On Thu, Jan 2, 2014 at 2:59 PM, Daniel McDonald notifications@github.comwrote:

[2014-01-02 22:16] teravest opened #561 "Add link to vamps in database"
adding link to vamps code

[2014-01-02 22:47] wasade commented on #560
check that sample on wwwadmin, the pet survey doesn't show up

On Thu, Jan 2, 2014 at 3:15 PM, adamrp notifications@github.com wrote:

[2014-01-02 22:48] adamrp commented on #560
Do you mean when you do a search?  Or when you click edit participant?
 What are you trying to do?

On Thu, Jan 2, 2014 at 3:47 PM, Daniel McDonald notifications@github.comwrote:

[2014-01-04 00:12] wasade opened #563 "Add the results addendum to the American Gut results page"
AFAIK, the results are downloadable but the addendum isn't available as a link.

[2014-01-06 16:48] megalodonatron opened #565 "Automatic password reset"
It would be nice to have a systematic password reset mechanism so if people forget their passwords we don't have to deal with it in the help account.

[2014-01-06 17:41] teravest opened #566 "Update sample taking documentation on the website"
I found a typo on the website version of the sample taking documentation
"For a fecal sample, rub both cotton tips on a fecal specimen (a used piece ofbathroom tissue). "

This is different from the paper documentation that gets sent out. Are they separate files or do we just need to update the web?  Thoughts @wasade @meganap

[2014-01-06 18:19] ElDeveloper commented on #565
There's a change password button in the sidebar but you have to be logged in to be able to see this. I guess we probably want something that sends them an e-mail with their new password?

On Jan 6, 2014, at 9:48 AM, Meg Pirrung notifications@github.com wrote:

[2014-01-06 18:29] adamrp commented on #565
Is this worth developer effort?  I don't think I have ever had to do this
for anyone.

Adam

On Mon, Jan 6, 2014 at 11:19 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-01-06 18:36] megalodonatron commented on #565
I've answered many "I forgot my password" emails every time that I've been AG help master, but if no one else has that experience then don't worry about it.

[2014-01-06 18:39] ElDeveloper commented on #565
I'm not sure if this is "worth the developer effort", that's a rather delicate question, though I do agree with Meg that this is a question that I've seen. Additionally it seems counterintuitive to have to know your password to be able to reset your password, or at least it seems to me because I commonly do this with my accounts in different websites.

On Jan 6, 2014, at 11:36 AM, Meg Pirrung noti

[2014-01-06 18:42] adamrp commented on #565
Oh, sorry, I didn't realize this was for the American Gut, thought it was
just the web app in general.

Note that the "change password" link is not intended to be a "reset
password" pipeline.  Having an automated system would be awesome.  Would
likely involve a new database table with timestamp, email address, and
shared secret.  In fact, it would be cool to do this for the kit
verification code,

[2014-01-06 18:55] adamrp commented on #566
I believe those are separate files, so whatever changes need to be made
should be made in both places.

Adam

On Mon, Jan 6, 2014 at 10:41 AM, teravest notifications@github.com wrote:

[2014-01-06 19:11] wasade commented on #565
I agree that the cumulative sum responding to forgotten password requests
is quite high. Yoshiki or Adam, do either of you have an estimate on the
amount of developer effort necessary to expose this functionality?

On Mon, Jan 6, 2014 at 11:39 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-01-06 19:34] adamrp commented on #565
Can get a rudimentary system in place, but what is the full list of
features we want?  Here's what I'm thinking:
- On index.psp, add link for "reset password"
- Small form for "Enter your email address here, and we will send you a
  link to reset your password"
- Another small form (after the user has clicked the link) to enter a new
  password

And some thoughts:
- Need to add columns to ag_kit t

[2014-01-06 19:39] wasade commented on #565
Possible to piggy back off the existing system for the qiime webapp?

That sounds reasonable. Do you by chance have a rough estimate of developer
hours needed?

On Mon, Jan 6, 2014 at 12:34 PM, adamrp notifications@github.com wrote:

[2014-01-06 19:53] adamrp commented on #565
Oo, yeah, just took a look at that and that's pretty much what I am
describing.  I don't think we can rip it directly, but probably with just a
little modification.  I won't know about how much time it will take until I
have a look at the code that's currently in place.

On Mon, Jan 6, 2014 at 12:39 PM, Daniel McDonald
notifications@github.comwrote:

[2014-01-06 20:59] adamrp commented on #560
@wasade, note that editing of pet surveys is not currently supported anywhere (either by the user or on wwwadmin) and requires access to the database.  Is that what you were aiming to do here?

[2014-01-06 21:01] wasade commented on #560
No. On wwwadmin, the sample 000012213 is associated with the pet Borte but
Borte does not appear to have an associated survey according to the
interface

On Mon, Jan 6, 2014 at 1:59 PM, adamrp notifications@github.com wrote:

[2014-01-06 21:16] adamrp commented on #560
What part of the interface are you talking about?

On Mon, Jan 6, 2014 at 2:01 PM, Daniel McDonald notifications@github.comwrote:

[2014-01-06 21:19] wasade commented on #560
The details for the kit that lists the kit ids, barcodes, etc. Each human
participant that has an associated survey is listed at the top. There is no
indication that "Borte" has any association with a valid survey. What would
be fantastic is if there was an indication that there was an actual survey
associated with the pet.

On Mon, Jan 6, 2014 at 2:16 PM, adamrp notifications@github.com wrote:

[2014-01-07 16:09] #561 closed, assigned to teravest

[2014-01-07 20:05] megalodonatron opened #568 "Agnostic link in the sidebar menu that says "Log Sample...""
And provides
-a dropdown of human, animal, environmental
-a dropdown of available sources

If there are no available sources it should have some sort of warning and direct the user to add sources

Should not be visible if
-the kit is not verified
-no sources have been added

[2014-01-07 20:12] teravest commented on #568
I agree logging the sample should be clearer on the website,  but if you
are responding to help account requests right now this faq
http://www.microbio.me/americangut/FAQ.psp#faq3 has the best instructions I
have seen.

On Tue, Jan 7, 2014 at 1:05 PM, Meg Pirrung notifications@github.comwrote:

[2014-01-07 20:14] megalodonatron commented on #568
Yeah someone on the help account asked that I suggest to the dev team to have a better way of logging samples and I promised to open a ticket :rabbit:

[2014-01-07 20:25] wasade commented on #568
Are these changes that you'd be able to implement?

On Tue, Jan 7, 2014 at 1:14 PM, Meg Pirrung notifications@github.comwrote:

[2014-01-07 20:31] megalodonatron commented on #568
Yep, I was just about to start working on it.

[2014-01-07 20:32] wasade commented on #568
Awesome, thanks

On Tue, Jan 7, 2014 at 1:31 PM, Meg Pirrung notifications@github.comwrote:

[2014-01-07 20:39] adamrp opened #569 "Replicate EBI/VAMPS links to "Get Study Summary and Raw Data" section"

[2014-01-07 20:40] ElDeveloper commented on #569
:+1:

[2014-01-07 20:41] teravest commented on #569
This code is in study_summary.py  and then data_access.getQiimeSffDbSummary(study_id)

[2014-01-07 21:04] adamrp opened #570 "Change title of "Addendum" in the menu"
maybe something like "Help interpreting my results," which then brings the user to the addendum document

[2014-01-08 20:50] megalodonatron commented on #570
:+1:

[2014-01-08 20:55] megalodonatron commented on #570
Speaking of this sort of thing, the menu is getting kind of cluttered now and it might be better to have some top level category to keep things like
- AG 101
- Prelim results
- Addendum

Also the lefthand menu when you're logged out has completely different styling than when you're logged in, should probably make this consistent

[2014-01-08 21:15] ElDeveloper commented on #570
:+1:

[2014-01-08 23:58] adamrp commented on #570
I agree with all these suggestions.

On Wed, Jan 8, 2014 at 2:15 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-01-09 18:34] #569 closed, assigned to teravest

[2014-01-09 20:02] teravest opened #574 "Change survey to ask female specific questions when gender != male"
Currently the american gut survey only asked female specific questions if gender == female.  I think they should be asked if gender is unspecified or other.

[2014-01-09 21:56] adamrp opened #576 "small menu changes"
- Change the "Join the project" link to open in a new tab
- The menu on addendum.psp has different styling than the other menus

[2014-01-10 16:29] teravest opened #577 "Link to human microbiome FAQ"
@rob-knight  suggested we link to this document in AG materials.

Maybe this should go in with the menu changes @meganap is working on.  I think there should be a link to it in the menu when you are not logged in and when you are logged in.

http://academy.asm.org/images/stories/documents/FAQ_Human_Microbiome.pdf

[2014-01-10 18:53] megalodonatron opened #578 "Using popup messages for edit survey is possibly messed up in Chrome"
You can't edit a survey in chrome because the popup that you need to click ok to continue never shows up

The relevant error is:

[code]

[2014-01-10 19:14] teravest commented on #578
I have been editing surveys in chrome all morning without an issue.

On Fri, Jan 10, 2014 at 11:53 AM, Meg Pirrung notifications@github.comwrote:

[2014-01-10 19:15] megalodonatron commented on #578
Weird, it may be some plugin or popup blocker that I have.

[2014-01-10 21:03] megalodonatron commented on #578
Can anyone else test this and see? I click the "edit" button after clicking on a participant from the human participants menu and nothing happens.

[2014-01-10 21:47] ElDeveloper commented on #578
Not happening on my computer. Just tried it out with Chrome.

On Jan 10, 2014, at 2:03 PM, Meg Pirrung notifications@github.com wrote:

[2014-01-10 21:48] megalodonatron commented on #578
K I'm closing it then, I suspect it's just my chrome but this should just be an FYI for any help account people who are saying that they can't start/edit surveys, as thats why I checked on this issue.

[2014-01-10 21:48] #578 closed, assigned to nobody

[2014-01-10 22:20] ElDeveloper commented on #578
Oh, hmm that's odd. And the browser they are using is also Chrome? Just so we have some sort of documentation about this, I tested using 31.0.1650.63.

On Jan 10, 2014, at 2:48 PM, Meg Pirrung notifications@github.com wrote:

[2014-01-10 22:23] megalodonatron commented on #578
This is their exact message:

---

I am unable to enter a new human source.  The directions included in my packet indicate that there should be an "Add Participant" option in the lefthand tool bar, but there is not.  Alternatively, I've tried clicking through the Human Source page, which says I'll be beginning now as soon as I click "Continue."  However, clicking continue does nothing.  I've tried

[2014-01-11 00:53] megalodonatron opened #579 "Some samples show results yet haven't been marked as received"
This should be impossible because you can only have sequenced and analyzed the sample if it was received. Is this an artifact from before the barcode scanner util? If so, all samples that have results should automatically be marked as received.

[2014-01-12 18:40] adamrp commented on #578
@teravest, do you mean you have been editing them in wwwadmin, or on the
participant site via the edit survey link?

On Fri, Jan 10, 2014 at 12:15 PM, Meg Pirrung notifications@github.comwrote:

[2014-01-12 18:41] adamrp commented on #579
likely an artifact, yes -- I agree that all samples that have results
should be marked as received.  If there are no objections, I can do this
tonight or tomorrow.

Adam

On Fri, Jan 10, 2014 at 5:53 PM, Meg Pirrung notifications@github.comwrote:

[2014-01-12 18:47] adamrp commented on #578
@teravest never mind -- I didn't see all these other messages in my inbox in gmail, but now I see there's been a whole discussion here!  Anyways, I also do not have any issues editing a survey, nor do I have any problem clicking "continue" on the Add Human Source page (no javascript errors, either). I have the exact same version of chrome as Yoshiki, however -- perhaps this person has an older ver

[2014-01-13 16:19] ElDeveloper commented on #579
:+1:

[2014-01-13 18:39] adamrp commented on #579
Done.

On Mon, Jan 13, 2014 at 9:19 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-01-13 18:39] #579 closed, assigned to nobody

[2014-01-13 19:59] #524 closed, assigned to nobody

[2014-01-13 21:54] ElDeveloper opened #580 "Tests for study_summary.py does not cover get_sample_summary_html"
The test suite should be expanded to test `get_sample_summary_html`.

Currently there's an error with a missing `+\` in line 211 but it's currently not being shown when you run the unit tests.

[2014-01-13 22:14] teravest opened #583 "Remove info about freezing samples from FAQ"
I am updating the FAQ as we talked about in the AG meetings today

[2014-01-13 22:31] #583 closed, assigned to teravest

[2014-01-13 22:32] adamrp opened #585 "Improve Google API limit checking for wwwadmin geocoding"
See recommendation on this page -- currently, we are hitting the too many requests per second problem, limiting our ability to update geocoding information in bulk.

"Upon receiving a response with status code OVER_QUERY_LIMIT, your application should determine which usage limit has been exceeded. This can be done by pausing for 2 seconds and resending the same request. If status code is still OVE

[2014-01-13 22:51] ElDeveloper commented on #585
+1

Yoshiki Vázquez-Baeza

[2014-01-15 16:45] teravest opened #587 "Make it easier to view results"
I had 2 emails on the help account about viewing results today.  The barcode number is a link but it is not link formatted.  It is just plain text.  Making the barcode look like a link will ease some confusion.

[2014-01-16 17:52] ElDeveloper opened #589 "Your results are ready link won't work in all browsers"
I have not been able to confirm this myself but a lot of people is reporting problems with this feature. The problem seems to indicate that the link takes them either to the login site or to the home page of the participant website.

I would be ok with closing this issue if we can verify in a couple browsers IE, Opera, Firefox, etc that this is indeed working for all of these browser.

[2014-01-16 19:42] adamrp commented on #589
It works for me, as long as I only have one tab open accessing the site.
 However if I open one tab, see the link, then open another tab, then click
the link, it brings me to the login page.

What do you mean by the "homepage of the participant"?

On Thu, Jan 16, 2014 at 10:52 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-01-16 19:48] ElDeveloper commented on #589
"homepage of the participant" -> the site that they are taken to once they successfully login.

Thanks,

Yoshiki.

On Jan 16, 2014, at 12:42 PM, adamrp notifications@github.com wrote:

[2014-01-16 20:36] adamrp commented on #589
It sounds like a session thing resulting from having more than one tab
open, but I obviously can't be certain since I can't replicate the issue
exactly.  Can anyone else test?

On Thu, Jan 16, 2014 at 12:48 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2014-01-17 15:22] ElDeveloper opened #590 "Add disclaimer to the taxa summaries"
From @wasade:

[2014-01-17 16:23] teravest commented on #589
This has been reported in Explorer, Safari and Chrome.  However one person said it worked in Chrome but not Explorer.  I asked the person who said it didn't work in Chrome to try updating Chrome.

[2014-01-17 16:58] ElDeveloper commented on #589
Cool, might be a good idea to try and ask them for the version of the browser that they are using.

@wasade, @adamrp, @JWDebelius, just a heads up that this has consistently been a known issue for some people.

On Jan 17, 2014, at 9:23 AM, teravest notifications@github.com wrote:

[2014-01-17 18:25] adamrp commented on #590
If we are happy with this exact wording (I think it sounds good as is), I can take care of this today.

[2014-01-17 20:21] #590 closed, assigned to adamrp

[2014-01-17 21:17] teravest commented on #589
So far Firefox is the only browser not to be complained about.

[2014-01-21 02:28] adamrp opened #592 "Add information about taxonomy reference to detailed taxa summary page"
A participant suggested adding more information about the prefixes (e.g., k__, p__, etc.) on the downloadable taxa summary.  I think this is a good idea, and we might as well just link out to Greengenes from the summary page.